.platform-win #app-mount .typeWindows-2-g3UY + .app-3xd6d0 {
	.layer-86YKbF {
		top: 0;
		padding-top: 0;
		&.baseLayer-W6S8cY {
			padding-top: calc(var(--win-btn-height) + 4px) !important;
		}
	}
	.standardSidebarView-E9Pc3j {
		top: 0;
	}
}

.typeWindows-2-g3UY {
	height: var(--win-btn-height);
	z-index: 2;
	background: transparent;
	position: fixed;
	width: calc(100% - 72px - var(--server-size));
	user-select: none;
	pointer-events: none;
	right: 0;
}
.winButton-3UMjdg {
	height: calc(var(--win-btn-height) + 4px);
	width: var(--win-btn-width);
	cursor: var(--cursor);
}
.wordmarkWindows-2dq6rw {
	display: none;
}