:root {
  --fluent-version: "0.0.5 [BETA]";
  --background-1: #171717;
  --background-2: #202020;
  --background-3: #272727;
  --background-4: #2b2b2b;
  --background-5: #2f2f2f;
  --background-6: #2d2d2d;
  --background-7: #343434;
  --background-8: #3a3a3a;
  --background-9: #484848;
  --border: #1d1d1d;
  --border-high: #3b3b3b;
  --pill-unread: #9a9a9a;
  --pill-hovered: #fff;
  --btn-bg: var(--background-4);
  --btn-bg-hover: var(--background-7);
  --scrollbar-background: hsl(0 0% 50%);
  --elevation-1: 0px 8px 16px hsl(0 0% 0% / .14);
  --elevation-2: 0px 10px 14px 2px hsl(0 0% 0% / .24);
  --textbox-bg: #2f2f2f;
  --textbox-bg-hover: #333333;
  --textbox-border: hsl(0 0% 100% / .045);
  --textbox-underline: #a1a1a1;
  --rounded-high: 8px;
  --rounded: 4px;
  --font-weight-light: 300;
  --font-weight-semilight: 350;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --text-size-caption: 12px;
  --text-size-body: 14px;
  --text-size-body-large: 18px;
  --text-size-subtitle: 20px;
  --text-size-title: 28px;
  --text-size-title-large: 40px;
  --line-height: 16px;
  --line-height-md: 20px;
  --line-height-lg: 24px;
  --line-height-xl: 28px;
  --line-height-2xl: 36px;
  --line-height-3xl: 52px;
  --font-display: "Segoe UI", sans-serif;
  --font-primary: "Segoe UI", sans-serif;
  --cursor: default;
  --server-container: 16px;
  --win-btn-height: 32px;
  --win-btn-width: 52px;
  --discord-pink: 302 calc(var(--saturation-factor, 1) * 100%) 72.5%;
  --discord-red: 359 calc(var(--saturation-factor, 1) * 82.6%) 59.4%;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light"), url("https://discordstyles.github.io/Fluent/fonts/light.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semilight"), url("https://discordstyles.github.io/Fluent/fonts/semilight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url("https://discordstyles.github.io/Fluent/fonts/normal.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semibold"), url("https://discordstyles.github.io/Fluent/fonts/semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), url("https://discordstyles.github.io/Fluent/fonts/bold.woff2") format("woff2");
  font-weight: 700;
}
html, span:not([class*=spinner-]):not([class*=spinnerItem]) {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body,
.appMount-3lHmkl,
.bg-h5JY_x {
  background: var(--background-2);
}

.clickable-536fPF {
  cursor: var(--cursor);
}

[aria-label=USER_SETTINGS] .info-1VyQPT > span:first-child::before {
  display: block;
  content: "Fluent v" var(--fluent-version);
  text-transform: none;
}

#app-mount .tooltip-2QfLtc {
  box-shadow: var(--elevation-2);
  font-size: 14px;
  border-radius: var(--rounded);
}
#app-mount .tooltipContent-bqVLWK {
  padding: 6px 8px;
}
#app-mount .tooltipPointer-3ZfirK {
  border-top-color: var(--border-high);
}
#app-mount .tooltipPrimary-1d1ph4 {
  border: 1px solid var(--border-high);
  background: var(--background-6);
}
#app-mount .guildNameText-3Zwx4p,
#app-mount .tooltipContent-bqVLWK {
  font-weight: 500;
}

.chatContent-a9vAAp .scroller-2LSbBU::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.chatContent-a9vAAp .scroller-2LSbBU::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-background);
}

#app-mount .container-1r6BKw {
  background: var(--background-2);
}
#app-mount .children-19S4PO::after {
  content: none;
}
#app-mount .search-2oPWTC {
  border-radius: var(--rounded);
  overflow: hidden;
}
#app-mount .searchBar-3dMhjb {
  background: var(--textbox-bg);
  border: 1px solid var(--textbox-border);
  height: 30px;
  padding: 0;
}
#app-mount .searchBar-3dMhjb .DraftEditor-root {
  padding-top: 4px;
}
#app-mount .searchBar-3dMhjb .public-DraftEditor-content,
#app-mount .searchBar-3dMhjb .public-DraftEditorPlaceholder-root {
  padding-left: 8px;
  padding-right: 8px;
}
#app-mount .searchBar-3dMhjb .icon-38sknP {
  height: 28px;
}
#app-mount .searchBar-3dMhjb::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--textbox-underline);
}
#app-mount .searchBar-3dMhjb:hover {
  background: var(--textbox-bg-hover);
}
#app-mount .searchBar-3dMhjb:focus-within {
  background: var(--background-3);
}
#app-mount .searchBar-3dMhjb:focus-within::before {
  height: 2px;
  background: rgb(var(--accent));
}

.typeWindows-1za-n7 {
  height: var(--win-btn-height);
}

.winButton-iRh8-Z {
  height: calc(var(--win-btn-height) + 4px);
  width: var(--win-btn-width);
}

#app-mount .guilds-1SWlCJ {
  margin-left: var(--server-container);
}
#app-mount .scroller-1Bvpku {
  background: var(--background-2);
}

#app-mount .guilds-1SWlCJ .listItem-2Ig28I foreignObject {
  -webkit-mask: none;
          mask: none;
  border-radius: var(--rounded-high);
}
#app-mount .guilds-1SWlCJ .wrapper-25eVIn {
  border-radius: var(--rounded);
  cursor: var(--cursor);
}
#app-mount .guilds-1SWlCJ [class*=pill] {
  width: 4px;
  margin-left: 0px;
}
#app-mount .guilds-1SWlCJ [class*=pill] span {
  height: 50% !important;
  width: 100% !important;
  transform: scale(0, 1) !important;
  transition: 0.15s ease !important;
  margin-left: 0;
  border-radius: var(--rounded-high);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 0"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 1"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 2"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 3"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 4"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 5"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 6"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 7"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 8"] {
  transform: scale(1, 0.24) !important;
  background: var(--pill-unread);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 9"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 10"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 11"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 12"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 13"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 14"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 15"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 16"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 17"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 18"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 19"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 20"] {
  transform: scale(1, 0.7) !important;
  background: var(--pill-hovered);
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
  background: rgb(var(--accent));
}
#app-mount .guilds-1SWlCJ .svg-1X37T1,
#app-mount .guilds-1SWlCJ .wrapper-25eVIn {
  border-radius: var(--rounded-high);
}
#app-mount .childWrapper-anI2G9 {
  background: var(--background-7);
}
#app-mount .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background: rgb(var(--accent));
}
#app-mount .circleIconButton-hZmpE8 {
  background: var(--background-7);
}
#app-mount .circleIconButton-hZmpE8.selected-3mFF3I {
  background: rgb(var(--accent));
}

#app-mount .wrapper-shyHJt {
  width: var(--server-container);
}
#app-mount .folderIconWrapper-1Ml_1q {
  border-radius: var(--rounded);
}
#app-mount .expandedFolderBackground-3ZDF05 {
  border-radius: var(--rounded-high);
  height: 100%;
  background: var(--background-7);
}
#app-mount .folder-2w6LX1 {
  background: var(--background-7);
  cursor: var(--cursor);
}
#app-mount .guildIcon-d5nahd {
  border-radius: 2px;
}
#app-mount [id^=folder-items][role=group] {
  height: auto !important;
}

#app-mount .sidebar-2K8pFh {
  width: var(--channels-width);
  background: var(--background-2);
  margin: 0 16px;
}
#app-mount .container-3w7J-x {
  background: var(--background-2);
}

#app-mount .wrapper-2jXpOf:hover .content-1x5b-n {
  background: var(--background-4);
}
#app-mount .wrapper-2jXpOf:hover .content-1x5b-n .icon-1DeIlz {
  color: var(--interactive-normal);
}
#app-mount .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n {
  background: var(--background-4);
}
#app-mount .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .icon-1DeIlz {
  color: var(--interactive-active);
}
#app-mount .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 16px;
  left: 0;
  background: rgb(var(--accent));
}
#app-mount .content-1x5b-n {
  border-radius: var(--rounded);
  margin-left: 0;
  margin-right: 0;
  padding: 0 16px;
}
#app-mount .mainContent-u_9PKf {
  padding: 8px 0;
  cursor: var(--cursor);
}
#app-mount .unread-2lAfLh {
  border-radius: 50px;
  left: 0;
  width: 4px;
  height: 10px;
  margin-top: 0;
  transform: translateY(-50%);
  background: var(--pill-unread);
  z-index: 1;
}

.containerDefault-3tr_sE {
  margin: 0;
}

#app-mount .sidebar-2K8pFh .content-3YMskv > div[style="height: 84px;"] {
  margin-top: 42px;
}
#app-mount .container-1taM1r {
  margin: 0 0 16px;
}
#app-mount .header-2V-4Sw {
  background: var(--btn-bg);
  box-shadow: none;
  border-radius: var(--rounded);
  border: 1px solid var(--border);
  transition: none;
  cursor: var(--cursor);
  filter: none;
}
#app-mount .header-2V-4Sw:hover {
  background: var(--btn-bg-hover);
}
#app-mount .animatedContainer-1NSq4T {
  background: transparent;
  box-shadow: none;
  width: var(--channels-width);
  height: 200px;
}
#app-mount .bannerImage-3KhIJ6 {
  border-radius: var(--rounded);
  overflow: hidden;
  width: 100%;
  margin-top: 64px;
}
#app-mount .bannerImage-3KhIJ6 img {
  width: 100%;
}
#app-mount .bannerImage-3KhIJ6::before {
  content: none;
}

#app-mount .panels-j1Uci_ {
  background: transparent;
  background: var(--background-3);
  border-radius: var(--rounded);
  border: 1px solid var(--border);
  margin-bottom: 16px;
}
#app-mount .container-1giJp5:only-child {
  border: none;
}
#app-mount .container-3baos1 {
  padding: 0 8px;
}

#app-mount .privateChannels-1nO12o {
  background: transparent;
}
#app-mount .scroller-1JbKMe {
  background: transparent;
}
#app-mount .channel-2QD9_O {
  max-width: unset;
  margin: 0;
}
#app-mount .channel-2QD9_O .layout-2DM8Md {
  cursor: var(--cursor);
  height: 52px;
  padding: 0 18px;
}
#app-mount .channel-2QD9_O .content-3QAtGj {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#app-mount .channel-2QD9_O:hover .layout-2DM8Md {
  background: var(--background-4);
}
#app-mount .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md {
  background: var(--background-4);
}
#app-mount .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md::before {
  content: "";
  border-radius: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 16px;
  left: 0;
  background: rgb(var(--accent));
}

#app-mount .chat-3bRxxu {
  background: var(--background-2);
}
#app-mount .content-yTz4x3::before {
  content: none;
}
#app-mount .chatContent-a9vAAp {
  background: var(--background-3);
  border: 1px solid var(--border);
  border-bottom: none;
  border-radius: var(--rounded-high) var(--rounded-high) 0 0;
  margin: 0 16px;
}
#app-mount .chatContent-a9vAAp:only-child {
  margin-right: 0;
  border-top-right-radius: 0;
}
#app-mount .scrollerSpacer-avRLaA {
  height: 0;
}

#app-mount .message-2qnXI6.selected-2P5D_Z.cozyMessage-3V1Y8y .contents-2mQqc9 {
  display: block;
  width: 100%;
}
#app-mount .message-2qnXI6.selected-2P5D_Z.cozyMessage-3V1Y8y .contents-2mQqc9 .channelTextArea-3bF57p {
  margin-top: 0;
}
#app-mount .message-2qnXI6.selected-2P5D_Z.cozyMessage-3V1Y8y .contents-2mQqc9 .slateTextArea-1Mkdgw {
  padding-top: 0;
}
#app-mount .operations-36ENbA {
  padding: 12px;
}
#app-mount .cozy-3raOZG .avatar-1BDn8e {
  left: 32px;
  margin-top: 0;
}
#app-mount .cozy-3raOZG .contents-2mQqc9 > .messageContent-2qWWxC:not(:empty) {
  margin-left: 0;
  padding: 12px 16px;
  background: var(--background-5);
  border-radius: var(--rounded);
  display: inline-block;
}
#app-mount .cozy-3raOZG .container-3-pyIM {
  padding: 0;
}
#app-mount .cozy-3raOZG.groupStart-23k01U .contents-2mQqc9 {
  background: var(--background-5);
  display: inline-block;
  border-radius: var(--rounded) var(--rounded);
}
#app-mount .cozy-3raOZG.groupStart-23k01U .contents-2mQqc9 .header-23xsNx {
  padding: 12px 16px 2px;
}
#app-mount .cozy-3raOZG.groupStart-23k01U .contents-2mQqc9 .messageContent-2qWWxC:empty {
  margin-top: 8px;
  display: block;
}
#app-mount .cozy-3raOZG.groupStart-23k01U .contents-2mQqc9 .messageContent-2qWWxC:not(:empty) {
  padding-top: 0;
}
#app-mount .cozy-3raOZG.isSystemMessage-2MkNHd .messageContent-2qWWxC {
  padding: 16px !important;
}
#app-mount .cozy-3raOZG.wrapper-2a6GCs {
  padding-left: 88px;
  padding-right: 78px !important;
}
#app-mount .cozy-3raOZG[data-is-author-self=true] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#app-mount .cozy-3raOZG[data-is-author-self=true] .contents-2mQqc9 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgb(var(--accent), 0.05);
}
#app-mount .cozy-3raOZG[data-is-author-self=true] .contents-2mQqc9 > .messageContent-2qWWxC {
  background: transparent;
}
#app-mount .cozy-3raOZG[data-is-author-self=true] .container-3hZ-gs {
  justify-self: flex-end;
}
#app-mount .cozy-3raOZG[data-is-author-self=true] .headerText-3Uvj1Y {
  display: none;
}
#app-mount .cozy-3raOZG[data-is-author-self=true] .timestamp-3ZCmNB {
  margin-left: 0;
}
#app-mount .cozy-3raOZG[data-is-author-self=true] .avatar-1BDn8e {
  display: none;
}
#app-mount .cozy-3raOZG.hasThread-2k82W0::after {
  left: unset;
  right: 2.2rem;
  transform: scaleX(-1);
}
#app-mount .embedFull-2tM8-- {
  background: var(--background-5);
}
#app-mount .markup-2BOw-j pre {
  margin: 0;
  max-width: 100%;
}

#app-mount .form-2fGMdU {
  padding: 28px 88px 0;
  margin-top: 0;
}
#app-mount .form-2fGMdU::before {
  content: none;
}
#app-mount .channelTextArea-rNsIhG {
  background: var(--textbox-bg);
  border-radius: var(--rounded);
  border: 1px solid var(--textbox-border);
  position: relative;
  margin-bottom: 42px;
}
#app-mount .channelTextArea-rNsIhG::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--textbox-underline);
}
#app-mount .channelTextArea-rNsIhG:hover {
  background: var(--textbox-bg-hover);
}
#app-mount .channelTextArea-rNsIhG:focus-within {
  background: var(--background-3);
}
#app-mount .channelTextArea-rNsIhG:focus-within::before {
  height: 2px;
  background: rgb(var(--accent));
}
#app-mount .scrollableContainer-2NUZem {
  background: transparent;
  overflow: visible;
}
#app-mount .scrollableContainer-2NUZem .inner-MADQqc {
  position: unset;
}
#app-mount .buttons-3JBrkn {
  position: absolute;
  bottom: -44px;
  top: unset;
  right: 0;
}
#app-mount .attachWrapper-2TRKBi {
  position: absolute;
  bottom: -44px;
  left: 0;
}
#app-mount .attachWrapper-2TRKBi button {
  padding: 0;
  margin: 0;
}
#app-mount .attachButton-2WznTc svg {
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>') center/cover;
          mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>') center/cover;
  background: var(--interactive-normal);
  transition: var(--transition);
  transition-property: background, filter;
}
#app-mount .attachButton-2WznTc svg path {
  display: none;
}
#app-mount .attachButton-2WznTc:hover svg {
  background: var(--interactive-active);
}
#app-mount .attachButton-2WznTc[aria-expanded=true] svg {
  background: rgb(var(--accent)) !important;
}
#app-mount .buttons-3JBrkn > button[aria-label] svg {
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" /></svg>') center/cover;
          mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" /></svg>') center/cover;
  background: var(--interactive-normal);
  transition: var(--transition);
  transition-property: background;
}
#app-mount .buttons-3JBrkn > button[aria-label] svg path {
  display: none;
}
#app-mount .buttons-3JBrkn > button[aria-label]:hover svg {
  background: var(--interactive-normal);
}
#app-mount .sprite-2iCowe {
  width: 26px;
  height: 26px;
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>') center/cover;
          mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>') center/cover;
  background: var(--interactive-normal);
  filter: none !important;
  transform: none !important;
  transition: none !important;
}
#app-mount .stickerButton-3OEgwj {
  padding: 0;
}
#app-mount .stickerButton-3OEgwj svg {
  width: 24px !important;
  height: 24px !important;
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" /></svg>') center/cover;
          mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" /></svg>') center/cover;
  background: var(--interactive-normal);
  transition: var(--transition);
  transition-property: background;
}
#app-mount .stickerButton-3OEgwj svg path {
  display: none;
}
#app-mount .stickerButton-3OEgwj:hover svg {
  background: var(--interactive-active);
}

#app-mount .typing-2GQL18 {
  bottom: unset;
  top: 2px;
  left: 0;
  padding: 0 88px;
  right: 0;
}

#app-mount .divider-3_HH5L {
  margin: 32px 78px 32px 28px;
  border-color: var(--border-high);
  top: 0;
}
#app-mount .divider-3_HH5L.isUnread-3Ef-o9 {
  border-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
}
#app-mount .content-1o0f9g {
  border-radius: var(--rounded);
  border: 1px solid var(--border-high);
  background: var(--background-7);
}

#app-mount .container-2wlB3z,
#app-mount .members-1998pB,
#app-mount .members-1998pB > div {
  background: var(--background-2);
  height: 100%;
}
#app-mount .membersWrap-2h-GB4 {
  min-width: var(--members-width);
  width: var(--members-width);
  height: 100%;
}
#app-mount .members-1998pB {
  width: 100%;
}

#app-mount .member-3-YXUe {
  max-width: none;
  margin: 0;
}
#app-mount .member-3-YXUe .layout-2DM8Md {
  height: 52px;
  padding: 0 16px;
}

#app-mount .membersGroup-v9BXpm {
  padding: 24px 16px 8px;
  height: auto;
}

#app-mount .menu-3sdvDG {
  min-width: 280px;
  background: var(--background-5);
  border: 1px solid var(--border-high);
  border-radius: var(--rounded-high);
  box-shadow: var(--elevation-1);
}
#app-mount .menu-3sdvDG .scroller-3BxosC {
  padding: 0 !important;
}
#app-mount .menu-3sdvDG .scroller-3BxosC::-webkit-scrollbar {
  display: none;
}
#app-mount .menu-3sdvDG .scroller-3BxosC > .item-1tOPte, #app-mount .menu-3sdvDG .scroller-3BxosC > .submenuContainer-2gbm7M {
  margin: 6px;
}
#app-mount .menu-3sdvDG .wrapper-3_530D {
  padding-bottom: 0 !important;
}
#app-mount .menu-3sdvDG .wrapper-3_530D::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  grid-column: 1/-1;
  background: var(--border-high);
  margin-top: 6px;
}
#app-mount .menu-3sdvDG .customItem-a8hq58 {
  width: 100%;
}
#app-mount .menu-3sdvDG .button-F9qN4n {
  width: 100%;
  border-radius: var(--rounded);
  background: transparent;
  cursor: var(--cursor);
  padding: 4px 0;
}
#app-mount .menu-3sdvDG .button-F9qN4n:hover {
  background: var(--background-8);
}
#app-mount .menu-3sdvDG [role=group] {
  padding: 6px;
}
#app-mount .menu-3sdvDG [role=group] > .item-1tOPte:last-child {
  margin-bottom: 0;
}
#app-mount .menu-3sdvDG [role=separator] {
  margin: 2px 6px;
  border-color: var(--border-high);
}
#app-mount .menu-3sdvDG .item-1tOPte {
  margin: 0 0 4px;
  border-radius: var(--rounded);
  padding: 8px 12px;
  cursor: var(--cursor);
}
#app-mount .menu-3sdvDG .item-1tOPte .newBadge-34a1Fs {
  font-size: 10px;
  border-radius: var(--rounded);
  margin-top: -4px;
  font-weight: 500;
  padding: 0 4px;
}
#app-mount .menu-3sdvDG .item-1tOPte:not([role=menuitemcheckbox]) {
  flex-direction: row-reverse;
}
#app-mount .menu-3sdvDG .item-1tOPte:not([role=menuitemcheckbox]) .iconContainer-2-XQPY {
  margin: 0 8px 0 0;
}
#app-mount .menu-3sdvDG .item-1tOPte.hideInteraction-1iHO1O {
  padding: 0;
}
#app-mount .menu-3sdvDG .item-1tOPte.focused-3afm-j, #app-mount .menu-3sdvDG .item-1tOPte:active:not(.hideInteraction-1iHO1O) {
  background: var(--background-8);
}
#app-mount .menu-3sdvDG .item-1tOPte.colorPremium-p4p7qO {
  color: hsl(var(--discord-pink));
}
#app-mount .menu-3sdvDG .item-1tOPte.colorPremium-p4p7qO .icon-LYJorE {
  color: hsl(var(--discord-pink));
}
#app-mount .menu-3sdvDG .item-1tOPte.colorBrand-ROmMP1 {
  color: rgb(var(--accent));
}
#app-mount .menu-3sdvDG .submenuContainer-2gbm7M .item-1tOPte {
  flex-direction: row;
}
#app-mount .menu-3sdvDG .submenuContainer-2gbm7M .item-1tOPte .iconContainer-2-XQPY {
  margin: 0 0 0 8px;
}
#app-mount .menu-3sdvDG .submenuContainer-2gbm7M .layer-v9HyYc {
  margin-top: -6px;
}

[role=slider] .bar-2Qqk5Z {
  height: 4px;
}
[role=slider] .barFill-23-gu- {
  background: rgb(var(--accent));
}
[role=slider] .grabber-3mFHz2 {
  border: 4px solid var(--background-9);
  margin-top: 0;
  background: rgb(var(--accent));
  box-shadow: var(--elevation-1);
}

#app-mount [role=menuitemcheckbox] .iconContainer-2-XQPY {
  border: 1px solid var(--text-muted);
  border-radius: var(--rounded);
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app-mount [role=menuitemcheckbox] .iconContainer-2-XQPY::before {
  content: "";
  width: 10px;
  height: 4px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
  margin-top: -2px;
  opacity: 0;
}
#app-mount [role=menuitemcheckbox] svg {
  display: none;
}
#app-mount [role=menuitemcheckbox][aria-checked=true] .iconContainer-2-XQPY {
  border-color: rgb(var(--accent));
  background: rgb(var(--accent));
}
#app-mount [role=menuitemcheckbox][aria-checked=true] .iconContainer-2-XQPY::before {
  opacity: 1;
}

#app-mount [role=menuitemradio] .iconContainer-2-XQPY {
  border: 1px solid var(--text-muted);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app-mount [role=menuitemradio] .iconContainer-2-XQPY::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  opacity: 0;
}
#app-mount [role=menuitemradio] svg {
  display: none;
}
#app-mount [role=menuitemradio][aria-checked=true] .iconContainer-2-XQPY {
  border-color: rgb(var(--accent));
  background: rgb(var(--accent));
}
#app-mount [role=menuitemradio][aria-checked=true] .iconContainer-2-XQPY::before {
  opacity: 1;
}

#app-mount .button-1YfofB {
  border-radius: var(--rounded-high);
  padding: 4px 6px;
}
#app-mount .button-1YfofB.buttonColor-7qQbGO {
  background: var(--btn-bg);
}
#app-mount .button-1YfofB.buttonColor-7qQbGO:hover {
  background: var(--btn-bg-hover);
}

#app-mount .layer-3QrUeG {
  background: var(--background-2);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .standardSidebarView-3F1I7i {
  background: var(--background-2);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .sidebar-CFHs9e {
  width: 270px;
  padding: 16px;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .sidebarRegion-VFTUkN {
  flex: 0;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .sidebarRegionScroller-3MXcoP {
  background: var(--background-2);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .header-2RyJ0Y {
  display: none;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .separator-gCa7yv {
  display: none;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .item-PXvHYJ {
  font-size: var(--text-size-body);
  border-radius: var(--rounded);
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  cursor: var(--cursor);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .item-PXvHYJ::before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-size: cover;
  background-position: center;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .item-PXvHYJ::after {
  content: "";
  position: absolute;
  left: 0;
  height: 0;
  width: 3px;
  border-radius: 35%;
  background: rgb(var(--accent));
  opacity: 0;
  transition: 0.15s ease;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .item-PXvHYJ:hover {
  background: var(--background-4);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .item-PXvHYJ.selected-3s45Ha {
  background: var(--background-4);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .item-PXvHYJ.selected-3s45Ha::after {
  height: 16px;
  opacity: 1;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .contentRegion-3nDuYy {
  background: var(--background-2);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .contentRegionScroller-26nc1e {
  background: var(--background-2);
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] .contentColumn-2hrIYH {
  padding: 16px 32px;
  max-width: 1000px;
}
#app-mount .layer-3QrUeG[aria-label*=SETTINGS] h1.title-3sZWYQ {
  font-size: var(--text-size-title);
}

.item-PXvHYJ[aria-controls=my-account-tab]::before {
  background-image: url("data:image/webp;base64,UklGRiABAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSEwAAAABYBvJVhvklWL6bwQKkrcx70d4CogItW3bMC5JpnoGC7PlXrZs0vd5OzxvPamfvPyVXGDh0GKRciO4NWirEOFG4T9Mxv8nM4f/GCQDVlA4IK4AAABQAwCdASoQABAAAgA0JbACdLoAngDeNyIn0gD9QDsMGQJlcAD+34r2QNUOaCqXJ2wXWGMrbyp1JUp3/0pJAYjkNQNVnGE5VY8b0G76vQuO4ptfmkK5r1QXp213zQfrsVMGeb6V6F8DgN+75X0EGrZZk6fAv+ENR7v3/3lcfB5d1Sl6tB5BOUrB5Nxoq/+bUuaBlif7Ds/6f8/7n/j/fRPj1jW50TFQaPh/k1hEAAA=");
}
.item-PXvHYJ[aria-controls=profile-customization-tab]::before {
  background-image: url("data:image/webp;base64,UklGRvwAAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSEwAAAABYBvJVhvklWL6bwQKkrcx70d4CogItW3bMC5JpnoGC7PlXrZs0vd5OzxvPamfvPyVXGDh0GKRciO4NWirEOFG4T9Mxv8nM4f/GCQDVlA4IIoAAAAwAgCdASoQABAAAgA0JbACdATAAdVP6v46AAD+85uZAfSZH0PB9RzE6a2wvDSAMXXbB/lTzZEWVtUoszV5X1+wXYQ8voSOHo42gHarvZ9o3Z30r0ME7Lmt+86Lc2xf5VUSXwvwUbKHMoR+njqiBKt3/hdFAoWRiioO/f8yX6LuzbGpGSUWtuCgAAA=");
}
.item-PXvHYJ[aria-controls="privacy-&-safety-tab"]::before {
  background-image: url("data:image/webp;base64,UklGRl4BAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSJIAAAABgBvbtqtm3/fw3pVCBVQDKRQB6acBKImcH4O8lH5z/5F3FUTEBECoAe02UAt82lwkaZosWgDGPDnr03Q/x6z3IHnhXrj00DMmL0WpT8viZQLjJ1WfVXoaw/j5O8//YvK9CfSe3D/z8rlHZKus+lBl2hEtxINUuBfSMQbDjOVFkq4rzAALTNen02ZGMD6NEAJEAFZQOCCmAAAA0AIAnQEqEAAQAAIANCWwAnS6ABCR/rKXF4biu87kAAD+apemD3odZrv18fxu3uBgqYfvAUD7IEpchfDeqEsvIKlfP03LTZVF6PtPckgr2nNf8/dZCgJ8PEVdXDCgl6wbk6f4B/B2igLsFB3k9d2idhV7jBOlMSPgdwzlurK36FD3HwePsA/9CSVxleXefv3vuKe0H2rMQpEeJ+U9adQthUp5BRGEAA==");
}
.item-PXvHYJ[aria-controls=authorized-apps-tab]::before {
  background-image: url("data:image/webp;base64,UklGRkoBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSG0AAAABYFvbDpIkTWocJtC5GQLG4LCDO7W7DRARCtu2QcYMb8A1knCKBBzUZX3Asg5Y7qdT7GUpGYfxgMOYSFI2jUd7nLIfwHXb9d/sV0UZJyvGZVH5DCQKsmuu6MqCSLAhelEYRh7uI0jAhq4bDIQIAFZQOCC2AAAAcAMAnQEqEAAQAAIANCWwAnQ4gDePiIr0gD9ADs2p+oQ5eo8gAP78K1+fPOYN4yumPYvlRx3MAdMzqvuk+R3MDlCdSfwKy6fLuS9A59+UuQziJnSgkU3IrTp/9ue6z2u+Xq7vNAeVaOW5kgHMnzBemrkB2cJoSj4L/7p/RBv+3AIvlpWimvlQ2TPp71M809P/hgmqo/3jGJtmBw/cWvMO/H/5/5kpZPpDCDgj/xLwUwG93qXaAAA=");
}
.item-PXvHYJ[aria-controls=connections-tab]::before {
  background-image: url("data:image/webp;base64,UklGRpYBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSLMAAAABgFvbtmplXfmu8f9oG78FNIOM+HWAu1QAsXfg3gcFuLuzkfuoISImgHBzM/+1bvb+fs7ZGEeXJHXjQp7pr5eXrxl8yFJ7kp5q2Lj6+5OT+4YYm2D/raHh7YCkByxEiiBSBAZDpfN5zabTdvV5vBVD65XUAzAqqZfUoV6/jianJqfvvl4+j/Ply7f3dwU/Xz+P88xLWimUy4VhSb2Y3PT2dJa/LUMtGILmL2DAeOcNf13CAQBWUDggvAAAAJAEAJ0BKhAAEAACADQlsAJ0ugCeAOe09h/9lf2ZI8TSAP1APvt9Cz7bt78wAAD+6qgDpB+6DsQ7nhFOyDKfZCbHr6LuEtK6weTpxuMhiMsijmYuqPgw/QLImP5u4Xjob1QRH4KjLiUCpBYlb7a4Z2krGwqLTGYFbrTOJihEDy8flWoMgYxncpzEyMfiAVWi8jQS2Ew9tL//hpj5gdfF36B/QFf9Ny91j+cZv/tUoFda3+bVzOIvNw8tAAAA");
}
.item-PXvHYJ[aria-controls=appearance-tab]::before {
  background-image: url("data:image/webp;base64,UklGRjgBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSHAAAAABcFzbbhpJ2ihbhgqw7qQH6CInPTBnzTRYQEQobNsGGTO8Aa+RxEck4Lhruhs2XczKtD7ipMj5Mi83nJdclst1udvLWv4BvG57/TeHbd1k+YFZU7cRA0mi4lkHeoooEZyIfpokaYDXCBKwaRimAIQIVlA4IKIAAACQAgCdASoQABAAAgA0JbACdAfwIucxEOHiFXgwAAD++87f77txXS3y8NP7CuqRIlSI2tyDLpUmt2Yqszq+4hpp1OtxRk6nheVWx5/tEFvM5prBBkPK3M2NP/bf77oiD65/7P7JA0lCWD51eRzPFSxmaU//4ovPzV5/9gH6oy2n6g34AyhBdMIVYcqq+/79Wb/zXHs/dgGqDqv15NEvTbfdgAA=");
}
.item-PXvHYJ[aria-controls=nitro-server-boost-tab]::before {
  background-image: url("data:image/webp;base64,UklGRl4BAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSHEAAAABcBtJkiJ1z5N8Mx6c/w48+bOxeyA+97H2BkTEBAAgLNzDQCwJu+SU8sXABax+DcMwvGoDQJ7u/VuS3v39RBL+GDQMw6Dh4SBRNVpTU610w9rQ/atGP0n6qVnx57D5dJA8nnPKOeeUL0cSgIVHRHgYAABWUDggxgAAAHADAJ0BKhAAEAACADQlsAJ0MEZ8kApd3aAex6XBUkmUgFtHAAD+3h6Y+6GrC8mTg/Ee9Xs2+QEu5X+W2h6zesZVL2iHGTGnjxwGviq4Jmd9119jYNfo+P507yTSsnSbLOiKDImTpdXFE1/65sWFCPMyHiLsd9hDtC7rzB789KN3paPvFEsqII14A7EU1ZPNo4vclCm/vrXETWuGm3iCZB64xY8gHjLv8eptv4FDe2xH36q1kKJmvZIfFS9HP7HoVUAmcoDAAA==");
}
.item-PXvHYJ[aria-controls=subscriptions-tab]::before {
  background-image: url("data:image/webp;base64,UklGRi4BAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSIMAAAABcFtr25O85hz/nwG0Y0bGodU2OwJzcHKm/V8ylQNExAQAwBjYboEx2qPRBPotSe46JqMR2pegtKwyuKI91k5maex2RmmetDGWvygg7SiyySD6LWVeDs6lcKjKkiTLUtERwitZ9rL0/oFDxV5FR8iiHFzIxcNzvF7Hey4wFmfRexZjAABWUDgghAAAAPABAJ0BKhAAEAACADQlsAJ0ugACmJltQAD+ygQ5o/RYRjuV0TyW2Q2yOvEFUAH21HvTpoMP+Y8bJf/Pxaqj3J5nGfE6DYgRxO7PMJ04/BfMPZGjmzzxNvfp5RBdupQyS2L/eYtHcL+c5Su+NV/H/73THfYm+3SiX9dge9pbVPvliKIAAA==");
}
.item-PXvHYJ[aria-controls=language-tab]::before {
  background-image: url("data:image/webp;base64,UklGRpIBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSIgAAAANgBvbtupmnytm9cBYhFKlqtRUB0Nkt8AM95jtEiJiAvjf6Hx3lYAo7fQyION89YJwa0EAwfTgBpuXl7oF1n0douvCJd8rqWz0fWP0DdCaE/za93VLXwwOCH6UqN+bn331Fidl/WBdLW8ciNQXyAsMVgMBovH8Ipub3UkGZJyWlcDT+kwGORAAVlA4IOQAAACQAwCdASoQABAAAgA0JbACdDBCTmcMCn593QD0ADLQQ20YfwAAAPRtxss/CZt4d9/U6o1LOiDrWinOBFZ1QO16AcOaghbf5YGcdE4X8i1eHB/btyaIQ7GvdMbMnfPvANhj4lkDBu6Ti2HgBHvlZ20FLXxc/E//sS/zJXD1PVdXlRmms1CEs8u7/YLoDb795S1dreoEFPrtmaglhJNxyD8+Ehc26L5r/1159RL4O4SYf/cDV3y6011jZFdN5slao/38Z+JtDtfpfR+PT/n1ferP/Eoq/0+RjOf+XF1zH+94MsyAAAA=");
}
.item-PXvHYJ[aria-controls=windows-tab]::before {
  background-image: url("data:image/webp;base64,UklGRmwBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSIkAAAABcBvZdlo9UybJYqWm/kv5zJQyY2iGEiJCYdo2THZ7CnSkRRm1KaNWdQHd3Bbh4rajNfBv+kye6Z/X4M8P42B8WPpQpR3EgRfEgd0end90fZkH88uWAlglbSaYywS3oQOJkkoprbXS2vhApo/b/f6o8P6YEvVNG/lVuHfcH2vcH/sEkOCiRi4wAABWUDggvAAAABAEAJ0BKhAAEAACADQlsAJ0TJnuwHWAc7d7BX7Aej0TMRXLIOE1M8EAAP4WW6vzcLcElA7vhQmThFKiAY6NRJpk+12XjsTx5pBL5mHb+4g7Co+AweQ4TM3aavoSU3okyWzatJsj7zPQaNLn+X/zBcNxKsjg05sxsdTeVvChnVPZHaVbTdixUsAgI9xecSt34j/3r+rTT/nvibeFrsYnMy56Wnl979L5sRjdHw/nEWWtpc1IWNPf70qtEwAA");
}
.item-PXvHYJ[aria-controls=advanced-tab]::before {
  background-image: url("data:image/webp;base64,UklGRoIBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSKkAAAABcFtr25M8P2EGKgZgEgYwrgK92RYqaqhgFz1ZezpDp5WvWUeICLVt2zBOL5POAIPthKNR6NgY3sIlkzLcD4fu4nJZdHkLfxFXerMqXvjYhSQtJpOFJBW2d9ZVCUCiq86eCfa3Ja26brG67QMDc/XMUTqanuYAMw3M4aWBZvAaVjTquvk+vL2kAOnbi51L0nI6XUpSbuMvolJvVkYL/51T58Wpw38cf3IGAFZQOCCyAAAAcAMAnQEqEAAQAAIANCWwAnS6AfgAgB0iINIA/WYkpSsPuvwAAP6RtHqWdURru60es55LNymWbOfTaPEy8hgeKyd//jBcrwRTEJbmXNsOb/Fuecc1WnQ6U7wGYSGH7YGeME3b36KkM0I9NbuZDICYRL1/2z90RIs1cmihteG8LzAgx97P2/bVOgv/8tADy6CXQ7PyU/+p9Amn63Rf69sh8mavAD2ul2en5/Te//DaTiAAAA==");
}
.item-PXvHYJ[aria-controls="voice-&-video-tab"]::before {
  background-image: url("data:image/webp;base64,UklGRowBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSK0AAAABgFzb1rLmXFxGvzWAO9FSqCWhJjpgMYt24O4+Y/jx2/f3EBETACAqnldB2HPMbj4+bmbkLFL1OwzD8LsqWXD/jTHm3yXD+Qs3m/DPyZDzn/p3ZCMLW9n5S/05ZYHwV+1vY4z5bq98JJzP5nMYhuFz89NB5Dif7198fFzsz8/JQU5b64NRtzs6XG8pB+TYOrq8v7863iJHOgeNxaIBOazK1ZcPD8t6TjbADwIfKwBWUDgguAAAAJADAJ0BKhAAEAACADQlsAJ0NcA/UDrFf2VJnn4nmAz4sVbGMAAA/vbrTMy/yJL/C8ID9CA9f7xVdF60SQQxrGjzmYe7JeN0mypMcS8k7n02Sj9Eq0/FESGAHOztX7/V7+vTgg0axCIIVSF+2FrqTKAJx/vEOiVOFhCPHv4iVv6x9q4odjM3PaLK4yBdyOw9GqeqGcRFoh341v6j4zhG/U+df80AP1f83F0/4dHtgdAfYf7rT6CngAA=");
}
.item-PXvHYJ[aria-controls=themes-tab]::before {
  background-image: url("data:image/webp;base64,UklGRmwBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSIgAAAABcFzbtprcBJdRXvrDrQ+G1KNVMKQBWBHcJf9d9NcQERMAVzzxxHXg4js3ioIoiCYow/3yT/zeDpYdpAFIoEZVE5I9pAGJqCRpTMIeXAtSE3aclA0Nz0XHzvRTdkwW05yd8uhLaKWB+LEVI8nMzUP/Gg0EFVqffBf1WRBGP4NomIMDRzz56YkLVlA4IL4AAACwAgCdASoQABAAAgA0JbACdDiAN5DIi0jBLZWqKwAA9rTt13UNnttmuc5EQeTD0wxnDy54QVedXVzIAlqtQg2lyp9x+ExG9X3GSnqvyFOpGHj++f3ICM2dy+ZguygBC1zZop8+pgWf+PSdn6ey6JVOUJ93jv6CaqXaTB/GlrT33Pmc2MVwyAVQs+gfmyCvJLqs9fUHh2lN/f9sBu6duWn//jEFBN+99+YHvd1t8EP0fbT/YrichNBaH5S8wmAA");
}
.item-PXvHYJ[aria-controls=plugins-tab]::before {
  background-image: url("data:image/webp;base64,UklGRmgBAABXRUJQVlA4WAoAAAAQAAAADwAADwAAQUxQSHsAAAABcFzbttKcL+NYYzDm07E3EpjFPzeGVhARCtu2bbJ30p4B4MA58DCyfN62uf+rxWBDK0ltsBiMSUvpFeNLKlNj2F30jJIUn7rs4NTFQX84xPMJjr3GoP64PcyVdCfmBxmTFON/KBJjMNiskaQms5jRr4amCQ4cjP95ZAEAVlA4IMYAAADQAgCdASoQABAAAgA0JbACdDBOiIV0gD9KyUcLF8wAAP7wGeEVcsqo6Ye8l6crJgbMVdiZONWmFNIVjrV/8ct36GkSnJTw06aDePcCXfDIlysA5b7hx7jd5d2OJeob3duwpjyCpZnGFY4R0PeNH7/9LUt23c3IRFQD4X/AqQjCoe9WHiO/4oiYGwN/nTBmPafTFdroqx/xO/lU+Ty6+uv6QsrUXJSb89bqWWr9SK06S519b8gS3kHKSqPlKReW2yTo7nmIAAA=");
}