@use '../mixins';
@use '../assets/mono';

#app-mount {
	.panels-3wFtMD {
		background: transparent;
		border-top: 1px solid var(--border-mid);
	}

	// Voice connected
	.container-1zzFcN:only-child {
		border: none;
	}
	.actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX.colorBrand-I6CyqQ {
		@include mixins.btnReset;
	}

	// User area
	.container-YkUktl {
		padding: 0 8px;
		& > .flex-2S1XBF {
			gap: 4px;
		}
		button {
			@include mixins.btn;
		}
	}
}