#app-mount {
	.list-2x9Cl9 {
		padding: 4px 0 0 0;
		.draggable-S2aEx4 {
			height: auto;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}
	.voiceUser-3nRK-K {
		height: auto;
		&:hover .content-1Tgc42 {
			background: var(--bg-interactive-high);
		}
	}
	.content-1Tgc42 {
		margin: 0;
		padding: 2px 8px 2px 32px;
	}
}