#app-mount {
    .contextMenuContainer-1RO4DQ > svg > foreignObject > div {
        margin-left: 5px;
        margin-top: 12px;
    }

    .flex-2S1XBF.flex-3BkGQD {
        margin-top: 3px;
    }

    .quickSelectLabel-ArUyd9 {
        padding-top: 4px;
    }
}