#app-mount {
	.chat-3bRxxu {
		background: var(--bg2);
	}
	.content-yTz4x3::before {
		content: none;
	}
	.chatContent-a9vAAp {
		background: var(--bg3);
		border: 1px solid var(--border);
		border-bottom: none;
		border-radius: var(--rounded-high) var(--rounded-high) 0 0;
		margin: 0 16px;
		&:only-child {
			margin-right: 0;
			border-top-right-radius: 0;
		}
	}

	.scrollerSpacer-avRLaA {
		height: 0;
	}
}