#app-mount {
	.chat-2ZfjoI {
		background: transparent;
	}
	.content-1jQy2l::before {
		content: none;
	}
	.chatContent-3KubbW {
		background: var(--bg-alt);
		border-radius: var(--rounded-high) var(--rounded-high) 0 0;
		&:only-child {
			margin-right: 0;
			border-top-right-radius: 0;
		}
	}

	.scrollerSpacer-3AqkT9 {
		height: 0;
	}
}