#app-mount {
	.divider-3_HH5L {
		margin: 32px 78px 32px 28px;
		border-color: var(--border-high);
		top: 0;

		&.isUnread-3Ef-o9 {
			border-color: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
		}
	}
	.content-1o0f9g {
		border-radius: var(--rounded);
		border: 1px solid var(--border-high);
		background: var(--bg-high);
	}
}