#app-mount {
	.message-2qnXI6.selected-2P5D_Z.cozyMessage-3V1Y8y .contents-2mQqc9 {
		display: block;
		width: 100%;
		.channelTextArea-3bF57p {
			margin-top: 0;
		}
		.slateTextArea-1Mkdgw {
			padding-top: 0;
		}
	}
	.operations-36ENbA {
		padding: 12px;
	}

	.cozy-3raOZG {
		.avatar-1BDn8e {
			left: 32px;
			margin-top: 0;
		}

		.contents-2mQqc9 > .messageContent-2qWWxC:not(:empty) {
			margin-left: 0;
			padding: 12px 16px;
			background: var(--background-5);
			border-radius: var(--rounded);
			display: inline-block;
		}
		.container-3-pyIM {
			padding: 0;
		}

		&.groupStart-23k01U .contents-2mQqc9 {
			background: var(--background-5);
			display: inline-block;
			border-radius: var(--rounded) var(--rounded);
			
			.header-23xsNx {
				padding: 12px 16px 2px;
			}
			.messageContent-2qWWxC {
				&:empty {
					margin-top: 8px;
					display: block;
				}
				&:not(:empty) {
					padding-top: 0;
				}
			}
		}

		&.isSystemMessage-2MkNHd .messageContent-2qWWxC {
			padding: 16px !important;
		}

		&.wrapper-2a6GCs {
			padding-left: 88px;
			padding-right: 78px !important;
		}
		&[data-is-author-self="true"] {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			.contents-2mQqc9 {
				width: fit-content;
				background: rgb(var(--accent),.05);
				& > .messageContent-2qWWxC {
					background: transparent;
				}
			}
			.headerText-3Uvj1Y {
				display: none;
			}
			.timestamp-3ZCmNB {
				margin-left: 0;
			}
			.avatar-1BDn8e {
				display: none;
			}
		}
	}

	.embedFull-2tM8-- {
		background: var(--background-5);
	}
}