#app-mount {
	.message-2CShn3.selected-2LX7Jy.cozyMessage-1DWF9U .contents-2MsGLg {
		display: block;
		width: 100%;
		.channelTextArea-220_Gz {
			margin-top: 0;
		}
		.slateTextArea-27tjG0 {
			padding-top: 0;
		}
	}
	.operations-3q3u6E {
		padding: 12px;
	}

	.cozy-VmLDNB {
		.avatar-2e8lTP {
			left: 32px;
			margin-top: 0;
		}

		.contents-2MsGLg > .messageContent-2t3eCI:not(:empty) {
			margin-left: 0;
			padding: 12px 16px;
			background: var(--chat-bubble-bg);
			border-radius: var(--rounded);
			display: inline-block;
		}
		.container-x059i8 {
			padding: 0;
		}

		&.groupStart-3Mlgv1 .contents-2MsGLg {
			background: var(--chat-bubble-bg);
			display: inline-block;
			border-radius: var(--rounded) var(--rounded);
			
			.header-2jRmjb {
				padding: 12px 16px 2px;
			}
			.messageContent-2t3eCI {
				&:empty {
					margin-top: 8px;
					display: block;
				}
				&:not(:empty) {
					padding-top: 0;
				}
			}
		}

		&.isSystemMessage-QNv9ZH .messageContent-2t3eCI {
			padding: 16px !important;
		}

		&.wrapper-30-Nkg {
			padding-left: 88px;
			padding-right: 78px !important;
		}
		&[data-is-author-self="true"] {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			.contents-2MsGLg {
				width: fit-content;
				background: rgb(var(--accent),.05);
				& > .messageContent-2t3eCI {
					background: transparent;
				}
			}
			.container-3i3IzO {
				justify-self: flex-end;
			}
			.headerText-2z4IhQ {
				display: none;
			}
			.timestamp-p1Df1m {
				margin-left: 0;
			}
			.avatar-2e8lTP {
				display: none;
			}
			&.hasThread-3h-KJV::after {
				content: none;
			}
		}
	}

	.embedFull-1HGV2S {
		background: var(--chat-bubble-bg);
	}

	.markup-eYLPri pre {
		margin: 0;
		max-width: 100%;
	}
}