@use '../assets/mono';

#app-mount {
	.form-3gdLxP {
		padding: 28px 88px 0;
		margin-top: 0;
		&::before {
			content: none;
		}
	}
	.channelTextArea-1FufC0,
	.channelTextArea-1VQBuV {
		background: var(--textbox-bg);
		border-radius: var(--rounded);
		border: 1px solid var(--textbox-border);
		position: relative;
		margin-bottom: 42px;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: var(--textbox-underline);
		}
		&:hover {
			background: var(--textbox-bg-hover);
		}
		&:focus-within {
			background: var(--bg-alt);
			&::before {
				height: 2px;
				background: rgb(var(--accent));
			}
		}
	}
	.scrollableContainer-15eg7h {
		background: transparent;
		overflow: visible;
		.inner-NQg18Y {
			position: unset;
		}
	}

	.buttons-uaqb-5 {
		position: absolute;
		bottom: -44px;
		top: unset;
		right: 0;
		.lookBlank-3eh9lL {
			padding: 0;
		}
		.buttonWrapper-3YFQGJ {
			cursor: var(--cursor);
		}
		& > *:not(:last-child) {
			margin-right: 16px !important;
		}
	}

	.attachWrapper-3slhXI {
		position: absolute;
		bottom: -44px;
		left: 0;
		button {
			padding: 0;
			margin: 0;
		}
	}
	.attachButton-_ACFSu {
		svg {
			mask: url(mono.$plus-circle) center/cover;
			background: var(--interactive-normal);
			transition: var(--transition);
			transition-property: background, filter;
			path {
				display: none;
			}
		}
		&:hover svg {
			background: var(--interactive-active);
		}
		&[aria-expanded="true"] svg {
			background: rgb(var(--accent)) !important;
		}
	}
	.buttons-uaqb-5 {
		margin-right: 0;
		.button-f2h6uQ {
			padding: 0 !important;
		}
		
		// Gift Icon
		& > button[aria-label] {
		 svg {
			 mask: url(mono.$gift) center/cover;
			 background: var(--interactive-normal);
			 transition: var(--transition);
			 transition-property: background;
			 path {
				 display: none;
			 }
		 }
		 &:hover svg {
			 background: var(--interactive-normal);
		 }
	 }
	}
	// GIF
	.button-f2h6uQ {
		.contents-3ca1mk {
			margin: 0;
			padding: 0;
		}
		#icon svg {
			mask: url(mono.$gif) center/cover;
			background: var(--interactive-normal);
			transition: var(--transition);
			transition-property: background;
			path {
				display: none;
			}
		}
		&:hover #icon svg {
			background: var(--interactive-active);
		}
	}
	// Emoji Icon
	.sprite-2lxwfc {
		width: 26px;
		height: 26px;
		mask: url(mono.$emoji) center/cover;
		background: var(--interactive-normal);
		filter: none !important;
		transform: none !important;
		transition: none !important;
		&:hover {
			background: var(--interactive-active);
		}
	}
	// Sticker Icon
	.stickerButton-1-nFh2 {
		padding: 0;
		svg {
			width: 24px !important;
			height: 24px !important;
			mask: url(mono.$sticker) center/cover;
			background: var(--interactive-normal);
			transition: var(--transition);
			transition-property: background;
			path {
				display: none;
			}
		}
		&:hover svg {
			background: var(--interactive-active);
		}
	}
}