#app-mount {
	.container-3XgAHv {
		border-left: 1px solid var(--border-mid);
		border-radius: 0;
		background: transparent;
	}
	.chat-1rZYgu,
	.chat-1-OBC7 {
		&::before {
			content: none;
		}
	}
	.submitContainer-1DHMA0 {
		padding: 16px;
		button {
			width: 100%;
		}
	}
}