#app-mount {
	.button-1YfofB,
	.button-38aScr {
		border-radius: var(--btn-radius);
		padding: 4px 10px;
		line-height: 20px;
		font-size: var(--text-size-sm);
		cursor: var(--cursor);

		[role="button"] {
			cursor: var(--cursor) !important;
		}
		[class*="shine"] {
			display: none;
		}
		.contents-18-Yxp {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&.buttonColor-7qQbGO {
			background: rgb(var(--accent));
			color: var(--accent-text);
		}
		&.lookFilled-1Gx00P {
			border: 1px solid var(--btn-border-secondary);
			border-top-color: var(--btn-border-primary);
			font-weight: var(--font-weight-semibold);
			transition: box-shadow .15s ease;
			&.colorBrand-3pXr91 {
				background: rgb(var(--accent));
				color: var(--accent-text);
			}
			&.colorRed-1TFJan {
				background: hsl(var(--discord-red));
			}
			&.colorGrey-2DXtkV {
				background: var(--btn-bg);
				font-weight: var(--font-weight-regular);
				&:hover {
					background: var(--btn-bg-hover);
				}
				&:active {
					background: var(--btn-bg-active);
					border-color: var(--btn-border-primary);
				}
			}
			&:not(.colorGrey-2DXtkV) {
				&:hover {
					box-shadow: inset 0 0 0 100vmax hsl(0 0% 0% / .1);
					border-color: hsl(0 0% 0% / .1);
				}
				&:active {
					box-shadow: inset 0 0 0 100vmax hsl(0 0% 0% / .2);
					border-color: hsl(0 0% 0% / .2);
				}
			}
		}
		&.lookOutlined-3sRXeN {
			cursor: pointer;
			border: none;
			background: transparent !important;
			.contents-18-Yxp {
				background: none;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: currentColor;
				z-index: 1;
				border-radius: inherit;
				opacity: 0;
				pointer-events: none;
			}
			&.sizeMin-1mJd1x {
				font-size: var(--text-size-xs);
			}
			&:hover::before {
				opacity: .1;
			}
			&:active::before {
				opacity: .07;
			}
		}
		&.lookLink-9FtZy- {
			cursor: pointer;
			color: rgb(var(--accent));
			.contents-18-Yxp {
				background: none;
			}

			&.sizeMin-1mJd1x {
				font-size: var(--text-size-xs);
			}
			&:hover {
				background: var(--btn-bg);
			}
			&:active {
				background: var(--btn-bg-active);
			}
		}
	}
}