#app-mount {
	.buttonsContainer-3Ljuzc {
		margin: 0;
		gap: 16px;
	}
	.colorSwatch-1CKj-B {
		margin-right: 0;
		position: relative;
	}
	.swatch-2XEFyZ {
		width: 75px;
		height: 35px;
	}
	.swatchDescription-1A4xHV {
		text-align: left;
		font-size: var(--text-size-xs);
		margin-top: 0;
	}
}