#app-mount [role="slider"] {
	.bar-1Bhnl9 {
		height: 4px;
	}
	.barFill-2Bh7CX {
		background: rgb(var(--accent));
	}
	.track-1BI4CA {
		left: 10px;
	}
	.grabber-2GQyvM {
		border: 4px solid var(--bg-highest);
		margin-top: 0;
		background: rgb(var(--accent));
		box-shadow: var(--elevation-1);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		transform: translateY(-50%);
		margin-left: -10px;
		margin-top: -2px;
	}
}