[role="slider"] {
	.bar-2Qqk5Z {
		height: 4px;
	}
	.barFill-23-gu- {
		background: rgb(var(--accent));
	}
	.grabber-3mFHz2 {
		border: 4px solid var(--bg9);
		margin-top: 0;
		background: rgb(var(--accent));
		box-shadow: var(--elevation-1);
	}
}