#app-mount {
	.wrapper-2jXpOf {
		&:hover .content-1x5b-n {
			background: var(--background-4);
			.icon-1DeIlz {
				color: var(--interactive-normal);
			}
		}
		&.modeUnread-1qO3K1::before {
			height: 10px;
			background: var(--pill-unread);
			opacity: 1;
		}
		&.modeSelected-346R90 {
			&::before {
				height: 16px;
				background: rgb(var(--accent));
				opacity: 1;
			}
			.content-1x5b-n {
				background: var(--background-4);
				.icon-1DeIlz {
					color: var(--interactive-active);
				}
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			border-radius: 50px;
			height: 0;
			opacity: 1;
			width: 4px;
			transform: translateY(-50%);
			transition: height .15s ease, opacity .15s ease;
			z-index: 1;
		}
	}
	.content-1x5b-n {
		border-radius: var(--rounded);
		margin-left: 0;
		margin-right: 0;
		padding: 0 16px;
	}
	.mainContent-u_9PKf {
		padding: 8px 0;
		cursor: var(--cursor);
	}
	.unread-2lAfLh {
		border-radius: 50px;
		left: 0;
		width: 4px;
		height: 10px;
		margin-top: 0;
		transform: translateY(-50%);
		background: var(--pill-unread);
		z-index: 1;
	}
}