#app-mount {
	.wrapper-NhbLHG {
		padding: 2px 0;
		&:hover .content-1gYQeQ {
			background: var(--bg-interactive);
			.icon-2W8DHg {
				color: var(--interactive-normal);
			}
		}
		&.modeUnread-3Cxepe::before {
			height: 10px;
			background: var(--pill-unread);
			opacity: 1;
		}
		&.modeSelected-3DmyhH {
			&::before {
				height: 16px;
				background: rgb(var(--accent));
				opacity: 1;
			}
			.content-1gYQeQ {
				background: var(--bg-interactive);
				.icon-2W8DHg {
					color: var(--interactive-active);
				}
			}
			&:hover .content-1gYQeQ {
				background: var(--bg-interactive-hover);
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			border-radius: 50px;
			height: 0;
			opacity: 1;
			width: 4px;
			transform: translateY(-50%);
			transition: height .15s ease, opacity .15s ease;
			z-index: 1;
		}
	}
	.content-1gYQeQ {
		border-radius: var(--rounded);
		margin-left: 0;
		margin-right: 0;
		padding: 0 16px;
	}
	.mainContent-20q_Hp {
		padding: 8px 0;
		cursor: var(--cursor);
	}
	.unread-36eUEm {
		border-radius: 50px;
		left: 0;
		width: 4px;
		height: 10px;
		margin-top: 0;
		transform: translateY(-50%);
		background: var(--pill-unread);
		z-index: 1;
	}
}