#app-mount {
	.privateChannels-1nO12o {
		background: transparent;
	}
	.scroller-1JbKMe {
		background: transparent;
	}

	.channel-2QD9_O {
		max-width: unset;
		margin: 0;
		.layout-2DM8Md {
			cursor: var(--cursor);
			height: 48px;
			padding: 0 18px;
			&::before {
				content: "";
				border-radius: 50px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: var(--pill-width);
				height: 0;
				left: 0;
				opacity: 0;
				background: rgb(var(--accent));
				transition: var(--pill-transition);
			}
		}
		.content-3QAtGj {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&:hover .layout-2DM8Md {
			background: var(--bg-content);
		}
		&.selected-aXhQR6 .layout-2DM8Md {
			background: var(--bg-content);
			&::before {
				height: var(--pill-height);
				opacity: 1;
			}
		}
	}
}