#app-mount {
	.sidebar-1tnWFu {
		.content-2a4AW9 > div[style="height: 84px;"] {
			margin-top: 42px;
		}
	}

	.container-1-ERn5 {
		margin: 0 0 16px;
	}

	.header-3OsQeK {
		background: var(--btn-bg);
		box-shadow: none;
		border-radius: var(--rounded);
		border: 1px solid var(--border);
		transition: none;
		cursor: var(--cursor);
		filter: none;
		color: var(--text-primary);
		&:hover {
			background: var(--btn-bg-hover);
		}
	}

	// Banner
	.animatedContainer-2laTjx {
		background: transparent;
		box-shadow: none;
		width: var(--channels-width);
		height: 200px;
	}
	.bannerImage-ubW8K- {
		border-radius: var(--rounded);
		overflow: hidden;
		width: 100%;
		margin-top: 64px;
		img {
			width: 100%;
		}

		&::before {
			content: none;
		}
	}
}