@use '../mixins';

#app-mount {
	.panels-3wFtMD {
		background: transparent;
		background: var(--bg-alt);
		border-radius: var(--rounded);
		border: 1px solid var(--border);
		margin-bottom: 16px;
	}

	// Voice connected
	.container-1zzFcN:only-child {
		border: none;
	}
	.actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX.colorBrand-3pXr91 {
		@include mixins.btnReset;
	}

	// User area
	.container-YkUktl {
		padding: 0 8px;
	}
}