@use '../mixins';

#app-mount {
	.panels-j1Uci_ {
		background: transparent;
		background: var(--bg3);
		border-radius: var(--rounded);
		border: 1px solid var(--border);
		margin-bottom: 16px;
	}

	// Voice connected
	.container-1giJp5:only-child {
		border: none;
	}
	.actionButtons-14eAc_ .button-1YfofB.buttonColor-7qQbGO.colorBrand-3pXr91 {
		@include mixins.btnReset;
	}

	// User area
	.container-3baos1 {
		padding: 0 8px;
	}
}