@use '../../assets/mono';
@use '../../mixins';

#app-mount .layer-86YKbF[aria-label="USER_SETTINGS"] {

	.accountProfileCard-lbN7n- {
		background: transparent;
	}
	.banner-1YaD3N {
		display: none;
	}
	.userInfo-regn9W {
		padding: 18px;
		margin: 0 0 4px 0;
		height: auto;
		@include mixins.card;
		
		.avatar-3mTjvZ {
			width: 22px !important;
			height: 22px !important;
			background: var(--text-primary);
			border: none;
			position: relative;
			z-index: 1;
			top: 0;
			left: 0;
			mask: url(mono.$pen) center/cover;
			svg {
				display: none;
			}
		}
		& > div:nth-child(2) {
			position: relative;
			z-index: 1;
			flex: 1;
			pointer-events: none;
			& > div {
				display: none;
			}
			&::before {
				content: "Profile";
				@include mixins.cardTitle;
			}
			&::after {
				content: "Avatar, banner, about me, profile colour";
				@include mixins.cardDesc;
			}
		}
		& > button {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			background: transparent !important;
			border: none !important;
			box-shadow: none !important;
			display: flex;
			color: var(--text-primary);
			padding: 0 0 0 60px;
			z-index: 0;
			div {
				width: 100%;
				font-size: 0;
				padding-right: 18px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				&::before {
					content: "";
					width: 16px;
					height: 16px;
					mask: url(mono.$chevron-right) center/cover;
					background: var(--text-primary);
					display: block;
				}
			}
		}
		&:hover > button {
			background: var(--bg-content-alt) !important;
		}
	}
	.background-3d_SjE {
		margin: 0;
		background: transparent;
		padding: 0;
	}
	.fieldList-in8WkP {
		background: transparent;
		border-radius: 0;
		.field-21XZwa {
			&:first-child::before {
				mask-image: url(mono.$user);
			}
			&:nth-child(2)::before {
				mask-image: url(mono.$mail);
			}
			&:last-child::before {
				mask-image: url(mono.$phone);
			}
		}
	}
	.field-21XZwa {
		@include mixins.card;
		.sizeMin-1mJd1x {
			margin-left: 8px;
			padding: 0;
			background: transparent;
			&:hover {
				text-decoration: underline;
			}
		}
		.fieldButtonList-28BYbB {
			gap: 18px;
			button {
				margin: 0;
			}
		}
		&::before {
			content: "";
			@include mixins.cardIcon;
		}
		&:not(:first-child) {
			margin-top: 4px;
		}
	}
	.constrainedRow-3y91Xf {
		margin: 0;
		.size16-rrJ6ag {
			font-size: var(--font-size-xs);
			color: var(--text-muted);
		}
	}
	.fieldTitle-2g5r_V {
		@include mixins.cardTitle;
	}



	.userSettingsSecurity-3C5Hg5 {
		.h1-34Txb0 {
			@include mixins.subTitle;
		}

		& > .children-1xdcWE {
			// Password and authentication
			& > div:first-child {
				@include mixins.card;
				margin-bottom: 40px;
				button {
					margin: 0;
					order: 1;
					@include mixins.btnReset;
				}
				&::before {
					content: "";
					mask-image: url(mono.$password);
					@include mixins.cardIcon;
				}
				&::after {
					content: "Password";
					@include mixins.cardTitle;
					flex: 1;
				}
			}
			// 2FA Enabled
			& > div:last-child > div > div {
				& > .title-3hptVQ {
					@include mixins.subTitle;
					color: transparent;
					&::before {
						content: "Security";
						color: var(--text-primary);
					}
					img {
						display: none
					}
				}
				& > .modeDefault-2fEh7a {
					@include mixins.card;
					@include mixins.cardDesc;
					padding-left: 60px;
					flex-direction: column;
					align-items: flex-start;
					gap: 4px;
					border-radius: var(--rounded) var(--rounded) 0 0;
					margin-bottom: 0;
					&::before {
						content: "Two-factor authentication";
						@include mixins.cardTitle;
					}
					&::after {
						content: "";
						@include mixins.cardIcon;
						mask-image: url(mono.$lock-closed);
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 18px;
					}
					& + div {
						@include mixins.card;
						margin-top: 0;
						border-top: none;
						border-radius: 0 0 var(--rounded) var(--rounded);
						justify-content: flex-start;
						flex-direction: row-reverse;
						margin-bottom: 4px;
						& > div {
							flex: none !important;
							margin: 0;
						}
						.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91 {
							@include mixins.btnReset;
						}
					}
				}
				& > .marginTop40-Q4o1tS {
					margin-top: 0;
					.sectionTitle-3j2YI1 {
						display: none;
					}
					.marginBottom8-emkd0_ {
						margin: 0;
					}
					.children-1xdcWE {
						@include mixins.card;
						flex-direction: column;
						align-items: flex-start;
						padding-left: 60px;
						&::before {
							content: "";
							@include mixins.cardIcon;
							mask-image: url(mono.$phone-lock);
							position: absolute;
							top: calc(50% - 35px);
							transform: translateY(-50%);
							left: 18px;
						}
						.modeDefault-2fEh7a:first-child::before {
							content: "SMS backup";
							@include mixins.cardTitle;
							margin-bottom: 4px;
						}
						.flex-2S1XBF {
							padding: 18px;
							border-top: 1px solid var(--border);
							margin: 16px -60px -18px;
							width: calc(100% + 78px);
							flex-direction: row-reverse;
							gap: 18px;
							.lookFilled-1Gx00P.colorBrand-3pXr91 {
								@include mixins.btnReset;
							}
						}
					}
				}
			}
		}

		// Account removal
		& ~ [class="marginTop40-Q4o1tS"] {
			.title-3hptVQ {
				@include mixins.subTitle;
				color: transparent;
				user-select: none;
				&::before {
					content: "Danger zone";
					font-size: var(--font-size);
					color: var(--text-primary);
				}
			}
			.children-1xdcWE {
				@include mixins.card;
				&::before {
					content: "";
					@include mixins.cardIcon;
					mask-image: url(mono.$user-delete);
				}
			}
			.description-30xx7u {
				margin-bottom: 0;
				flex: 1;
				@include mixins.cardDesc;
				&::before {
					content: "Disable account";
					@include mixins.cardTitle;
				}
			}
			.buttonContainer-cmXa0P {
				flex-direction: row-reverse;
				gap: 16px;
				button {
					margin: 0;
				}
			}
		}
	}

}