@use '../../assets/mono';
@use '../../mixins';

#app-mount .layer-86YKbF[aria-label="USER_SETTINGS"] {
	.notice-1Qe0b_ {
		border: 1px solid var(--border);
		background: var(--bg-content-alt);
		border-radius: var(--rounded);
		min-height: 48px;
		padding: 0 12px;
	}

	// Avatar
	.baseLayout-8AMrwn {
		flex-direction: column;
	}
	.customizationSection-IGy2fS {
		&:not(.preview-Z55SA3) {
			@include mixins.card;
			margin-bottom: 4px;
	
			&::before {
				content: "";
				@include mixins.cardIcon;
				grid-area: icon;
			}
	
			.channelTextArea-1VQBuV {
				grid-area: input;
				margin: 18px 0 36px;
			}
			.bioTextArea-dDGOeC {
				border: none;
			}

			.description-30xx7u {
				margin: 0;
				grid-area: desc;
			}
			.buttonsContainer-12kYno {
				flex-direction: row-reverse;
				gap: 18px;
			}
			button {
				margin: 0;
			}
			.h5-2RwDNl {
				@include mixins.cardTitle;
				margin-bottom: 0;
				grid-area: title;
			}
			.lookFilled-1Gx00P.colorBrand-3pXr91 {
				@include mixins.btnReset;
			}
		}
		&:nth-child(1)::before {
			mask-image: url(mono.$user);
		}
		&:nth-child(2)::before {
			mask-image: url(mono.$palette);
		}
		&:nth-child(3) {
			display: grid;
			grid-template-columns: 22px 1fr auto;
			grid-template-areas:
				"icon title button"
				"icon desc button";
			&::before {
				mask-image: url(mono.$image);
			}
			button {
				@include mixins.btnReset;
				grid-area: button;
			}
		}
		&:nth-child(4) {
			display: grid;
			grid-template-columns: 22px 1fr;
			grid-template-areas:
				"icon title"
				"icon desc"
				"input input";
			&::before {
				mask-image: url(mono.$user-question);
			}
		}
	}
	.preview-Z55SA3 {
		margin: 0;
		padding: 32px 0 0;
		& > h5 {
			display: none;
		}
	}
}