@use '../mixins';
@use '../assets/mono';

#app-mount .layer_f7d46a {
	background: var(--bg-main);

	.toolsContainer__4e6ad {
		margin: 0;
		padding: 0;
		flex: none;
		width: auto;
		position: fixed;
		top: 5px;
		left: 5px;
		z-index: 2;
		width: auto;
		-webkit-user-drag: none;
		-webkit-app-region: none;
	}
	.tools_c0ff70 {
		position: static;
	}
	.container__3529f {
		flex-direction: row;
		align-items: center;
		width: 100%;
		gap: 8px;
	}
	.closeButton__8177f {
		border-radius: var(--btn-radius);
		width: 42px;
		flex: 0 0 42px;
		border: none;
		cursor: var(--cursor);
		svg {
			mask: url(mono.$arrow-left) center/cover;
			width: 16px;
			height: 16px;
			background: var(--text-primary);
		}
		path {
			display: none;
		}
		&:hover {
			background: var(--btn-bg-hover);
		}
		&:active {
			background: var(--btn-bg-active);
			transform: none;
		}
	}
	.keybind_a619c1 {
		margin-top: 0;
		font-size: 0;
		color: var(--text-primary);
		&::before {
			content: 'Settings';
			font-size: var(--font-size-xs);
			display: block;
		}
	}

	& ~ .layer_f7d46a {
		.standardSidebarView__12528 {
			background: var(--bg-main);
		}

		.sidebarRegion__36437 {
			flex: 0;
			margin-top: 46px;
		}
		.sidebarRegionScroller__8113e {
			background: var(--bg-main);
		}
		.sidebar__02e8d {
			width: 270px;
			padding: 0 16px 16px;
			.item__48dda {
				font-size: var(--font-size-sm);
				border-radius: var(--rounded);
				padding: 8px 12px;
				display: flex;
				align-items: center;
				gap: 12px;
				position: relative;
				cursor: var(--cursor);

				&:not(:last-child) {
					margin-bottom: 4px;
				}
				svg {
					display: none;
				}

				.selectedBackground-1qyzak {
					background: rgb(var(--accent));
				}

				// ~~Disabled icons (for now hopefully)
				// &::before {
				// 	content: "";
				// 	width: 18px;
				// 	height: 18px;
				// 	display: block;
				// 	background-size: cover;
				// 	background-position: center;
				// }
				&::after {
					content: '';
					position: absolute;
					left: 0;
					height: 0;
					width: 4px;
					border-radius: 4px;
					background: rgb(var(--accent));
					opacity: 0;
					transition: 0.15s var(--transition);
				}
				&:hover {
					background: var(--bg-interactive);
				}
				&.selected_a523ff {
					background: var(--bg-interactive);
					.premiumLabel-V52REm {
						color: var(--accent-text);
					}
					.selectedIcon-3rJcYb {
						fill: var(--accent-text);
					}
					&::after {
						height: 16px;
						opacity: 1;
					}
					&:hover {
						background: var(--bg-interactive-hover);
					}
				}
			}
			.header__71a82 {
				display: none;
			}
			.separator_d14fb1 {
				height: 0;
			}
		}

		.contentRegion__08eba {
			background: var(--bg-main);
		}
		.contentRegionScroller__9ae20 {
			background: var(--bg-main);
		}
		.contentColumn__5f80b:not(.contentColumnMinimal__7b4f5) {
			padding: 0 32px 32px;
			max-width: 1000px;
			& > div {
				animation: settingsIn 0.25s ease forwards;
			}
		}
	}
}
