@use '../assets/mono';
@use '../mixins';

#app-mount .layer__2efaa  ~ .layer__2efaa  {
	// Main title
	.contentColumn_dc7d36 {
		& > .heading-lg-semibold__85c17:first-child,
		& > div > div:first-child > .sectionTitle_e32631:first-child .title__3e421,
		& > div:first-child > .sectionTitle_e32631:first-child .title__3e421 {
			@include mixins.title;
		}
	}
	.title-2dsDLn {
		cursor: var(--cursor);
	}

	// Section title
	[class^='margin'] > .title__3e421,
	.marginTop40__2b1fe > .sectionTitle_e32631 > .title__3e421,
	.title__3e421.marginBottom8_f4aae3,
	.sectionTitle_e32631 .title__3e421:not(h1) {
		@include mixins.subTitle;
	}

	// Dividers
	[class*='divider_'] {
		display: none;
	}

	// Section description/text
	.children_b15c64 > .description-30xx7u.formText-2ngGjI {
		@include mixins.subText;
	}

	// Form description (use data to make discord work, ect...)
	.title__3e421.marginBottom8_f4aae3,
	.title__3e421.defaultMarginh3-2aILfT {
		& + .description-30xx7u.formText-2ngGjI {
			background: var(--bg-content);
			border-radius: var(--rounded);
			border: 1px solid var(--border);
			padding: 16px;
		}
	}

	// Spacing
	.children_b15c64 > .divider-_0um2u + div {
		margin-top: 40px;
	}

	// Switches
	.container_c52416 {
		@include mixins.card(column, flex-start);
		margin-top: 0;
		margin-bottom: 4px;
		.title__28a65 {
			@include mixins.cardTitle;
		}
		.note__24c83 {
			@include mixins.cardDesc;
		}
		& + .title__3e421,
		& + div[class^='margin']:not(.container_c52416) {
			margin-top: 40px;
		}
	}

	// Scrollbars
	.contentRegionScroller__86c79 {
		margin-top: calc(var(--win-btn-height) + 16px);
	}

	// Spacing resets
	[class^='margin'] + [class^='margin'] {
		margin-top: 40px;
		margin-bottom: 0;
	}
	.children_b15c64 > [class^='marginBottom']:not(:only-child):first-child {
		margin-bottom: 0;
	}
	.title__3e421.defaultMarginh3-2aILfT {
		margin-top: 40px;
	}

	// Save changes
	.noticeRegion__2779f {
		max-width: 980px;
		right: 0;
	}
	.container__467eb {
		box-shadow: var(--shadow-flyout);
		padding: 16px;
		background: var(--bg-content-alt) !important;
		border: 1px solid var(--border);
		border-radius: var(--rounded);
		.flex_f5fbb7 {
			gap: 8px;
		}
	}
}
