@use '../assets/mono';
@use '../mixins';

#app-mount .layer__960e4 ~ .layer__960e4 {
	// Main title
	.contentColumn__23e6b {
		& > .heading-lg-semibold__85c17:first-child,
		& > div > div:first-child > .sectionTitle__7bffb:first-child .title_b717a1,
		& > div:first-child > .sectionTitle__7bffb:first-child .title_b717a1 {
			@include mixins.title;
		}
	}
	.title-2dsDLn {
		cursor: var(--cursor);
	}

	// Section title
	[class^='margin'] > .title_b717a1,
	.marginTop40_fd297e > .sectionTitle__7bffb > .title_b717a1,
	.title_b717a1.marginBottom8_fd297e,
	.sectionTitle__7bffb .title_b717a1:not(h1) {
		@include mixins.subTitle;
	}

	// Dividers
	[class*='divider_'] {
		display: none;
	}

	// Section description/text
	.children__7bffb > .description-30xx7u.formText-2ngGjI {
		@include mixins.subText;
	}

	// Form description (use data to make discord work, ect...)
	.title_b717a1.marginBottom8_fd297e,
	.title_b717a1.defaultMarginh3-2aILfT {
		& + .description-30xx7u.formText-2ngGjI {
			background: var(--bg-content);
			border-radius: var(--rounded);
			border: 1px solid var(--border);
			padding: 16px;
		}
	}

	// Spacing
	.children__7bffb > .divider-_0um2u + div {
		margin-top: 40px;
	}

	// Switches
	.container__0d850 {
		@include mixins.card(column, flex-start);
		margin-top: 0;
		margin-bottom: 4px;
		.title__0d850 {
			@include mixins.cardTitle;
		}
		.note__0d850 {
			@include mixins.cardDesc;
		}
		& + .title_b717a1,
		& + div[class^='margin']:not(.container__0d850) {
			margin-top: 40px;
		}
	}

	// Scrollbars
	.contentRegionScroller__23e6b {
		margin-top: calc(var(--win-btn-height) + 16px);
	}

	// Spacing resets
	[class^='margin'] + [class^='margin'] {
		margin-top: 40px;
		margin-bottom: 0;
	}
	.children__7bffb > [class^='marginBottom']:not(:only-child):first-child {
		margin-bottom: 0;
	}
	.title_b717a1.defaultMarginh3-2aILfT {
		margin-top: 40px;
	}

	// Save changes
	.noticeRegion__23e6b {
		max-width: 980px;
		right: 0;
	}
	.container_fcf29c {
		box-shadow: var(--shadow-flyout);
		padding: 16px;
		background: var(--bg-content-alt) !important;
		border: 1px solid var(--border);
		border-radius: var(--rounded);
		.flex__7c0ba {
			gap: 8px;
		}
	}
}
