@use '../assets/mono';
@use '../mixins';

#app-mount .layer-86YKbF ~ .layer-86YKbF {
	// Main title
	.contentColumn-1C7as6 {
		& > .heading-lg-semibold-14ouVv:first-child,
		& > div > div:first-child > .sectionTitle-LdcnyP:first-child .title-lXcL8p,
		& > div:first-child > .sectionTitle-LdcnyP:first-child .title-lXcL8p {
			@include mixins.title;
		}
	}
	.title-2dsDLn {
		cursor: var(--cursor);
	}

	// Section title
	[class^='margin'] > .title-lXcL8p,
	.marginTop40-Q4o1tS > .sectionTitle-LdcnyP > .title-lXcL8p,
	.title-lXcL8p.marginBottom8-emkd0_,
	.sectionTitle-LdcnyP .title-lXcL8p:not(h1) {
		@include mixins.subTitle;
	}

	// Dividers
	[class*='divider-'] {
		display: none;
	}

	// Section description/text
	.children-1xdcWE > .description-30xx7u.formText-2ngGjI {
		@include mixins.subText;
	}

	// Form description (use data to make discord work, ect...)
	.title-lXcL8p.marginBottom8-emkd0_,
	.title-lXcL8p.defaultMarginh3-2aILfT {
		& + .description-30xx7u.formText-2ngGjI {
			background: var(--bg-content);
			border-radius: var(--rounded);
			border: 1px solid var(--border);
			padding: 16px;
		}
	}

	// Spacing
	.children-1xdcWE > .divider-_0um2u + div {
		margin-top: 40px;
	}

	// Switches
	.container-31PmuA {
		@include mixins.card(column, flex-start);
		margin-top: 0;
		margin-bottom: 4px;
		.title-2yADjX {
			@include mixins.cardTitle;
		}
		.note-3SS3a9 {
			@include mixins.cardDesc;
		}
		& + .title-lXcL8p,
		& + div[class^='margin']:not(.container-31PmuA) {
			margin-top: 40px;
		}
	}

	// Scrollbars
	.contentRegionScroller-2_GT_N {
		margin-top: calc(var(--win-btn-height) + 16px);
	}

	// Spacing resets
	[class^='margin'] + [class^='margin'] {
		margin-top: 40px;
		margin-bottom: 0;
	}
	.children-1xdcWE > [class^='marginBottom']:not(:only-child):first-child {
		margin-bottom: 0;
	}
	.title-lXcL8p.defaultMarginh3-2aILfT {
		margin-top: 40px;
	}

	// Save changes
	.noticeRegion-qjyUVg {
		max-width: 980px;
		right: 0;
	}
	.container-20TyK0 {
		box-shadow: var(--shadow-flyout);
		padding: 16px;
		background: var(--bg-content-alt) !important;
		border: 1px solid var(--border);
		border-radius: var(--rounded);
		.flex-2S1XBF {
			gap: 8px;
		}
	}
}
