// Global
::-webkit-scrollbar-track {
	background: transparent !important;
	border-color: transparent !important;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-background) !important;
}

// Chat scrollbar
.chatContent_f75fb0 .scroller__36d07,
.peopleList__5ec2f,
.scroller_ac6cb0 {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	&::-webkit-scrollbar-track {
		background: transparent !important;
		border-color: transparent !important;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-background);
	}
}

// Other scrollbars
.members_c8ffbb,
.container__2637a .scroller__629e4,
.sidebarRegionScroller__23e6b,
.scroller__99e7c {
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
}
