// Global
::-webkit-scrollbar-track {
	background: transparent !important;
	border-color: transparent !important;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-background) !important;
}

// Chat scrollbar
.chatContent_f087cb .scroller_e412fe,
.peopleList_d2f527,
.scroller_d4b86c {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	&::-webkit-scrollbar-track {
		background: transparent !important;
		border-color: transparent !important;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-background);
	}
}

// Other scrollbars
.members__573eb,
.container__7e23c .scroller__1f498,
.sidebarRegionScroller__8113e,
.scroller__89969 {
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
}
