// Global
::-webkit-scrollbar-track {
	background: transparent !important;
	border-color: transparent !important;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-background) !important;
}

// Chat scrollbar
.chatContent__5dca8 .scroller__1f96e,
.peopleList__2379e,
.scroller__52ae7 {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	&::-webkit-scrollbar-track {
		background: transparent !important;
		border-color: transparent !important;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-background);
	}
}

// Other scrollbars
.members__9f47b,
.container__590e2 .scroller_f0f183,
.sidebarRegionScroller__1fa7e,
.scroller__4b984 {
	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
}
