#app-mount [class*='tabBar_'] {
	display: flex;
	height: auto;
	gap: 0;
	[class*='item_'],
	[class*='tabBarItem_'] {
		margin: 0;
		border: none;
		padding: 10px 12px;
		height: auto;
		border-radius: var(--btn-radius);
		cursor: var(--cursor);
		background: transparent !important;
		color: var(--text-secondary) !important;
		text-transform: none;
		font-weight: var(--font-weight-normal);
		&::before {
			content: '';
			height: 2px;
			width: 0%;
			display: block;
			opacity: 0;
			border-radius: 30px;
			background: var(--accent);
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			transition:
				opacity 0.15s var(--transition),
				width 0.15s var(--transition);
		}
		&:hover {
			color: var(--text-primary) !important;
		}
		&[aria-selected='true'] {
			color: var(--text-primary) !important;
			&::before {
				width: 40%;
				opacity: 1;
			}
		}
	}
}
