#app-mount {
	.tooltip-14MtrL {
		box-shadow: var(--shadow-flyout);
		font-size: 14px;
		border-radius: var(--rounded);
	}
	.tooltipContent-Nejnvh {
		padding: 6px 8px;
	}
	.tooltipPointer-3L49xb {
		border-top-color: var(--border-high);
	}

	.tooltipPrimary-3qLMbS {
		border: 1px solid var(--bg-highest);
		background: var(--bg-high);
	}

	.guildNameText-jBFbNC,
	.tooltipContent-Nejnvh {
		font-weight: 500;
	}
}
