@use '../classes' as *;

#{cls('mount')} {
	#{cls('tooltip.container')} {
		box-shadow: var(--shadow-flyout);
		font-size: 14px;
		border-radius: var(--rounded);
	}
	#{cls('tooltip.content')} {
		padding: 6px 8px;
	}
	#{cls('tooltip.pointer')} {
		border-top-color: var(--border-high);
	}

	#{cls('tooltip.primary')} {
		border: 1px solid var(--bg-highest);
		background: var(--bg-high);
	}

	#{cls('tooltip.guilds.name')},
	#{cls('tooltip.content')} {
		font-weight: 500;
	}
}
