#app-mount {
	.guilds_c48ade {
		width: var(--server-container);
		background: transparent;
		&.hidden_ef3116 {
			display: none;
			& + .base_c48ade {
				border: none;
			}
		}
	}
	.scroller_ef3116 {
		background: var(--bg-main);
		padding-top: 0;
		.tutorialContainer__1f388 + div:not([class]) {
			height: var(--server-size) !important;
			margin-bottom: 4px;
		}
	}
	.gradient_f8ec41 {
		background: linear-gradient(to top, var(--bg-main) 0, rgba(0, 0, 0, 0) 100%);
		top: -8px;
	}
	.footer__214dc {
		background: transparent;
	}
}
