#app-mount {
	.guilds_a4d4d9 {
		width: var(--server-container);
		background: transparent;
		&.hidden_fea3ef {
			display: none;
			& + .base_a4d4d9 {
				border: none;
			}
		}
	}
	.scroller_fea3ef {
		background: var(--bg-main);
		padding-top: 0;
		.tutorialContainer_f9623d + div:not([class]) {
			height: var(--server-size) !important;
			margin-bottom: 4px;
		}
	}
	.gradient_d71945 {
		background: linear-gradient(to top, var(--bg-main) 0, rgba(0, 0, 0, 0) 100%);
		top: -8px;
	}
	.footer_d71945 {
		background: transparent;
	}
}
