#app-mount {
	.guilds-2JjMmN {
		width: var(--server-container);
		background: transparent;
		&.hidden-10MsGQ {
			display: none;
			& + .base-2jDfDU {
				border: none;
			}
		}
		& > ul[role='tree'] {
			margin-bottom: var(--server-container);
		}
	}
	.scroller-3X7KbA {
		background: var(--bg-main);
		//padding-top: 0;
		//margin-bottom: 64px;
		.tutorialContainer-1pL9QS + div:not([class]) {
			height: var(--server-size) !important;
			margin-bottom: 4px;
		}
	}

	div[aria-hidden="true"][style="height: 84px;"]{
		display:none;
	  }
}
