#app-mount {
	.wrapper__832f2 {
		width: 100%;
	}
	.closedFolderIconWrapper__722d5 {
		padding: 6px;
		position: relative;
		z-index: 1;
	}
	.folderIconWrapper__11165 {
		border-radius: var(--rounded);
		transition: box-shadow 0.15s var(--transition);
		&[style^='background-color'] {
			background: var(--folder-bg) !important;
			&:hover {
				box-shadow: var(--server-hover-selected);
			}
		}
	}
	.expandedFolderBackground_b1385f {
		border-radius: var(--rounded);
		height: 100%;
		width: var(--server-size);
		left: 50%;
		transform: translateX(-50%);
		&:not(.collapsed__98ad5) {
			background: var(--server-bg);
		}
	}
	.folder__17546 {
		background: transparent;
		cursor: var(--cursor);
	}
	.guildIcon_b6bfa7 {
		border-radius: var(--server-folder-icon-shape);
		width: calc(var(--server-icon-size) / 1.8);
		height: calc(var(--server-icon-size) / 1.8);
	}

	[id^='folder-items'][role='group'] {
		height: auto !important;
	}
}
