@use '../mixins';

#app-mount {
	.peopleColumn_c2739c {
		position: relative;
	}
	.peopleList_e0840f {
		padding-bottom: calc(var(--bottombar-height) * 1.5);
	}
	.container_c2739c {
		background: var(--bg-alt);
	}
	.tabBody_c2739c::before {
		content: none;
	}

	.searchBar_e0840f {
		margin: 0;
		position: absolute;
		bottom: 12px;
		right: 12px;
		left: 0;
		z-index: 1;
		height: var(--bottombar-height);
		background: var(--bg-main);
		padding: 10px 10px 10px 14px;
		border: 1px solid var(--border-high);
		border-left: none;
		border-radius: 0 var(--rounded) var(--rounded) 0;

		.inner__999f6 {
			background: var(--bg-alt);
			border-radius: var(--rounded);
			flex-direction: row-reverse;
			padding: 0 10px;
			overflow: hidden;
			&::before {
				content: '';
				height: 1px;
				width: 100%;
				background: var(--textbox-underline);
				position: absolute;
				left: 0;
				bottom: 0;
			}
			&:focus-within {
				background: var(--bg-content-alt);
				&::before {
					height: 2px;
					background: var(--accent);
				}
			}
		}
		.input__48d49 {
			padding: 0 10px;
			margin: 0;
		}
	}

	.title_a1cafe {
		margin: 16px;
	}
	.peopleListItem_d51464 {
		height: auto !important;
		margin: 0 4px 4px 16px;
		padding: 8px 16px;
		border-radius: var(--rounded);
		cursor: var(--cursor);
		border: none;
		position: relative;

		&::before {
			content: '';
			display: block;
			height: 0;
			width: var(--pill-width);
			background: var(--accent);
			border-radius: 50px;
			transition: var(--pill-transition);
			opacity: 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}

		.actionButton_e01b91 {
			@include mixins.btn;
			@include mixins.btnSecondary;
			width: auto;
			height: auto;
		}

		&:hover {
			background: var(--bg-interactive-high);
		}
		&.active_d51464 {
			background: var(--bg-interactive-high);
			&::before {
				height: var(--pill-height);
				opacity: 1;
			}
		}
	}

	// Add friend
	.addFriendInputWrapper_de812f {
		padding: 0;
		border: none;
		background: transparent;
		margin-top: 16px;
	}
}
