#app-mount {
    .scroller__9c698,
    .container__0eeef.scroller__311cd.auto__76cc7.scrollerBase__2b744 {
        background-color: var(--bg-alt);
    }

    .libraryHeader_ee5638 {
        margin-top: 44px;
        padding-right: 0px !important;
        border-top: 1px solid var(--border-mid);
    }

    .libraryFilter_c21584 {
        width: 240px;
    }
}