@use '../mixins';

#app-mount {
	.container__3673d {
		background: transparent;
	}
	.nowPlayingColumn_b025fe {
		background: transparent;
	}

	.scroller__7c25e {
		border-left: 1px solid var(--border-mid);
		margin: 0;
	}

	.header_c56a27 {
		margin: 0 0 16px;
		@include mixins.subTitle;
	}

	.itemCard_b64118 {
		border-radius: var(--rounded);
		border: 1px solid var(--border);
		background: var(--bg-content);
		cursor: var(--cursor);
		padding: 0;
		.sectionTitle-2AR_TY {
			@include mixins.text;
		}
		.size14-3fJ-ot {
			@include mixins.subText;
		}
		&:hover {
			background: var(--bg-content-alt);
		}
	}
	.header__3cd76 {
		padding: 12px;
	}
	.body__616e6 {
		margin: 0;
		border-top: 1px solid var(--border);
		border-radius: 0;
		background: transparent;
	}
	.section__253ec {
		background: transparent;
	}
	.voiceSectionDetails__00679 {
		cursor: var(--cursor);
	}
}
