@use '../mixins';

#app-mount {
	.container__0a6a9 {
		background: transparent;
	}
	.nowPlayingColumn_f5023f {
		background: transparent;
	}

	.scroller__00e7e {
		border-left: 1px solid var(--border-mid);
		margin: 0;
	}

	.header__123bf {
		margin: 0 0 16px;
		@include mixins.subTitle;
	}

	.itemCard__1f162 {
		border-radius: var(--rounded);
		border: 1px solid var(--border);
		background: var(--bg-content);
		cursor: var(--cursor);
		padding: 0;
		.sectionTitle-2AR_TY {
			@include mixins.text;
		}
		.size14-3fJ-ot {
			@include mixins.subText;
		}
		&:hover {
			background: var(--bg-content-alt);
		}
	}
	.header__77ddf {
		padding: 12px;
	}
	.body__83069 {
		margin: 0;
		border-top: 1px solid var(--border);
		border-radius: 0;
		background: transparent;
	}
	.section_efc22d {
		background: transparent;
	}
	.voiceSectionDetails_b9919a {
		cursor: var(--cursor);
	}
}
