#app-mount {
	.container-2E0bff {
		width: 748px !important;
	}
	.guildSidebar-UHnQqs {
		background: var(--bg-alt);
		border-right: 1px solid var(--border-high);
	}
	.modal-2TOYtq {
		background: transparent;
	}
	.formFieldWrapper-2LV3S6 {
		background: var(--bg-alt);
		border: 1px solid var(--border-high);
		border-radius: var(--rounded);
	}
}