#app-mount {
	.container_c8ffbb,
	.members_c8ffbb,
	.members_c8ffbb > div {
		background: var(--bg-alt);
	}

	.membersWrap_c8ffbb {
		border-left: 1px solid var(--border-mid);
		min-width: var(--members-width);
		width: var(--members-width);
		height: 100%;
	}
	.members_c8ffbb {
		width: 100%;
		padding: 8px 2px 8px 8px !important;
		box-sizing: border-box;
	}
}
