#app-mount {
	.container-2vWgD2,
	.members-2y1nVj,
	.members-2y1nVj > div {
		background: var(--bg-alt);
	}

	.membersWrap-3GwLFp {
		border-left: 1px solid var(--border-mid);
		min-width: var(--members-width);
		width: var(--members-width);
		height: 100%;
	}
	.members-2y1nVj {
		width: 100%;
		padding: 8px 2px 8px 8px !important;
		box-sizing: border-box;
	}
}
