#app-mount {
	.container_f79ab4,
	.members__573eb,
	.members__573eb > div {
		background: var(--bg-alt);
	}

	.membersWrap__5ca6b {
		border-left: 1px solid var(--border-mid);
		min-width: var(--members-width);
		width: var(--members-width);
		height: 100%;
	}
	.members__573eb {
		width: 100%;
		padding: 8px 2px 8px 8px !important;
		box-sizing: border-box;
	}
}
