@use '../mixins';

#app-mount .member_a31c43 {
	max-width: none;
	margin: 0;
	padding: 2px 0;
	background: transparent;
	.layout_d808b0 {
		height: 48px;
		padding: 0 16px;
		cursor: var(--cursor);
		&::before {
			content: '';
			border-radius: 50px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: var(--pill-width);
			height: 0;
			left: 0;
			opacity: 0;
			background: var(--accent);
			transition: var(--pill-transition);
		}
	}

	.name_d808b0 {
		@include mixins.text;
	}

	&:hover .layout_d808b0 {
		background: var(--bg-interactive-high);
	}
	&.selected_d808b0 .layout_d808b0 {
		background: var(--bg-interactive-high);
		&::before {
			height: var(--pill-height);
			opacity: 1;
		}
		&:hover {
			background: var(--bg-interactive-high-hover);
		}
	}
}
