@use '../mixins';
@use '../assets/mono';
@use '../classes' as *;

$banner-height: 300px;

#app-mount {
	.userProfileModalOuter_a65559 {
		border-radius: var(--rounded);
		width: clamp(var(--profile-modal-width), 100vmax, var(--profile-modal-width));
		height: clamp(var(--profile-modal-height), 100vmax, var(--profile-modal-height));
		padding: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		.bannerSVGWrapper__8a38c {
			min-height: unset !important;
			min-width: unset !important;
			width: 100%;
			border-radius: var(--rounded);
			overflow: hidden;
			mask: linear-gradient(white, transparent);
			foreignObject {
				all: unset;
				mask: none;
				width: 100%;
				height: 100%;
			}
			.banner__6d414 {
				height: 100%;
				width: 100%;
				min-height: unset;
				div {
					display: none;
				}
			}
		}
		.topSection-13QKHs {
			margin: 0;
		}
		.header-S26rhB {
			position: absolute;
			top: 0;
			width: 100%;
		}
		.avatar-3QF_VA {
			right: 24px;
			top: 24px;
			left: unset;
			background: hsl(0 0% 100% / 0.2);
			border-color: transparent;
			box-shadow: 0 0 0 12px hsl(0 0% 100% / 0.2);
			circle[fill='black'] {
				fill: transparent;
			}
		}
		.headerTop-1PNKck {
			position: unset;
		}
		.badgeList-2aoHPw {
			position: absolute;
			top: 224px;
			right: 24px;
			margin: 0;
		}
	}
	.userProfileModalInner__99b1e {
		&::before {
			width: 100%;
			height: 100%;
		}
	}
	.userProfileModalOverlayBackground__7ec35 {
		margin: 0;
		border-radius: 0;
		background: transparent;
		flex: 1;
		overflow: visible;
		position: unset;
	}
	.body-1Ukv50 {
		flex: 1;
		overflow: visible;
		height: 100px;
		position: unset;

		.scrollerBase_f742b2 {
			padding: 24px !important;
		}
	}
	.container-3g15px {
		padding: 12px 24px;
	}
	.tabBarContainer-sCZC4w {
		margin: 0;
		padding: 12px 12px 0;
	}
	.container-3g15px {
		& > div:first-child {
			position: absolute;
			top: 24px;
			left: 24px;
			text-shadow: 0 2px 5px black;
		}
		& > div:last-child {
			position: relative;
			z-index: 1;
		}
	}
}
