@use '../mixins';
@use '../assets/mono';
@use '../classes' as *;

$banner-height: 300px;

#{cls('mount')} {
	#{cls('modal.user.outer')} {
		padding: 0;
		#{cls('profile.bannerWrapper')} {
			overflow: visible;
			pointer-events: none;
			foreignObject {
				mask: none;
			}
		}
		#{cls('profile.banner')} {
			mask: linear-gradient(hsl(0 0% 0% / 0.5), transparent 90%);
			position: absolute;
			width: 100%;
			height: 170px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: unset;
			[role='button'] {
				display: none;
			}
		}
	}
	#{cls('modal.user.inner')} {
		&::before {
			content: none;
		}
		&#{cls('!profile.innerNonPremium')} {
			#{cls('modal.user.tabBar.item')}::before {
				background: var(--profile-message-input-border-color);
			}
			#{cls('modal.user.info.textarea')}:focus {
				border-bottom-color: var(--profile-message-input-border-color);
				box-shadow: inset 0 -1px 0 var(--profile-message-input-border-color);
			}
		}
		&#{cls('profile.innerNonPremium')} {
			#{cls('modal.user.overlay')} {
				padding: 0;
			}
		}
	}

	#{cls('modal.user.top')} {
		margin-bottom: 0;
		height: 180px;
		z-index: 0;
		#{cls('status.avatar')} {
			top: 24px;
			right: 24px;
			left: unset;
			background: hsl(0 0% 100% / 0.2);
			border-color: transparent;
			box-shadow: 0 0 0 8px hsl(0 0% 100% / 0.2);
			circle[fill='black'] {
				fill: transparent;
			}
		}
	}
	#{cls('modal.user.header')} {
		position: unset;
	}
	#{cls('modal.user.headerTop')} {
		position: unset;
	}
	#{cls('modal.user.badges')} {
		position: absolute;
		top: 104px;
		left: 24px;
		background: transparent;
		padding: 0;
		margin: 0;
	}
	#{cls('modal.user.badgeImage')} {
		filter: drop-shadow(var(--profile-premium-text-shadow));
	}
	#{cls('modal.user.relations.action')} {
		position: absolute;
		top: 24px;
		right: 24px;
		width: 120px !important;
		height: 120px !important;
		border-radius: 50% !important;
		background: hsl(0 0% 0% / 0.6) !important;
		margin: 0;
		color: #fff !important;
		opacity: 0;
		transition: opacity 0.15s var(--transition) !important;
		#{cls('buttons.content')} {
			white-space: normal;
		}
		&:hover {
			opacity: 1;
		}
	}
	#{cls('modal.user.relations.container modal.user.relations.more')} {
		position: absolute;
		top: 4px;
		right: 4px;
	}

	#{cls('modal.user.body')} {
		overflow: visible;
		flex: none;
	}
	#{cls('modal.user.overlay')} {
		position: unset;
		margin-top: 0;
	}
	#{cls('modal.user.details')} {
		position: absolute;
		top: 24px;
		left: 24px;
		z-index: 1;
		padding: 0;
	}
	#{cls('modal.user.nameTag')} {
		text-shadow: var(--profile-premium-text-shadow);
		font-size: 24px;
	}
	#{cls('modal.user.customStatusText')} {
		font-weight: var(--font-weight-semibold);
		max-width: 400px;
		text-shadow: var(--profile-premium-text-shadow);
	}
	#{cls('modal.user.divider')} {
		display: none;
	}

	#{cls('modal.user.tabBar.container')} {
		margin: 8px;
		border: none;
	}
	#{cls('modal.user.tabBar.tabBar')} {
		gap: 0;
	}

	#{cls('modal.user.list.scroller,modal.user.info.scroller')} {
		max-height: 330px;
		height: 330px;
	}
}
