@use '../mixins';

#app-mount {
	.profilePanel_e2cafe {
		border-left: 1px solid var(--border-high);
		background: var(--bg-altuserPanelInner_f9edb8);

		.userPanelOuter_eb00b1:not(.userProfileOuterThemed__1fbd7),
		.userPanelInner_f9edb8 {
			background: transparent;
		}

		.bannerSVGWrapper__8a38c {
			overflow: visible;
			pointer-events: none;
			foreignObject {
				mask: none;
			}
		}
		.banner__6d414 {
			mask: linear-gradient(hsl(0 0% 0% / 0.5), transparent 90%);
			position: absolute;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: unset;
			[role='button'] {
				display: none;
			}
		}
		.gifTag__9db5a {
			display: none;
		}

		.avatarWrapperNormal__36eec {
			top: 24px;
			right: 24px;
			left: unset;
			background: hsl(0 0% 100% / 0.2);
			border-color: transparent;
			box-shadow: 0 0 0 8px hsl(0 0% 100% / 0.2);
			circle[fill='black'] {
				fill: transparent;
			}
		}

		.badgelistGroup__8f7c7 {
			position: absolute;
			top: 85px;
			left: 16px;
			padding: 0;
			margin: 0;
		}
		.badgeList__76720 {
			background: transparent;
			padding: 0;
		}

		.overlayBackground__2666e {
			position: unset;
			background: var(--bg-transparent);
			&:nth-child(2) > .section__62b44:first-of-type {
				padding: 0;
				position: absolute;
				top: 16px;
				left: 16px;
				& + .divider_e6f9ab {
					display: none;
				}
			}
		}

		.profilePanelConnections__34438 {
			background: transparent;

			button {
				@include mixins.btnSecondary;
			}
		}
		.mutualFriendsDivider__2c616 {
			border: none;
			margin-top: 12px;
		}
	}
}
