@use '../mixins';

#app-mount {
	.profilePanel__12596 {
		border-left: 1px solid var(--border-high);
		background: var(--bg-altuserPanelInner_eddf4c);

		.userPanelOuter__880e5:not(.userProfileOuterThemed__6eb84),
		.userPanelInner_eddf4c {
			background: transparent;
		}

		.bannerSVGWrapper__3e7b0 {
			overflow: visible;
			pointer-events: none;
			foreignObject {
				mask: none;
			}
		}
		.banner__6d414 {
			mask: linear-gradient(hsl(0 0% 0% / 0.5), transparent 90%);
			position: absolute;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width: unset;
			[role='button'] {
				display: none;
			}
		}
		.gifTag__9db5a {
			display: none;
		}

		.avatarWrapperNormal__0bddb {
			top: 24px;
			right: 24px;
			left: unset;
			background: hsl(0 0% 100% / 0.2);
			border-color: transparent;
			box-shadow: 0 0 0 8px hsl(0 0% 100% / 0.2);
			circle[fill='black'] {
				fill: transparent;
			}
		}

		.badgelistGroup__53eaa {
			position: absolute;
			top: 85px;
			left: 16px;
			padding: 0;
			margin: 0;
		}
		.badgeList_ef4131 {
			background: transparent;
			padding: 0;
		}

		.overlayBackground__86b78 {
			position: unset;
			background: var(--bg-transparent);
			&:nth-child(2) > .section__6f61e:first-of-type {
				padding: 0;
				position: absolute;
				top: 16px;
				left: 16px;
				& + .divider_ed0c1d {
					display: none;
				}
			}
		}

		.profilePanelConnections__3c232 {
			background: transparent;

			button {
				@include mixins.btnSecondary;
			}
		}
		.mutualFriendsDivider_c21dfe {
			border: none;
			margin-top: 12px;
		}
	}
}
