#app-mount .menu-1QACrS {
	min-width: 280px;
	background: var(--bg-menu);
	border: 1px solid var(--border-high);
	border-radius: var(--rounded-high);
	box-shadow: none;

	.scroller-1bVxF5 {
		padding: 0 !important;
		&::-webkit-scrollbar {
			display: none;
		}
		& > .item-1OdjEX,
		& > .submenuContainer-3EVTeH {
			margin: 6px;
		}
	}

	.wrapper--nA0oy {
		padding: 6px 6px 0 !important;
		&::after {
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			grid-column: 1 / -1;
			background: var(--border-high);
			margin-top: 6px;
		}
	}
	.customItem-2CxBSo {
		width: 100%;
	}
	.button-1zW0-r {
		width: 100%;
		border-radius: var(--rounded);
		background: transparent;
		cursor: var(--cursor);
		padding: 4px 0;
		&:hover {
			background: var(--bg-higher);
		}
	}

	[role="group"]:not(.wrapper--nA0oy) {
		padding: 6px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		& > .item-1OdjEX:last-child {
			margin-bottom: 0;
		}
	}
	[role="separator"] {
		margin: 2px 6px;
		border-color: var(--border-high);
	}
	[role="slider"] {
		.grabber-2GQyvM {
			width: 14px;
			height: 14px;
			transform: translateY(0);
		}
	}

	.item-1OdjEX {
		margin: 0;
		border-radius: var(--rounded);
		padding: 8px 12px;
		cursor: var(--cursor);
		flex-direction: row-reverse;
		gap: 8px;

		.label-2gNW3x:only-child {
			order: -1;
		}
		.iconContainer-1-SsTR {
			margin: 0;
		}
		.icon-LYJorE {
			color: currentColor;
		}
		.newBadge-1bHewI {
			font-size: 10px;
			border-radius: var(--rounded);
			margin-top: -4px;
			font-weight: 500;
			padding: 0 4px;
		}

		&.hideInteraction-2jPGL_ {
			padding: 0;
		}
		&.focused-3qFvc8,
		&:active:not(.hideInteraction-2jPGL_) {
			background: var(--bg-menu-item);
			color: var(--text-primary) !important;
		}
		&.colorPremium-vwmYZQ {
			color: hsl(var(--discord-pink));
		}
		&.colorBrand-3cPPsm {
			color: rgb(var(--accent));
		}
	}

	[role="menuitemcheckbox"] {
		flex-direction: row;
	}

	// Reset
	.submenuContainer-3EVTeH {
		.item-1OdjEX {
			flex-direction: row;
		}
		.layer-2aCOJ3 {
			margin-top: -6px;
		}
	}
}