#app-mount {
	.header-1w9Q93, .messagesPopout-eVzQcI {
        background-color: var(--bg-content);
    }
    .messageGroupWrapper-1jf_7C {
        background-color: var(--bg-alt);
    }
    /*.layer-2aCOJ3, .messagesPopoutWrap-3zryHW{
        width: 550px;
    }*/

    .layer-2aCOJ3 {
        .messagesPopoutWrap-3zryHW{
            width: 550px;
        }
    }
}