@use '../mixins';

#app-mount [role="dialog"] {
	.header-3_zmOb,
	.header-1w9Q93 {
		border-bottom: 1px solid var(--border-high);
		background: var(--bg-alt);
		box-shadow: none;
		padding: 0 12px;
		display: flex;
		align-items: center;
		height: 48px;
		min-height: 48px;
		.size16-rrJ6ag {
			@include mixins.textHigh;
		}
	}
	[class*="tabBar-"] {
		display: flex;
		height: auto;
	}
	[class*="tab-"] {
		margin: 0;
		border: none;
		padding: 10px 12px;
		border-radius: var(--btn-radius);
		cursor: var(--cursor);
		height: auto;
		background: transparent;
		&::before {
			content: "";
			height: 2px;
			width: 0%;
			display: block;
			opacity: 0;
			border-radius: 30px;
			background: rgb(var(--accent));
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: opacity .15s var(--transition), width .15s var(--transition);
		}
		&[aria-selected="true"]::before {
			width: 40%;
			opacity: 1;
		}
	}

	[class^="jumpButton-"] {
		@include mixins.btn;
		@include mixins.btnSecondary;
		height: auto;
		margin: 0;
		top: 0;
		right: 12px;
	}
}