#app-mount {
	.searchResultsWrap-5RVOkx {
        background-color: var(--bg-content);
        width: 475px;
    }

    .colorHeaderPrimary-jN_yGr {
        background-color: var(--bg-content);
    }

    .searchHeader-1r_ZSh {
        background-color: var(--bg-main);
    }

    .message-24k8JL, {
        background-color: var(--bg-alt);
    }
}