@keyframes fadeInFromBottom {
	from {
		opacity: 0;
		transform: translateY(6px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes settingsIn {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
