.theme-light,
html.theme-light #app-mount .theme-light .root_f9a4c9 {
	--bg-main: #f3f3f3;
	--bg-alt: #fafafa;
	--bg-content: #fbfbfb;
	--bg-content-alt: #f6f6f6;

	--bg-transparent: hsl(0 0% 40% / 0.25);
	--bg-transparent-hover: hsl(0 0% 40% / 0.35);
	--bg-transparent-active: hsl(0 0% 40% / 0.4);

	--bg-interactive: #eaeaea;
	--bg-interactive-hover: #ededed;
	--bg-interactive-high: #eeeeee;
	--bg-interactive-high-hover: #f1f1f1;

	--bg-high: #fff;
	--bg-higher: #fff;
	--bg-highest: #fff;

	--bg-menu: #f9f9f9;
	--bg-menu-item: #f0f0f0;
	--bg-menu-item-hover: #f3f3f3;

	--chat-bubble-bg: var(--bg-main);
	--chat-mention-bubble: hsl(0 0% 0% / 0.05);

	--border: #e5e5e5;
	--border-mid: #e8e8e8;
	--border-high: #ececec;

	--pill-unread: #9a9a9a;
	--pill-hovered: #fff;

	--btn-bg: hsl(0 0% 100%);
	--btn-bg-hover: hsl(0 0% 0% / 0.005);
	--btn-bg-active: hsl(0 0% 100% / 0.005);
	--btn-border-t: hsl(0 0% 0% / 0.06);
	--btn-border-x: hsl(0 0% 0% / 0.06);
	--btn-border-b: hsl(0 0% 0% / 0.15);
	--btn-border-active: hsl(0 0% 0% / 0.15);

	--scrollbar-background: hsl(0 0% 50%);

	--server-bg: hsl(0 0% 0% / 0.08);
	--folder-bg: var(--server-bg);

	--textbox-bg: #fbfbfb;
	--textbox-bg-hover: #f6f6f6;
	--textbox-bg-active: #f6f6f6;
	--textbox-border: #e5e5e5;
	--textbox-underline: #868686;

	--switch-border: hsl(0 0% 0% / 54.42%);

	--text-primary: hsl(0 0% 0% / 100%);
	--text-secondary: hsl(0 0% 0% / 75%);
	--text-tertiary: hsl(0 0% 0% / 55%);
}
