:root {
	--fluent-version: '1.1.7';

	--transition: cubic-bezier(0, 0, 0, 1);

	--accent-text: #000;
	--accent-solid: var(--accent);

	--pill-width: 4px;
	--pill-height: 16px;
	--pill-transition: scale 0.15s var(--transition);

	--btn-radius: 6px;
	--rounded-high: 8px;
	--rounded: 4px;

	--toolbar-height: 64px;

	--bottombar-height: 64px;

	--font-weight-light: 300;
	--font-weight-semilight: 350;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size: 16px;
	--font-size-md: 18px;
	--font-size-lg: 20px;
	--font-size-xl: 28px;
	--font-size-2xl: 40px;

	--line-height: 16px;
	--line-height-md: 20px;
	--line-height-lg: 24px;
	--line-height-xl: 28px;
	--line-height-2xl: 36px;
	--line-height-3xl: 52px;

	--font-display: 'Segoe UI', sans-serif;
	--font-primary: 'Segoe UI', sans-serif;

	--shadow-flyout: 0px 8px 16px hsla(0 0% 0% / 0.14);
	--shadow-dialog: 0px 32px 64px hsla(0 0% 0% / 0.188) 0px 2px 21px hsla(0 0% 0% / 0.147);

	--cursor: default;

	--chat-mention-colour: var(--accent);
	--chat-padding-y: 12px;
	--chat-padding-x: 16px;
	--chat-spacing-y: 32px;
	--chat-spacing-x: 24px;

	--server-size: 48px;
	--server-icon-size: 28px;
	--server-container: calc(var(--server-size) + 16px);
	--server-hover-selected: inset 0 0 0 100vmax var(--server-bg), inset 1px 0 0 var(--btn-border-x), inset 0 1px 0 var(--btn-border-t),
		inset -1px 0 var(--btn-border-x), inset 0 -1px 0 var(--btn-border-b);
	--server-icon-shape: 50%;
	--server-folder-icon-shape: 2px;

	--channel-padding: 8px;

	--banner-height: 155px;
	--profile-modal-height: 700px;
	--profile-modal-width: 800px;

	--win-btn-height: 32px;
	--win-btn-width: 52px;

	--profile-premium-text-shadow: 0 2px 5px hsl(0 0% 0% / 0.75);

	--discord-pink: 302 calc(var(--saturation-factor, 1) * 100%) 72.5%;
	--discord-red: 359 calc(var(--saturation-factor, 1) * 82.6%) 59.4%;
	--discord-grey: 217 8% 34%;

	--text-normal: var(--text-primary);
	--text-muted: var(--text-tertiary);
	--interactive-muted: var(--text-quaternary);
	--text-link: var(--accent);
}
