@use 'sass:list';
@use '../theme/assets/mono';
@use '../theme/assets/brand';

.wrapper-NhbLHG {
	--fluent-icons-color: var(--interactive-normal);
	&.modeMuted-2T4MDZ {
		--fluent-icons-color: var(--interactive-muted);
	}
	&.modeUnread-3Cxepe {
		--fluent-icons-color: var(--interactive-active);
	}
}

.link-1_kTxV {
	path {
		display: none;
	}
	svg {
		background: var(--fluent-icons-color);
	}

	// Channel actions (open chat, create invite, channel setting)
	svg:has(path[d^='M4.79805 3C3.80445 3 2.99805']) {
		mask-image: url(mono.$chat);
	}
	svg:has(path[d^='M6.5 8.00667C7.88 8.00667']) {
		mask-image: url(mono.$user-add);
	}
	svg:has(path[d^='M14 7V9C14 9 12.5867']) {
		mask-image: url(mono.$cog);
	}

	// Text channel
	svg:has(path[d^='M5.88657 21C5.57547']),
	svg:has(path[d^='M14 8C14 7.44772']),
	svg:has(path[d^='M5.43309 21C5.35842 21']),
	svg:has(path[d^='M22.545 4.91992V3.91992C22.545 2.79992']) {
		mask-image: url(mono.$chat);
	}
	// Announcements
	svg:has(path[d^='M19.1 4V5.12659L4.85']),
	svg:has(path[d^='M19.0999 3.99994V5.12653L4.84988']),
	svg:has(path[d^='M22.545 4.87988V5.87988H23.28C23.4126']) {
		mask-image: url(mono.$megaphone);
	}
	// Threads
	svg:has(path[d^='M6.56929 14.6869H2.34375C1.97079']),
	svg:has(path[d^='M13 4C13 3.66767 13.0405']) {
		mask-image: url(mono.$chat-multiple);
	}
	// Voice
	svg:has(path[d^='M11.383 3.07904C11.009']),
	svg:has(path[d^='M15 12C15 12.0007 15']) {
		mask-image: url(mono.$speaker);
	}
	// Rules
	svg:has(path[d^='M33 34.5833V7.49998H35V36.6666H9C6.791']) {
		mask-image: url(mono.$important);
	}
	// Browse Channels
	svg:has(path[d^='M5.00328 17.5C4.69218 17.5']) {
		mask-image: url(mono.$search);
	}
	// Events
	svg:has(path[d^='M14 13C14 14.1']) {
		mask-image: url(mono.$rss);
	}
	// Ongoing events
	svg:has(path[d^='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11']) {
		mask-image: url(mono.$calendar-clock);
	}
	// Locked channel
	svg:has(path[d^='M17 11V7C17 4.243']) {
		mask-image: url(mono.$lock-closed);
	}

	// Members channel
	svg:has(path[d^='M14 8.00598C14 10.211 12.206 12.006']) {
		mask-image: url(mono.$people);
	}

	// Channel modifiers (locked/threads)
	.iconContainer-21RCa3 {
		// Locked channel
		&:has(path[d^='M21.025 5V4C21.025'])::before,
		&:has(path[d^='M13 4C13 3.66767 13.0405'])::before,
		&:has(path[d^='M22.545 4.87988V5.87988H23.28C23.4126'])::before,
		&:has(path[d^='M15.44 6.99992C15.5725 6.99992'])::before {
			content: '';
			mask: url(mono.$lock-closed-filled) center/cover;
			top: -3px;
			right: -2px;
			position: absolute;
			background: var(--fluent-icons-color);
			display: block;
			width: 12px;
			height: 12px;
			z-index: 1;
		}
		// Threads in that channel
		&:has(path[d^='M5.43309 21C5.35842 21'])::after,
		&:has(path[d^='M19.0999 3.99994V5.12653L4.84988'])::after,
		&:has(path[d^='M23.44 12.9599C12.9098 12.9599'])::after {
			mask: url(mono.$comment-multi-filled) center/cover;
			bottom: -2px;
			right: -2px;
			content: '';
			position: absolute;
			background: var(--fluent-icons-color);
			display: block;
			width: 12px;
			height: 12px;
			z-index: 1;
		}
	}
}

svg:not([name='GamepadDisabled']) path {
	// Mic
	&[d='M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V21H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1ZM12 4C11.2 4 11 4.66667 11 5V11C11 11.3333 11.2 12 12 12C12.8 12 13 11.3333 13 11V5C13 4.66667 12.8 4 12 4Z'] {
		display: none;
	}
	&[d='M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V22H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1Z'] {
		d: path(mono.$mic_path);
	}
	// Mic off
	&[d='M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z'],
	&[d='M9.01 11.085C9.015 11.1125 9.02 11.14 9.02 11.17L15 5.18V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 11.03 9.005 11.0575 9.01 11.085Z'],
	&[d='M11.7237 16.0927L10.9632 16.8531L10.2533 17.5688C10.4978 17.633 10.747 17.6839 11 17.72V22H13V17.72C16.28 17.23 19 14.41 19 11H17.3C17.3 14 14.76 16.1 12 16.1C11.9076 16.1 11.8155 16.0975 11.7237 16.0927Z'] {
		display: none;
	}
	&[d='M21 4.27L19.73 3L3 19.73L4.27 21L8.46 16.82L9.69 15.58L11.35 13.92L14.99 10.28L21 4.27Z'] {
		d: path(mono.$mic-off_path);
	}
}
path {
	// Headset
	&[d='M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z'] {
		d: path(mono.$speaker_path-primary);
	}
	// Headset off
	&[d='M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z'],
	&[d='M19.725 9.91686C19.9043 10.5813 20 11.2796 20 12V15H18C16.896 15 16 15.896 16 17V20C16 21.104 16.896 22 18 22H20C21.105 22 22 21.104 22 20V12C22 10.7075 21.7536 9.47149 21.3053 8.33658L19.725 9.91686Z'] {
		display: none;
	}
	&[d='M3.20101 23.6243L1.7868 22.2101L21.5858 2.41113L23 3.82535L3.20101 23.6243Z'] {
		d: path(mono.$speaker-off_path);
	}

	// Settings
	&[d='M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z'] {
		d: path(mono.$cog_path);
	}

	// Disconnect/end call
	&[d='M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839 9.11603L21.1169 10.884L17.9999 7.76803L14.8839 10.884L13.1169 9.11603L16.2329 6.00003L13.1169 2.88403L14.8839 1.11603L17.9999 4.23203L21.1169 1.11603ZM18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22Z'] {
		d: path(mono.$call-dismiss_path);
	}

	// Users
	&[d='M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z'] {
		d: path(mono.$people_path);
		& ~ path {
			display: none;
		}
	}
	// User add
	&[d='M21 3H24V5H21V8H19V5H16V3H19V0H21V3ZM10 12C12.205 12 14 10.205 14 8C14 5.795 12.205 4 10 4C7.795 4 6 5.795 6 8C6 10.205 7.795 12 10 12ZM10 13C5.289 13 2 15.467 2 19V20H18V19C18 15.467 14.711 13 10 13Z'] {
		d: path(mono.$user-add_path);
	}

	// Pin
	&[d='M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z'] {
		d: path(mono.$pin_path);
	}

	// Bell
	&[d='M18 9V14C18 15.657 19.344 17 21 17V18H3V17C4.656 17 6 15.657 6 14V9C6 5.686 8.686 3 12 3C15.314 3 18 5.686 18 9ZM11.9999 21C10.5239 21 9.24793 20.19 8.55493 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21Z'] {
		d: path(mono.$bell_path);
	}
	// Bell off
	&[d='M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z'] {
		d: path(mono.$bell-off_path);
		& ~ path {
			display: none;
		}
	}

	// Threads
	&[d='M5.43309 21C5.35842 21 5.30189 20.9325 5.31494 20.859L5.99991 17H2.14274C2.06819 17 2.01168 16.9327 2.02453 16.8593L2.33253 15.0993C2.34258 15.0419 2.39244 15 2.45074 15H6.34991L7.40991 9H3.55274C3.47819 9 3.42168 8.93274 3.43453 8.85931L3.74253 7.09931C3.75258 7.04189 3.80244 7 3.86074 7H7.75991L8.45234 3.09903C8.46251 3.04174 8.51231 3 8.57049 3H10.3267C10.4014 3 10.4579 3.06746 10.4449 3.14097L9.75991 7H15.7599L16.4523 3.09903C16.4625 3.04174 16.5123 3 16.5705 3H18.3267C18.4014 3 18.4579 3.06746 18.4449 3.14097L17.7599 7H21.6171C21.6916 7 21.7481 7.06725 21.7353 7.14069L21.4273 8.90069C21.4172 8.95811 21.3674 9 21.3091 9H17.4099L17.0495 11.04H15.05L15.4104 9H9.41035L8.35035 15H10.5599V17H7.99991L7.30749 20.901C7.29732 20.9583 7.24752 21 7.18934 21H5.43309Z'] {
		d: path(mono.$comment_path);
		& + path {
			display: none;
		}
	}

	// Inbox
	&[d='M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z'] {
		d: path(mono.$inbox_path);
	}

	// Question circle
	&[d='M12 2C6.486 2 2 6.487 2 12C2 17.515 6.486 22 12 22C17.514 22 22 17.515 22 12C22 6.487 17.514 2 12 2ZM12 18.25C11.31 18.25 10.75 17.691 10.75 17C10.75 16.31 11.31 15.75 12 15.75C12.69 15.75 13.25 16.31 13.25 17C13.25 17.691 12.69 18.25 12 18.25ZM13 13.875V15H11V12H12C13.104 12 14 11.103 14 10C14 8.896 13.104 8 12 8C10.896 8 10 8.896 10 10H8C8 7.795 9.795 6 12 6C14.205 6 16 7.795 16 10C16 11.861 14.723 13.429 13 13.875Z'] {
		d: path(mono.$question-circle_path);
	}

	// Video
	&[d='M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z'] {
		d: path(mono.$video_path);
	}

	// Call
	&[d='M11 5V3C16.515 3 21 7.486 21 13H19C19 8.589 15.411 5 11 5ZM17 13H15C15 10.795 13.206 9 11 9V7C14.309 7 17 9.691 17 13ZM11 11V13H13C13 11.896 12.105 11 11 11ZM14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16Z'] {
		d: path(mono.$call_path);
	}
}

// Context menu
$icons: (
	// Messages
	'message-add-reaction-0': mono.$emoji,
	'message-add-reaction-1': mono.$emoji-laugh,
	'message-edit': mono.$pen,
	'message-actions-edit': mono.$pen,
	'message-actions-pin': mono.$pin,
	'message-pin': mono.$pin,
	'message-reply': mono.$reply,
	'message-actions-thread': mono.$comment-multi,
	'message-thread': mono.$comment-multi,
	'message-mark-unread': mono.$comment-dismiss,
	'message-copy-link': mono.$link,
	'message-copy-text': mono.$text,
	'message-tts': mono.$speaker,
	'message-actions-delete': (mono.$delete, 'danger'),
	'message-delete': (mono.$delete, 'danger'),
	'message-devmode-copy-id': mono.$copy,
	'message-report': mono.$megaphone,

	// User
	'user-context-mark-channel-read': mono.$eye,
	'user-context-user-profile': mono.$user,
	'user-context-mention': mono.$chat,
	'user-context-message-user': mono.$comment,
	'user-context-call': mono.$call,
	'user-context-note': mono.$note,
	'user-context-close-dm': mono.$comment-dismiss,
	'user-context-change-nickname': mono.$rename,
	'user-context-invite-to-server': mono.$plus,
	'user-context-add-friend': mono.$user-add,
	'user-context-remove-friend': mono.$user-delete,
	'user-context-block': mono.$user-denied,
	'user-context-mute': mono.$mic-off,
	'user-context-disable-video': mono.$video-off,
	'user-context-voice-mute': mono.$mic-off,
	'user-context-voice-deafen': mono.$speaker-off,
	'user-context-timeout': (mono.$timer-off, 'danger'),
	'user-context-voice-disconnect': (mono.$disconnect, 'danger'),
	'user-context-kick': (mono.$user-delete, 'danger'),
	'user-context-ban': (mono.$user-denied, 'danger'),
	'user-context-roles': mono.$tag,
	'user-context-mute-channel': mono.$speaker-off,
	'user-context-voice-move': mono.$move,
	'user-context-devmode-copy-id': mono.$copy,
	'user-context-add-friend-nickname': mono.$rename,
	'user-context-soundboard-sound-mute': mono.$speaker-off,
	'user-context-deafen': mono.$speaker-off,

	// Settings
	'user-settings-cog-My_Account': mono.$user,
	'user-settings-cog-Profile_Customization': mono.$user-question,
	'user-settings-cog-Privacy___Safety': mono.$shield-lock,
	'user-settings-cog-Authorized_Apps': mono.$apps,
	'user-settings-cog-Connections': mono.$link,
	'user-settings-cog-Discord_Nitro': brand.$discord-nitro,
	'user-settings-cog-Nitro_Server_Boost': mono.$rocket,
	'user-settings-cog-Subscriptions': mono.$credit-user,
	'user-settings-cog-Library_Inventory': mono.$gift,
	'user-settings-cog-Billing': mono.$money-recepit,
	'user-settings-cog-Appearance': mono.$eye,
	'user-settings-cog-Accessibility': mono.$accessibility,
	'user-settings-cog-Voice___Video': mono.$mic,
	'user-settings-cog-Text___Images': mono.$chat,
	'user-settings-cog-Notifications': mono.$bell,
	'user-settings-cog-Keybinds': mono.$keyboard,
	'user-settings-cog-Language': mono.$language,
	'user-settings-cog-Windows': brand.$windows,
	'user-settings-cog-Streamer_Mode': mono.$live,
	'user-settings-cog-Advanced': mono.$cog,
	'user-settings-cog-Game_Activity': mono.$rss,
	'user-settings-cog-Overlay': mono.$overlay,
	'user-settings-cog-changelog': mono.$document-clock,
	'user-settings-cog-Hypesquad_Online': mono.$star,
	'user-settings-cog-Sessions': mono.$phone-laptop,
	'user-settings-cog-Friend_Requests': mono.$user-available,
	'user-settings-cog-Activity_Privacy': mono.$shield-check,
	'user-settings-cog-Family_Center': mono.$people,

	// Channel (right click toolbar)
	'channel-context-mark-channel-read': mono.$eye,
	'channel-context-mute-channel': mono.$speaker-off,
	'channel-context-copy-channel-topic': mono.$copy,
	'channel-context-edit-channel': mono.$pen,
	'channel-context-invite-people': mono.$user-add,
	'channel-context-clone-channel': mono.$save-copy,
	'channel-context-create-text-channel': mono.$text,
	'channel-context-create-voice-channel': mono.$mic,
	'channel-context-delete-channel': mono.$delete,
	'channel-context-channel-notifications': mono.$bell,
	'channel-context-channel-copy-link': mono.$link,
	'channel-context-devmode-copy-id': mono.$copy,

	// Server dropdown (left click)
	'guild-header-popout-premium-subscribe': mono.$rocket,
	'guild-header-popout-invite-people': mono.$user-add,
	'guild-header-popout-settings': mono.$cog,
	'guild-header-popout-create-channel': mono.$collection,
	'guild-header-popout-create-category': mono.$collection-add,
	'guild-header-popout-create-event': mono.$calendar,
	'guild-header-popout-notifications': mono.$bell,
	'guild-header-popout-privacy': mono.$shield-check,
	'guild-header-popout-change-nickname': mono.$pen,
	'guild-header-popout-leave': mono.$sign-out,
	'guild-header-popout-application-directory': mono.$app-store,
	'guild-header-popout-report-raid': mono.$megaphone,
	'guild-header-popout-active-threads': mono.$comment-multi,
	'guild-header-popout-insights': mono.$eye,
	'guild-header-popout-hide-muted-channels': mono.$eye,

	// Server dropdown (right click)
	'guild-context-mark-guild-read': mono.$eye,
	'guild-context-invite-people': mono.$user-add,
	'guild-context-unmute-guild': mono.$speaker-off,
	'guild-context-mute-guild': mono.$speaker-off,
	'guild-context-guild-notifications': mono.$bell,
	'guild-context-hide-muted-channels': mono.$eye,
	'guild-context-guild-settings': mono.$cog,
	'guild-context-privacy': mono.$shield-check,
	'guild-context-change-nickname': mono.$pen,
	'guild-context-leave-guild': mono.$sign-out,
	'guild-context-devmode-copy-id': mono.$copy,
	'guild-context-create-channel': mono.$collection,
	'guild-context-create-category': mono.$collection-add,
	'guild-context-create-event': mono.$calendar,

	// Message more options
	'message-actions-add-reaction-0': mono.$emoji,
	'message-actions-add-reaction-1': mono.$emoji-laugh,
	'message-actions-reply': mono.$reply,
	'message-actions-mark-unread': mono.$comment-note,
	'message-actions-copy-link': mono.$link,
	'message-actions-tts': mono.$speaker,
	'message-actions-copy-id': mono.$copy,
	'message-actions-copy-text': mono.$copy,
	'message-actions-report': mono.$megaphone,
	'message-actions-devmode-copy-id': mono.$copy,

	// Current User / Status picker
	'account-set-custom-status': mono.$status,
	'account-switch-account': mono.$user-swap
);

.item-5ApiZt:not(#account-status-picker, [role='menuitemradio'], .hideInteraction-1vQrZJ) {
	.icon-3XHs8t {
		display: none !important;
	}
	&[role='menuitem'],
	&[role='menuitemcheckbox'] {
		&::before {
			width: 18px;
			height: 18px;
			mask-size: cover;
			mask-position: center;
			background: currentColor;
			margin-right: 8px;
		}
		& + .layer-2BGhQ8 .item-5ApiZt::before {
			content: none;
		}
		&.focused-3qFvc8::before {
			background: var(--text-primary);
		}
	}
	@each $label, $icon in $icons {
		&[id^='#{$label}']::before {
			content: '';
			@if list.index($icon, 'danger') {
				mask-image: url(list.nth($icon, 1));
			} @else {
				mask-image: url($icon);
			}
		}
	}
}
