@use 'sass:list';
@use '../theme/assets/mono';
@use '../theme/assets/brand';

:root {
	--fluent-icons-color: var(--interactive-normal);
}

.wrapper_d8bfb3 {
	&.modeMuted_d8bfb3 {
		--fluent-icons-color: var(--interactive-muted);
	}
	&.modeUnreadImportant_d8bfb3 {
		--fluent-icons-color: var(--interactive-active);
	}
}

.link_d8bfb3 {
	path {
		display: none;
	}
	svg {
		background: var(--fluent-icons-color);
	}

	// Channel actions (open chat, create invite, channel setting)
	svg:has(path[d^='M12 22a10 10 0 1 0-8.45-4.64c.13.19.11.44-.04.61l-2.06']) {
		mask-image: url(mono.$chat);
	}
	svg:has(path[d^='M16.83 12.93c.26-.27.26-.75-.08-.92A9.5']) {
		mask-image: url(mono.$user-add);
	}
	svg:has(path[d^='M10.56 1.1c-.46.05-.7.53-.64.98.18']) {
		mask-image: url(mono.$cog);
	}

	// Normal text
	svg:has(path[d^='M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1']),
	// NSFW text
	svg:has(path[d^='M11.45 8c.35 0 .6.35.55.7-.02.2-.02.4 0 .6.04.35-.2.7-.55.7h-1.6l-.67']),
	// Threads (forums)
	svg:has(path[d^='M5.43309 21C5.35842 21']),
	// Locked text
	svg:has(path[d^='M12.5 8c.28 0 .5.22.5.5V9c0 .1 0 .2.02.31.03.34-.21.69-.56.69H9.85l-.67']) {
		mask-image: url(mono.$chat);
	}
	// Announcements
	svg:has(path[d^='M19.56 2a3 3 0 0 0-2.46 1.28 3.85']),
	svg:has(path[d^='M19.0999 3.99994V5.12653L4.84988']),
	svg:has(path[d^='M22.545 4.87988V5.87988H23.28C23.4126']) {
		mask-image: url(mono.$megaphone);
	}
	// Threads
	svg:has(path[d^='M19.24 10.86c.32.16.72-.02.74-.38L20 10c0-4.42-4.03-8-9-8s-9']),
	svg:has(path[d^='M13.58 3.23c.24-.33.16-.86-.24-.96C12.59 2.1 11.8 2 11 2c-4.97']) {
		mask-image: url(mono.$chat-multiple);
	}
	// Voice
	svg:has(path[d^='M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92']),
	// Locked voice
	svg:has(path[d^='M11 2a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1h-.06a1 1 0 0 1-.74-.32L5.92']) {
		mask-image: url(mono.$speaker);
	}
	// Rules & Guide
	svg:has(path[d^='M15 2a3 3 0 0 1 3 3v12H5.5a1.5']) {
		mask-image: url(mono.$important);
	}
	svg:has(path[d^='M11 3a1 1 0 1 1 2 0v2h5.75c.16 0 .3.07.4.2l2.63']) {
		mask-image: url(mono.$book);
	}
	// Browse Channels
	svg:has(path[d^='M3 3a1 1 0 0 0 0 2h18a1 1 0 1 0 0-2H3ZM2']) {
		mask-image: url(mono.$search);
	}
	// Events
	svg:has(path[d^='M7 1a1 1 0 0 1 1 1v.75c0 .14.11.25.25.25h7.5c.14']) {
		mask-image: url(mono.$rss);
	}
	// Ongoing events
	svg:has(path[d^='M19 3h-1V1h-2v2H8V1H6v2H5c-1.11']) {
		mask-image: url(mono.$calendar-clock);
	}
	// Pad-Locked channel
	svg:has(path[d^='M6 9h1V6a5 5 0 0 1 10 0v3h1a3']) {
		mask-image: url(mono.$lock-closed);
	}

	// Members channel
	svg:has(path[d^='M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5']) {
		mask-image: url(mono.$people);
	}

	// Channel modifiers (locked/threads)
	.iconContainer_d8bfb3 {
		// Locked channel
		&:has(path[d^='M16 4h.5v-.5a2.5 2.5 0 0 1 5 0V4h.5a1'])::before,
		&:has(path[d^='M13 4C13 3.66767 13.0405'])::before,
		&:has(path[d^='M22.545 4.87988V5.87988H23.28C23.4126'])::before,
		&:has(path[d^='M15.44 6.99992C15.5725 6.99992'])::before {
			content: '';
			mask: url(mono.$lock-closed-filled) center/cover;
			top: -3px;
			right: -2px;
			position: absolute;
			background: var(--fluent-icons-color);
			display: block;
			width: 12px;
			height: 12px;
			z-index: 1;
		}
		// Threads in that channel
		&:has(path[d^='M5.43309 21C5.35842 21'])::after,
		&:has(path[d^='M19.0999 3.99994V5.12653L4.84988'])::after,
		&:has(path[d^='M23.44 12.9599C12.9098 12.9599'])::after {
			mask: url(mono.$comment-multi-filled) center/cover;
			bottom: -2px;
			right: -2px;
			content: '';
			position: absolute;
			background: var(--fluent-icons-color);
			display: block;
			width: 12px;
			height: 12px;
			z-index: 1;
		}
	}
}

.lottieIcon_f73ef7 {
	svg {
		background: var(--fluent-icons-color);
	}
	g {
		display: none;
	}
	// Chatbox gift
	svg:has(path[d^=' M-7,10 C-8.104999542236328,10 -9,9.104999542236328 -9,8 C-9,8 -9,2.5']) {
		mask-image: url(mono.$gift);
	}
	// Chatbox gifs
	svg:has(path[d^=' M-7,-10 C-8.656999588012695,-10 -10,-8.656999588012695 -10,-7 C-10,-7']) {
		mask-image: url(mono.$gif);
	}
	// Chatbox stickers
	svg:has(path[d^=' M-6,-10 C-6,-10 6,-10 6,-10 C8.208999633789062,-10 10,-8.208999633789062']) {
		mask-image: url(mono.$sticker);
	}

	// User area mute mic
	svg:has(g[transform='matrix(1,0,0,1,12,12)'] > path) {
		mask-image: url(mono.$mic);
	}
	// User area deafen
	svg:has(g[transform='matrix(1,0,0,1,12,12.288000106811523)'] > path) {
		mask-image: url(mono.$speaker);
	}
	// User area settings
	svg:has(path[d^=' M-1.4420000314712524,-10.906000137329102 C-1.8949999809265137,-10.847000122070312']) {
		mask-image: url(mono.$cog);
	}

	// Voice chat noise suppresion
	svg:has(path[d^=' M0,-5 C0,-5 0,-5 0,-5 C0.5519999861717224,-5 1,-4.552000045776367 1,-4']) {
		mask-image: url(mono.$mic-sparkle);
	}
	// Voice chat disconnect
	svg:has(path[d^=' M9.335000038146973,-1.8179999589920044 C4.184999942779541,-6.9670000076293945']) {
		mask-image: url(mono.$plug-disconnected);
	}
	// Voice chat disconnect
	svg:has(path[d^=' M-5.5,-8 C-5.5,-8 -1.253999948501587,-8 -1.253999948501587,-8 C-1.253999948501587,-8']) {
		mask-image: url(mono.$camera);
	}
	// Voice chat share screen
	svg:has(path[d^=' M1,7.5 C1,7.776000022888184 1.2239999771118164,8']) {
		mask-image: url(mono.$dual-screen-desktop);
	}
	// Voice chat activities
	svg:has(path[d^=' M10,-8 C10,-8 10,-6.485000133514404 10,-6.485000133514404 C10,-4.894000053405762']) {
		mask-image: url(mono.$rocket);
	}
	// Voice chat soundboard
	svg:has(path[d^=' M-0.6899999976158142,0.6899999976158142 C0.6679999828338623,2.0480000972747803']) {
		mask-image: url(mono.$sound-source);
	}
}
.container_b2ca13 .button_adca65[aria-checked='true'] {
	svg {
		--fluent-icons-color: var(--status-danger);
	}
	// User area muted mic
	svg:has(path[d^=' M1025.219970703125,-87.2040023803711 C1025.219970703125,-87.2040023803711']),
	svg:has(path[d^=' M681.219970703125,212.79600524902344 C681.219970703125,212.79600524902344']),
	svg:has(path[d^=' M67.22000122070312,823.7960205078125 C67.22000122070312,823.7960205078125']) {
		mask-image: url(mono.$mic-off);
	}
	// user area deafened
	svg:has(path[d^=' M-8,-0.2879999876022339 C-8,-4.705999851226807 -4.418000221252441']) {
		mask-image: url(mono.$speaker-off);
	}
}

// Voice channel status
.pencilIcon_e66732 {
	background: var(--fluent-icons-color);
	mask: url(mono.$pen);
	path {
		display: none;
	}
}

// Send button
.sendIcon_a06035 {
	mask: url(mono.$paper-plane) center/cover;
	background: var(--fluent-icons-color);
	path {
		display: none;
	}
}

svg:not([name='GamepadDisabled']) path {
	// Mic
	&[d='M12 2a4 4 0 0 0-4 4v4a4 4 0 0 0 8 0V6a4 4 0 0 0-4-4Z'] {
		display: none;
	}
	&[d='M6 10a1 1 0 0 0-2 0 8 8 0 0 0 7 7.94V20H9a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-2v-2.06A8 8 0 0 0 20 10a1 1 0 1 0-2 0 6 6 0 0 1-12 0Z'] {
		d: path(mono.$mic_path);
	}
	// Mic off
	&[d='m2.7 22.7 20-20a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4ZM10.8 17.32c-.21.21-.1.58.2.62V20H9a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-2v-2.06A8 8 0 0 0 20 10a1 1 0 0 0-2 0c0 1.45-.52 2.79-1.38 3.83l-.02.02A5.99 5.99 0 0 1 12.32 16a.52.52 0 0 0-.34.15l-1.18 1.18ZM15.36 4.52c.15-.15.19-.38.08-.56A4 4 0 0 0 8 6v4c0 .3.03.58.1.86.07.34.49.43.74.18l6.52-6.52ZM5.06 13.98c.16.28.53.31.75.09l.75-.75c.16-.16.19-.4.08-.61A5.97 5.97 0 0 1 6 10a1 1 0 0 0-2 0c0 1.45.39 2.81 1.06 3.98Z'] {
		d: path(mono.$mic-off_path);
	}
}
path {
	// Headset
	&[d='M12 3a9 9 0 0 0-8.95 10h1.87a5 5 0 0 1 4.1 2.13l1.37 1.97a3.1 3.1 0 0 1-.17 3.78 2.85 2.85 0 0 1-3.55.74 11 11 0 1 1 10.66 0c-1.27.71-2.73.23-3.55-.74a3.1 3.1 0 0 1-.17-3.78l1.38-1.97a5 5 0 0 1 4.1-2.13h1.86A9 9 0 0 0 12 3Z'] {
		d: path(mono.$speaker_path-primary);
	}
	// Headset off
	&[d='M22.7 2.7a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4l20-20ZM17.06 2.94a.48.48 0 0 0-.11-.77A11 11 0 0 0 2.18 16.94c.14.3.53.35.76.12l3.2-3.2c.25-.25.15-.68-.2-.76a5 5 0 0 0-1.02-.1H3.05a9 9 0 0 1 12.66-9.2c.2.09.44.05.59-.1l.76-.76ZM20.2 8.28a.52.52 0 0 1 .1-.58l.76-.76a.48.48 0 0 1 .77.11 11 11 0 0 1-4.5 14.57c-1.27.71-2.73.23-3.55-.74a3.1 3.1 0 0 1-.17-3.78l1.38-1.97a5 5 0 0 1 4.1-2.13h1.86a9.1 9.1 0 0 0-.75-4.72ZM10.1 17.9c.25-.25.65-.18.74.14a3.1 3.1 0 0 1-.62 2.84 2.85 2.85 0 0 1-3.55.74.16.16 0 0 1-.04-.25l3.48-3.48Z'] {
		d: path(mono.$speaker-off_path);
	}

	// Settings
	&[d='M10.56 1.1c-.46.05-.7.53-.64.98.18 1.16-.19 2.2-.98 2.53-.8.33-1.79-.15-2.49-1.1-.27-.36-.78-.52-1.14-.24-.77.59-1.45 1.27-2.04 2.04-.28.36-.12.87.24 1.14.96.7 1.43 1.7 1.1 2.49-.33.8-1.37 1.16-2.53.98-.45-.07-.93.18-.99.64a11.1 11.1 0 0 0 0 2.88c.06.46.54.7.99.64 1.16-.18 2.2.19 2.53.98.33.8-.14 1.79-1.1 2.49-.36.27-.52.78-.24 1.14.59.77 1.27 1.45 2.04 2.04.36.28.87.12 1.14-.24.7-.95 1.7-1.43 2.49-1.1.8.33 1.16 1.37.98 2.53-.07.45.18.93.64.99a11.1 11.1 0 0 0 2.88 0c.46-.06.7-.54.64-.99-.18-1.16.19-2.2.98-2.53.8-.33 1.79.14 2.49 1.1.27.36.78.52 1.14.24.77-.59 1.45-1.27 2.04-2.04.28-.36.12-.87-.24-1.14-.96-.7-1.43-1.7-1.1-2.49.33-.8 1.37-1.16 2.53-.98.45.07.93-.18.99-.64a11.1 11.1 0 0 0 0-2.88c-.06-.46-.54-.7-.99-.64-1.16.18-2.2-.19-2.53-.98-.33-.8.14-1.79 1.1-2.49.36-.27.52-.78.24-1.14a11.07 11.07 0 0 0-2.04-2.04c-.36-.28-.87-.12-1.14.24-.7.96-1.7 1.43-2.49 1.1-.8-.33-1.16-1.37-.98-2.53.07-.45-.18-.93-.64-.99a11.1 11.1 0 0 0-2.88 0ZM16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z'] {
		d: path(mono.$cog_path);
	}

	// Disconnect/end call
	&[d='m21.5 16.6-.13.14a.88.88 0 0 1-.97.2l-4.09-1.7a.99.99 0 0 1-.57-1.18l.73-2.7c-2.24-3-6.7-3-8.94 0l.7 2.1a.99.99 0 0 1-.48 1.19l-4.13 2.2a.87.87 0 0 1-1.03-.15l-.1-.1a5.18 5.18 0 0 1-.32-6.92 12.67 12.67 0 0 1 19.66 0 5.18 5.18 0 0 1-.32 6.92Z'] {
		d: path(mono.$call-dismiss_path);
	}

	// Users
	&[d='M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z'] {
		d: path(mono.$people_path);
		& ~ path {
			display: none;
		}
	}
	// User add
	&[d='M21 3H24V5H21V8H19V5H16V3H19V0H21V3ZM10 12C12.205 12 14 10.205 14 8C14 5.795 12.205 4 10 4C7.795 4 6 5.795 6 8C6 10.205 7.795 12 10 12ZM10 13C5.289 13 2 15.467 2 19V20H18V19C18 15.467 14.711 13 10 13Z'] {
		d: path(mono.$user-add_path);
	}

	// Pin
	&[d='M19.38 11.38a3 3 0 0 0 4.24 0l.03-.03a.5.5 0 0 0 0-.7L13.35.35a.5.5 0 0 0-.7 0l-.03.03a3 3 0 0 0 0 4.24L13 5l-2.92 2.92-3.65-.34a2 2 0 0 0-1.6.58l-.62.63a1 1 0 0 0 0 1.42l9.58 9.58a1 1 0 0 0 1.42 0l.63-.63a2 2 0 0 0 .58-1.6l-.34-3.64L19 11l.38.38ZM9.07 17.07a.5.5 0 0 1-.08.77l-5.15 3.43a.5.5 0 0 1-.63-.06l-.42-.42a.5.5 0 0 1-.06-.63L6.16 15a.5.5 0 0 1 .77-.08l2.14 2.14Z'] {
		d: path(mono.$pin_path);
	}

	// Bell
	&[d='M9.7 2.89c.18-.07.32-.24.37-.43a2 2 0 0 1 3.86 0c.05.2.19.36.38.43A7 7 0 0 1 19 9.5v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 0 1 .77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-4.05 0-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3 3 0 0 1 .77-2l1.1-1.23a.5.5 0 0 0 .13-.33V9.5a7 7 0 0 1 4.7-6.61ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.86 24.86 0 0 1-5.64 0Z'] {
		d: path(mono.$bell_path);
	}
	// Bell off
	&[d='M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z'] {
		d: path(mono.$bell-off_path);
		& ~ path {
			display: none;
		}
	}

	// Threads
	&[d='M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1 1 0 0 1 1.41 0l9.2 9.2a1 1 0 0 1 0 1.4l-.7.7a1 1 0 0 1-1.3.13l-9.54-6.72a1 1 0 0 1-.08-1.58l1-1L12 2.8ZM12 21.2a1 1 0 0 1 0 1.41l-.35.35a1 1 0 0 1-1.41 0l-9.2-9.19a1 1 0 0 1 0-1.41l.7-.7a1 1 0 0 1 1.3-.12l9.54 6.72a1 1 0 0 1 .07 1.58l-1 1 .35.36ZM15.66 16.8a1 1 0 0 1-1.38.28l-8.49-5.66A1 1 0 1 1 6.9 9.76l8.49 5.65a1 1 0 0 1 .27 1.39ZM17.1 14.25a1 1 0 1 0 1.11-1.66L9.73 6.93a1 1 0 0 0-1.11 1.66l8.49 5.66Z'] {
		d: path(mono.$comment_path);
		& + path {
			display: none;
		}
	}

	// Inbox
	&[d='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM4 5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v6c0 .83-.67 1.5-1.5 1.5h-2.65c-.5 0-.85.5-.85 1a3 3 0 1 1-6 0c0-.5-.35-1-.85-1H5.5A1.5 1.5 0 0 1 4 11.5v-6Z'] {
		d: path(mono.$inbox_path);
	}

	// Question circle
	&[d='M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98 0-1.81.47-2.27 1.14A1 1 0 1 1 7.8 7.01 4.73 4.73 0 0 1 11.72 5c2.5 0 4.65 1.88 4.65 4.38 0 2.1-1.54 3.77-3.52 4.24l.14 1a1 1 0 0 1-1.98.27l-.28-2a1 1 0 0 1 .99-1.14c1.54 0 2.65-1.14 2.65-2.38 0-1.23-1.1-2.37-2.65-2.37ZM13 17.88a1.13 1.13 0 1 1-2.25 0 1.13 1.13 0 0 1 2.25 0Z'] {
		d: path(mono.$question-circle_path);
	}

	// Video
	&[d='M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z'] {
		d: path(mono.$video_path);
	}

	// Call
	&[d='M11 5V3C16.515 3 21 7.486 21 13H19C19 8.589 15.411 5 11 5ZM17 13H15C15 10.795 13.206 9 11 9V7C14.309 7 17 9.691 17 13ZM11 11V13H13C13 11.896 12.105 11 11 11ZM14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16Z'] {
		d: path(mono.$call_path);
	}
}

// Context menu
$icons: (
	// Messages
	'message-add-reaction-0': mono.$emoji,
	'message-add-reaction-1': mono.$emoji-laugh,
	'message-edit': mono.$pen,
	'message-actions-edit': mono.$pen,
	'message-actions-pin': mono.$pin,
	'message-pin': mono.$pin,
	'message-reply': mono.$reply,
	'message-actions-thread': mono.$comment-multi,
	'message-thread': mono.$comment-multi,
	'message-mark-unread': mono.$comment-dismiss,
	'message-copy-link': mono.$link,
	'message-copy-text': mono.$text,
	'message-tts': mono.$speaker,
	'message-actions-delete': (mono.$delete, 'danger'),
	'message-delete': (mono.$delete, 'danger'),
	'message-devmode-copy-id': mono.$copy,
	'message-report': mono.$megaphone,

	// User
	'user-context-mark-channel-read': mono.$eye,
	'user-context-user-profile': mono.$user,
	'user-context-mention': mono.$chat,
	'user-context-message-user': mono.$comment,
	'user-context-call': mono.$call,
	'user-context-note': mono.$note,
	'user-context-close-dm': mono.$comment-dismiss,
	'user-context-change-nickname': mono.$rename,
	'user-context-invite-to-server': mono.$plus,
	'user-context-add-friend': mono.$user-add,
	'user-context-remove-friend': mono.$user-delete,
	'user-context-block': mono.$user-denied,
	'user-context-mute': mono.$mic-off,
	'user-context-disable-video': mono.$video-off,
	'user-context-voice-mute': mono.$mic-off,
	'user-context-voice-deafen': mono.$speaker-off,
	'user-context-timeout': (mono.$timer-off, 'danger'),
	'user-context-voice-disconnect': (mono.$disconnect, 'danger'),
	'user-context-kick': (mono.$user-delete, 'danger'),
	'user-context-ban': (mono.$user-denied, 'danger'),
	'user-context-roles': mono.$tag,
	'user-context-mute-channel': mono.$speaker-off,
	'user-context-voice-move': mono.$move,
	'user-context-devmode-copy-id': mono.$copy,
	'user-context-add-friend-nickname': mono.$rename,
	'user-context-soundboard-sound-mute': mono.$speaker-off,
	'user-context-deafen': mono.$speaker-off,

	// Settings
	'user-settings-cog-My_Account': mono.$user,
	'user-settings-cog-Profile_Customization': mono.$user-question,
	'user-settings-cog-Privacy___Safety': mono.$shield-lock,
	'user-settings-cog-Authorized_Apps': mono.$apps,
	'user-settings-cog-Connections': mono.$link,
	'user-settings-cog-Discord_Nitro': brand.$discord-nitro,
	'user-settings-cog-Nitro_Server_Boost': mono.$rocket,
	'user-settings-cog-Subscriptions': mono.$credit-user,
	'user-settings-cog-Library_Inventory': mono.$gift,
	'user-settings-cog-Billing': mono.$money-recepit,
	'user-settings-cog-Appearance': mono.$eye,
	'user-settings-cog-Accessibility': mono.$accessibility,
	'user-settings-cog-Voice___Video': mono.$mic,
	'user-settings-cog-Text___Images': mono.$chat,
	'user-settings-cog-Notifications': mono.$bell,
	'user-settings-cog-Keybinds': mono.$keyboard,
	'user-settings-cog-Language': mono.$language,
	'user-settings-cog-Windows': brand.$windows,
	'user-settings-cog-Streamer_Mode': mono.$live,
	'user-settings-cog-Advanced': mono.$cog,
	'user-settings-cog-Game_Activity': mono.$rss,
	'user-settings-cog-Overlay': mono.$overlay,
	'user-settings-cog-changelog': mono.$document-clock,
	'user-settings-cog-Hypesquad_Online': mono.$star,
	'user-settings-cog-Sessions': mono.$phone-laptop,
	'user-settings-cog-Friend_Requests': mono.$user-available,
	'user-settings-cog-Activity_Privacy': mono.$shield-check,
	'user-settings-cog-Family_Center': mono.$people,

	// Channel (right click toolbar)
	'channel-context-mark-channel-read': mono.$eye,
	'channel-context-mute-channel': mono.$speaker-off,
	'channel-context-copy-channel-topic': mono.$copy,
	'channel-context-edit-channel': mono.$pen,
	'channel-context-invite-people': mono.$user-add,
	'channel-context-clone-channel': mono.$save-copy,
	'channel-context-create-text-channel': mono.$text,
	'channel-context-create-voice-channel': mono.$mic,
	'channel-context-delete-channel': mono.$delete,
	'channel-context-channel-notifications': mono.$bell,
	'channel-context-channel-copy-link': mono.$link,
	'channel-context-devmode-copy-id': mono.$copy,

	// Server dropdown (left click)
	'guild-header-popout-premium-subscribe': mono.$rocket,
	'guild-header-popout-invite-people': mono.$user-add,
	'guild-header-popout-settings': mono.$cog,
	'guild-header-popout-create-channel': mono.$collection,
	'guild-header-popout-create-category': mono.$collection-add,
	'guild-header-popout-create-event': mono.$calendar,
	'guild-header-popout-notifications': mono.$bell,
	'guild-header-popout-privacy': mono.$shield-check,
	'guild-header-popout-change-nickname': mono.$pen,
	'guild-header-popout-leave': mono.$sign-out,
	'guild-header-popout-application-directory': mono.$app-store,
	'guild-header-popout-report-raid': mono.$megaphone,
	'guild-header-popout-active-threads': mono.$comment-multi,
	'guild-header-popout-insights': mono.$eye,
	'guild-header-popout-hide-muted-channels': mono.$eye,

	// Server dropdown (right click)
	'guild-context-mark-guild-read': mono.$eye,
	'guild-context-invite-people': mono.$user-add,
	'guild-context-unmute-guild': mono.$speaker-off,
	'guild-context-mute-guild': mono.$speaker-off,
	'guild-context-guild-notifications': mono.$bell,
	'guild-context-hide-muted-channels': mono.$eye,
	'guild-context-guild-settings': mono.$cog,
	'guild-context-privacy': mono.$shield-check,
	'guild-context-change-nickname': mono.$pen,
	'guild-context-leave-guild': mono.$sign-out,
	'guild-context-devmode-copy-id': mono.$copy,
	'guild-context-create-channel': mono.$collection,
	'guild-context-create-category': mono.$collection-add,
	'guild-context-create-event': mono.$calendar,

	// Message more options
	'message-actions-add-reaction-0': mono.$emoji,
	'message-actions-add-reaction-1': mono.$emoji-laugh,
	'message-actions-reply': mono.$reply,
	'message-actions-mark-unread': mono.$comment-note,
	'message-actions-copy-link': mono.$link,
	'message-actions-tts': mono.$speaker,
	'message-actions-copy-id': mono.$copy,
	'message-actions-copy-text': mono.$copy,
	'message-actions-report': mono.$megaphone,
	'message-actions-devmode-copy-id': mono.$copy,

	// Current User / Status picker
	'account-set-custom-status': mono.$status,
	'account-switch-account': mono.$user-swap
);

.item_d90b3d:not(#account-status-picker, [role='menuitemradio'], .hideInteraction_d90b3d, [id^='message-actions-add-reaction']) {
	.icon_d90b3d {
		display: none !important;
	}
	&[role='menuitem'],
	&[role='menuitemcheckbox'] {
		&::before {
			width: 18px;
			height: 18px;
			mask-size: cover;
			mask-position: center;
			background: currentColor;
			margin-right: 8px;
		}
		& + .layer_cd0de5 .item_d90b3d::before {
			content: none;
		}
		&.focused-3qFvc8::before {
			background: var(--text-primary);
		}
	}
	@each $label, $icon in $icons {
		&[id^='#{$label}']::before {
			content: '';
			@if list.index($icon, 'danger') {
				mask-image: url(list.nth($icon, 1));
			} @else {
				mask-image: url($icon);
			}
		}
	}
}
