#app-mount {
	.cozy-VmLDNB[data-is-author-self='true'] {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.contents-2MsGLg {
			width: fit-content;
			background: rgb(var(--accent), 0.05);
			& > .messageContent-2t3eCI {
				background: transparent;
			}
		}
		.container-3i3IzO {
			justify-self: flex-end;
		}
		.headerText-2z4IhQ {
			display: none;
		}
		.timestamp-p1Df1m {
			margin-left: 0;
		}
		.avatar-2e8lTP {
			display: none;
		}
		&.hasThread-3h-KJV::after {
			content: none;
		}
	}
}
