@use '../../mixins';

#app-mount .layer__960e4 ~ .layer__960e4 {
	.accountList-305sx3 {
		@include mixins.card(column, stretch);
		margin-bottom: 4px;

		.title-3hptVQ {
			@include mixins.cardTitle;
		}
		.formText-2ngGjI {
			@include mixins.cardDesc;
			margin-bottom: 16px;
		}
		& + .container-1zDvAE {
			padding: 16px;
		}
	}
	.connectedAccounts-26X_gr {
		display: flex;
		gap: 8px;
	}
	.accountBtn-1YkMgV {
		margin: 0;
	}

	.connectionList_c7f964 {
		margin-top: 40px;
		gap: 4px;
	}
	.connection_c7f964 {
		background: var(--bg-content);
		border-radius: var(--rounded);
		border: 1px solid var(--border);
		margin: 0;
		.container-1zDvAE {
			border: none;
			padding: 0;
			margin: 0;
		}
	}
	.connectionHeader_c7f964 {
		padding: 16px;
		background: transparent;
	}
	.connectionOptionsWrapper_c7f964 {
		padding: 16px;
		border-top: 1px solid var(--border);
	}
	.connectionOptions_c7f964 {
		display: flex;
		gap: 16px;
	}
	.subEnabledTitle-2MHkAH {
		@include mixins.cardDesc;
		margin: 0;
	}
	.integrationsWrapper_c7f964 {
		padding: 0;
		margin: 0 16px 16px;
		border: 1px solid var(--border);
		border-radius: var(--rounded);
		background: var(--bg-alt);
		overflow: hidden;
		.title-3hptVQ {
			display: none;
		}
	}
	.integration_c7f964 {
		margin: 0;
		border-radius: 0;
		background: transparent;
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}
	}
}
