@use '../../assets/mono';
@use '../../mixins';

#app-mount .layer_f7d46a ~ .layer_f7d46a {
	.accountProfileCard__744d8 {
		background: transparent;
	}
	.banner-2boKnS,
	.bannerSVGWrapper__8a38c {
		display: none;
	}
	.userInfo_fb7651 {
		padding: 18px;
		margin: 0 0 4px 0;
		height: auto;
		@include mixins.card;

		.avatar__6c108 {
			width: 22px !important;
			height: 22px !important;
			background: var(--text-primary);
			border: none;
			position: relative;
			z-index: 1;
			top: 0;
			left: 0;
			mask: url(mono.$pen) center/cover;
			svg {
				display: none;
			}
		}
		& > div:nth-child(2) {
			position: relative;
			z-index: 1;
			flex: 1;
			pointer-events: none;
			& > div {
				display: none;
			}
			&::before {
				content: 'Profile';
				@include mixins.cardTitle;
			}
			&::after {
				content: 'Avatar, banner, about me, profile colour';
				@include mixins.cardDesc;
			}
		}
		& > button {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			background: transparent !important;
			border: none !important;
			box-shadow: none !important;
			display: flex;
			color: var(--text-primary);
			padding: 0 0 0 60px;
			z-index: 0;
			div {
				width: 100%;
				font-size: 0;
				padding-right: 18px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				&::before {
					content: '';
					width: 16px;
					height: 16px;
					mask: url(mono.$chevron-right) center/cover;
					background: var(--text-primary);
					display: block;
				}
			}
		}
		&:hover > button {
			background: var(--bg-content-alt) !important;
		}
	}
	.background__4e802 {
		margin: 0;
		background: transparent;
		padding: 0;
	}
	.fieldList__4e6dd {
		background: transparent;
		border-radius: 0;
		.field__69fa0 {
			&:first-child::before,
			&:nth-child(2)::before {
				mask-image: url(mono.$user);
			}
			&:nth-child(3)::before {
				mask-image: url(mono.$mail);
			}
			&:last-child::before {
				mask-image: url(mono.$phone);
			}
		}
	}
	.field__69fa0 {
		@include mixins.card;
		.sizeMin-1mJd1x {
			margin-left: 8px;
			padding: 0;
			background: transparent;
			&:hover {
				text-decoration: underline;
			}
		}
		.fieldButtonList_fd9518 {
			gap: 18px;
			button {
				margin: 0;
			}
		}
		.usernameInnerRow_c95e17 {
			display: flex;
			align-items: center;
		}
		.text-md-normal__6a4eb {
			@include mixins.cardDesc;
			line-height: normal;
			color: var(--text-muted) !important;
			& > span {
				font-size: inherit;
				line-height: inherit;
				color: inherit !important;
			}
			button {
				padding: 0;
				margin-left: 12px;
			}
		}
		&::before {
			content: '';
			@include mixins.cardIcon;
		}
		&:not(:first-child) {
			margin-top: 4px;
		}
	}
	.constrainedRow__72f7a {
		margin: 0;
		.size16-rrJ6ag {
			font-size: var(--font-size-xs);
			color: var(--text-muted);
		}
	}
	.fieldTitle_f182ed {
		@include mixins.cardTitle;
	}

	.userSettingsSecurity__6051f {
		.h1-34Txb0 {
			@include mixins.subTitle;
		}

		& > .children_aba8cb {
			// Password and authentication
			& > div:first-child {
				@include mixins.card;
				margin-bottom: 40px;
				button {
					margin: 0;
					order: 1;
					@include mixins.btn;
					@include mixins.btnSecondary;
				}
				&::before {
					content: '';
					mask-image: url(mono.$password);
					@include mixins.cardIcon;
				}
				&::after {
					content: 'Password';
					@include mixins.cardTitle;
					flex: 1;
				}
			}
			// 2FA Enabled
			& > div.flex_f18b02 > div > div {
				& > .h5__28baa:first-child {
					@include mixins.subTitle;
					color: transparent;
					&::before {
						content: 'Security';
						color: var(--text-primary);
					}
					img {
						display: none;
					}
				}
				& > .modeDefault__2e882 {
					@include mixins.card(column, flex-start);
					@include mixins.cardDesc;
					padding-left: 60px !important;
					gap: 4px;
					border-radius: var(--rounded) var(--rounded) 0 0;
					margin-bottom: 0;
					&::before {
						content: 'Two-factor authentication';
						@include mixins.cardTitle;
					}
					&::after {
						content: '';
						@include mixins.cardIcon;
						mask-image: url(mono.$lock-closed);
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 18px;
					}
					& + div {
						@include mixins.card;
						margin-top: 0;
						border-top: none;
						border-radius: 0 0 var(--rounded) var(--rounded);
						justify-content: flex-start;
						flex-direction: row-reverse;
						margin-bottom: 4px;
						& > div {
							flex: none !important;
							margin: 0;
						}
						.button-38aScr.lookFilled-1Gx00P.colorBrand-3pXr91 {
							@include mixins.btn;
							@include mixins.btnSecondary;
						}
					}
				}
				& > .marginTop40_bda863 {
					margin-top: 0;
					.sectionTitle__3e02b {
						display: none;
					}
					.marginBottom8_ce1fb9 {
						margin: 0;
					}
					.children_aba8cb {
						@include mixins.card(column, flex-start);
						padding-left: 60px;
						&::before {
							content: '';
							@include mixins.cardIcon;
							mask-image: url(mono.$phone-lock);
							position: absolute;
							top: calc(50% - 35px);
							transform: translateY(-50%);
							left: 18px;
						}
						.modeDefault-2fEh7a:first-child::before {
							content: 'SMS backup';
							@include mixins.cardTitle;
							margin-bottom: 4px;
						}
						.flex_f18b02 {
							padding: 18px;
							border-top: 1px solid var(--border);
							margin: 16px -60px -18px;
							width: calc(100% + 78px);
							flex-direction: row-reverse;
							gap: 18px;
							.lookFilled-1Gx00P.colorBrand-3pXr91 {
								@include mixins.btn;
								@include mixins.btnSecondary;
							}
						}
					}
				}
			}
		}

		// Account removal
		& ~ .marginTop40_bda863 {
			.h5__28baa {
				@include mixins.subTitle;
				color: transparent;
				user-select: none;
				font-size: 0 !important;
				&::before {
					content: 'Danger zone';
					font-size: var(--font-size);
					color: var(--text-primary);
				}
			}
			.children_aba8cb {
				@include mixins.card;
				&::before {
					content: '';
					@include mixins.cardIcon;
					mask-image: url(mono.$user-delete);
				}
			}
			.description_b0e07c {
				margin-bottom: 0;
				flex: 1;
				@include mixins.cardDesc;
				&::before {
					content: 'Disable account';
					@include mixins.cardTitle;
				}
			}
			.buttonContainer__44ac1 {
				flex-direction: row-reverse;
				gap: 16px;
				button {
					margin: 0;
				}
			}
		}
	}
}
