@use '../../assets/mono';
@use '../../mixins';

#app-mount #profile-customization-tab {
	.top-K_jibn {
		border: none;
	}
	.baseLayoutProfileThemes-1Jj-oN {
		flex-direction: column;
	}
	.customizationSection-IGy2fS {
		@include mixins.card;
		justify-content: space-between;
		.description-foE_WP {
			display: none;
		}
		&:last-child {
			flex-direction: column;
			align-items: flex-start;
		}
		&.withDivider-14SSKx:not(.section-2ZF4mt) .buttonsContainer-12kYno {
			flex-direction: row-reverse;
			gap: 8px;
		}
	}
	.title-1HgbhV {
		margin: 0;
	}

	.tryItOutSection-W9qeGH {
		display: none;
	}
}
