// Wack ass text flickering
html, span:not([class*="spinner-"]):not([class*="spinnerItem"]) {
	backface-visibility: hidden;
}

body,
.appMount-3lHmkl {
	background: var(--bg-main);
}
.bg-h5JY_x {
	background: transparent;
}

// Remove pointer from clickable
.clickable-536fPF {
	cursor: var(--cursor);
}

// Version
[aria-label="USER_SETTINGS"] .info-1VyQPT > span:first-child::before {
	display: block;
	content: "Fluent v" var(--fluent-version);
	text-transform: none;
}

// Settings animation fixes
.layer-3QrUeG {
	transform: scale(1) !important;
	z-index: 1;
	&.baseLayer-35bLyl {
		transform: none !important;
		opacity: 1 !important;
		padding-top: 0 !important;
		transition: none !important;
	}
}