// Wack ass text flickering
html, span:not([class*="spinner-"], [class*="spinnerItem"]) {
	backface-visibility: hidden;
}

body,
.appMount-2yBXZl,
.app-2CXKsg {
	background: var(--bg-main);
}
.bg-1QIAus {
	background: transparent;
}

// Remove pointer from clickable
[class*="clickable-"],
[class*="cursorPointer-"] {
	cursor: var(--cursor) !important;
}

// Content
.base-2jDfDU {
	background: var(--bg-alt);
	border-top: 1px solid var(--border-high);
	border-left: 1px solid var(--border-high);
	border-top-left-radius: var(--rounded);
}

// Version
[aria-label="USER_SETTINGS"] .info-3pQQBb > span:first-child::before {
	display: block;
	content: "Fluent v" var(--fluent-version);
	text-transform: none;
}

// Settings animation fixes
.layer-86YKbF {
	transform: scale(1) !important;
	z-index: 1;
	&.baseLayer-W6S8cY {
		transform: none !important;
		opacity: 1 !important;
		padding-top: 0 !important;
		transition: none !important;
	}
}