@font-face {
	font-family: 'Segoe UI Variable Text';
	src: local("Segoe UI Variable Text Light"),	url("https://discordstyles.github.io/Fluent/fonts/light.ttf") format("ttf");
	font-weight: 100;
}

@font-face {
	font-family: 'Segoe UI Variable Text';
	src: local("Segoe UI Variable Text Semilight"), url("https://discordstyles.github.io/Fluent/fonts/semilight.ttf") format("ttf");
	font-weight: 200;
}

@font-face {
	font-family: 'Segoe UI Variable Text';
	src: local("Segoe UI Variable Text"), url("https://discordstyles.github.io/Fluent/fonts/normal.ttf") format("ttf");
	font-weight: 400;
}

@font-face {
	font-family: 'Segoe UI Variable Text';
	src: local("Segoe UI Variable Text Semibold"), url("https://discordstyles.github.io/Fluent/fonts/semibold.ttf") format("ttf");
	font-weight: 600;
}

@font-face {
	font-family: 'Segoe UI Variable Text';
	src: local("Segoe UI Variable Text Bold"), url("https://discordstyles.github.io/Fluent/fonts/bold.ttf") format("ttf");
	font-weight: 700;
}