.typeWindows-2-g3UY {
	height: var(--win-btn-height);
	z-index: 2;
	background: transparent;
	position: fixed;
	width: 100%;
	user-select: none;
	height: 10px;
	pointer-events: none;
}
.winButton-3UMjdg {
	height: calc(var(--win-btn-height) + 4px);
	width: var(--win-btn-width);
}
.wordmarkWindows-2dq6rw {
	display: none;
}