.typeWindows-2-g3UY {
	height: var(--win-btn-height);
	$withd-title: calc(82px + var(--channels-width));
	margin-left: #{$withd-title};
	max-width: calc(100% - #{$withd-title});
	z-index: 2;
	background: transparent;
	position: fixed;
	width: 100%;
	user-select: none;
	pointer-events: none;
}
.winButton-3UMjdg {
	height: calc(var(--win-btn-height) + 14px);
	width: var(--win-btn-width);
}
.wordmarkWindows-2dq6rw {
	display: none;
}