#app-mount {
	.tooltip-2QfLtc {
		box-shadow: var(--elevation-2);
		font-size: 14px;
		border-radius: var(--rounded);
	}
	.tooltipContent-bqVLWK {
		padding: 6px 8px;
	}
	.tooltipPointer-3ZfirK {
		border-top-color: var(--border-high);
	}

	.tooltipPrimary-1d1ph4 {
		border: 1px solid var(--border-high);
		background: var(--bg6);
	}

	.guildNameText-3Zwx4p,
	.tooltipContent-bqVLWK {
		font-weight: 500;
	}
}