#app-mount {
	.wrapper-shyHJt {
		width: var(--server-container);
	}
	.folderIconWrapper-1Ml_1q {
		border-radius: var(--rounded);
	}
	.expandedFolderBackground-3ZDF05 {
		border-radius: var(--rounded-high);
		height: 100%;
		background: var(--background-7);
	}
	.folder-2w6LX1 {
		background: var(--background-7);
		cursor: var(--cursor);
	}
	.guildIcon-d5nahd {
		border-radius: 2px;
	}

	[id^="folder-items"][role="group"] {
		height: auto !important;
	}
}