#app-mount {
	.wrapper-38slSD {
		width: var(--server-container);
	}
	.folderIconWrapper-1oRIZr {
		border-radius: var(--rounded);
	}
	.expandedFolderBackground-1kSAf6 {
		border-radius: var(--rounded-high);
		height: 100%;
		background: var(--bg-high);
	}
	.folder-241Joy {
		background: var(--bg-high);
		cursor: var(--cursor);
	}
	.guildIcon-2I5sfu {
		border-radius: 2px;
	}

	[id^="folder-items"][role="group"] {
		height: auto !important;
	}
}