#app-mount {
	.guilds-2JjMmN {
		.listItem-3SmSlK foreignObject {
			mask: none;
			border-radius: var(--rounded-high);
		}
		.wrapper-28eC3z {
			border-radius: var(--rounded);
			cursor: var(--cursor);
		}

		[class*="pill"] {
			width: 4px;
			margin-left: 0px;
			span {
				height: 50% !important;
				width: 100% !important;
				transform: scale(0,1) !important;
				transition: 0.15s ease !important;
				margin-left: 0;
				border-radius: var(--rounded-high);
			}
			@for $i from 0 through 8 {
				span[style*="height: #{$i}"] {
					transform: scale(1,.5) !important;
					background: var(--pill-unread);
				}
			}
			// Hovered
			@for $i from 9 through 20 {
				span[style*="height: #{$i}"] {
					transform: scale(1,.7) !important;
					background: var(--pill-hovered);
				}
			}
			// Selected
			@for $i from 21 through 40 {
				span[style*="height: #{$i}"] {
					transform: scale(1,1) !important;
					background: rgb(var(--accent));
				}
			}
		}
		
		.svg-2zuE5p,
		.wrapper-28eC3z {
			border-radius: var(--rounded-high);
		}
	}

	.childWrapper-1j_1ub {
		background: var(--bg-high);
		font-weight: var(--font-weight-semibold);
	}
	.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
		background: rgb(var(--accent));
		color: var(--accent-text);
	}

	.circleIconButton-1VxDrg {
		background: var(--bg-high);
		&.selected-2r1Hvo {
			background: rgb(var(--accent));
		}
	}
}