#app-mount {
	.buttonsContainer-3rygH4 {
		margin: 0;
		gap: 16px;
	}
	.colorSwatch-3KbHGH {
		margin-right: 0;
		position: relative;
	}
	.swatch-35F5kl {
		width: 75px;
		height: 35px;
	}
	.swatchDescription--ZWxV0 {
		text-align: left;
		font-size: var(--font-size-xs);
		margin-top: 0;
	}
}
