@use '../mixins';

#app-mount [role='radiogroup'] {
	border: 1px solid var(--border);
	background: var(--bg-content);
	border-radius: var(--rounded);
	overflow: hidden;
	.item_eb92a8 {
		background: transparent;
		margin: 0;
		border-radius: 0;
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}
		&:hover {
			background: var(--bg-content-alt);
		}
		&[aria-checked='true'] .radioBar_eb92a8 > div:first-child {
			background: var(--radio-bar-accent-color, var(--accent-solid));
			border-color: var(--radio-bar-accent-color, var(--accent-solid));
			&::before {
				background: var(--accent-text);
			}
		}
	}
	.radioBar_eb92a8 {
		border-radius: 0;
		padding: 16px !important;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		border: none;
		cursor: var(--cursor);
		& > div:first-child {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 20px;
			min-height: 20px;
			max-width: 20px;
			max-height: 20px;
			border-radius: 50%;
			border: 1px solid var(--text-muted);
			&::before {
				content: '';
				width: 12px;
				height: 12px;
				border-radius: 50%;
			}
		}
		svg {
			display: none;
		}
	}
	.info-2FZci4 {
		gap: 0;
	}
	.title-1yyp9V {
		@include mixins.cardTitle;
	}
	.size14-3fJ-ot {
		@include mixins.cardDesc;
	}
}
