#app-mount [role='slider'] {
	.bar_e58961 {
		height: 4px;
	}
	.barFill__1f56b {
		background: rgb(var(--accent));
	}
	.track_b31f5a {
		left: 10px;
	}
	.grabber_e3daf3 {
		border: 4px solid var(--bg-highest);
		margin-top: 0;
		background: rgb(var(--accent));
		box-shadow: var(--shadow-flyout);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		transform: translateY(-50%);
		margin-left: -10px;
		margin-top: -2px;
	}

	&.mini_d6d84c .grabber_e3daf3 {
		width: 12px;
		height: 12px;
		top: 100%;
	}
}
