#app-mount [role='slider'] {
	.bar_a562c8 {
		height: 4px;
	}
	.barFill_a562c8 {
		background: var(--accent);
	}
	.track_a562c8 {
		left: 10px;
	}
	.grabber_a562c8 {
		border: 4px solid var(--bg-highest);
		margin-top: 0;
		background: var(--accent);
		box-shadow: var(--shadow-flyout);
		width: 20px;
		height: 20px;
		border-radius: 50%;
		transform: translateY(-50%);
		margin-left: -10px;
		margin-top: -2px;
	}

	&.mini_a562c8 .grabber_a562c8 {
		width: 12px;
		height: 12px;
		top: 100%;
	}
}
