#app-mount {
	.input-2g-os5:not(.multiInput-1VARjC, .multiInputField-1zyopx, .input-2yCVqe),
	.input-2g-os5.multiInput-1VARjC {
		background: var(--textbox-bg);
		border: 1px solid var(--textbox-border);
		height: 32px;
		padding: 0;
		border-radius: var(--rounded);
		padding: 8px 10px;
		font-size: var(--font-size-sm);
		box-sizing: border-box;
		border-bottom-color: var(--textbox-underline);
		transition: none;
		color: var(--text-secondary) !important;
		cursor: text;

		&::placeholder {
			font-size: var(--font-size-sm);
			color: var(--text-muted);
		}

		&:hover {
			background: var(--textbox-bg-hover);
		}
		&:focus,
		&:focus-within {
			background: var(--textbox-bg-active) !important;
			box-shadow: inset 0 -1px 0 var(--accent);
			border-bottom-color: var(--accent);
		}
	}
	.input-2g-os5.textArea-3WXAeD {
		height: auto !important;
	}
	.multiInput-1VARjC {
		.inputWrapper-1YNMmM::before {
			content: none;
		}
		input {
			padding: 0;
		}
		.multiInputLast-35zVz0 input {
			padding-left: 36px;
		}
	}
	.inputWrapper-1YNMmM > svg {
		width: 18px;
		height: 18px;
		left: 8px;
		top: 8px;
		& + .input-2g-os5 {
			padding-left: 32px;
		}
	}
}
