@use '../mixins';
@use '../assets/mono';

#app-mount {
	.bd-addon-card {
		border-radius: var(--rounded);
		border: 1px solid var(--border);
		background: var(--bg-content);
	}
	.bd-addon-header {
		background: transparent;
		padding: 16px 16px 8px;
	}
	.bd-title {
		@include mixins.text;
	}

	.bd-description-wrap {
		padding: 0 16px 16px;
	}

	.bd-footer {
		padding: 16px 16px;
		border-top: 1px solid var(--border);

		.bd-controls {
			gap: 8px;
		}
		.bd-button {
			@include mixins.btnSecondary;
			border-radius: var(--btn-radius);
			padding: 4px 10px;
			min-width: 50px;
			svg {
				fill: var(--text-secondary);
			}
			&.bd-button-danger svg {
				fill: hsl(var(--discord-red));
			}
		}
	}
}