#app-mount {
	.container__30a2e {
		width: 748px !important;
	}
	.guildSidebar__74787 {
		background: var(--bg-alt);
		border-right: 1px solid var(--border-high);
	}
	.modal_b38209 {
		background: transparent;
	}
	.formFieldWrapper-2LV3S6 {
		background: var(--bg-alt);
		border: 1px solid var(--border-high);
		border-radius: var(--rounded);
	}
}
