#app-mount {
	.container_a74b6f {
		width: 748px !important;
	}
	.guildSidebar_a74b6f {
		background: var(--bg-alt);
		border-right: 1px solid var(--border-high);
	}
	.modal_a74b6f {
		background: transparent;
	}
	.formFieldWrapper-2LV3S6 {
		background: var(--bg-alt);
		border: 1px solid var(--border-high);
		border-radius: var(--rounded);
	}
}
