#app-mount {
	.container_b962dc {
		width: 748px !important;
	}
	.guildSidebar_b962dc {
		background: var(--bg-alt);
		border-right: 1px solid var(--border-high);
	}
	.modal_b962dc {
		background: transparent;
	}
	.formFieldWrapper-2LV3S6 {
		background: var(--bg-alt);
		border: 1px solid var(--border-high);
		border-radius: var(--rounded);
	}
}
