#app-mount .content-1OG56Q  {
	.message-G6O-Wv {
		background: var(--bg-alt);//transparent;
		box-shadow: none;
		padding-left: 5px;
	}
	.cozy-VmLDNB {
		padding-left: 54px;
		.avatar-2e8lTP {
			left: 0;
		}
	}
}
