#app-mount .content-2hZxGK  {
	.message__04d9f {
		background: var(--bg-alt);//transparent;
		box-shadow: none;
		padding-left: 5px;
	}
	.cozy_f5c119 {
		padding-left: 54px;
		.avatar__08316 {
			left: 0;
		}
	}
}
