#app-mount .root_f9a4c9 .content-Lj791F {
	gap: 24px;
	& > div[style*='relative']:not([class]) {
		width: 100% !important;
		& > div {
			width: 100% !important;
		}
	}
	& + .footerSeparator-VzAYwb {
		grid-template-columns: 1fr;
		.inline-3eaUwP {
			flex-direction: row-reverse;
			width: 100%;
			flex: 1;
			gap: 8px;
			button {
				flex: 1;
			}
		}
	}
}
