#app-mount {
	.container-2wlB3z,
	.members-1998pB,
	.members-1998pB > div {
		background: var(--background-2);
		height: 100%;
	}
	
	.membersWrap-2h-GB4 {
		min-width: var(--members-width);
		width: var(--members-width);
		height: 100%;
	}
	.members-1998pB {
		width: 100%;
	}
}