#app-mount {
	.container-2o3qEW,
	.members-3WRCEx,
	.members-3WRCEx > div {
		background: var(--bg-main);
		height: 100%;
	}
	
	.membersWrap-3NUR2t {
		min-width: var(--members-width);
		width: var(--members-width);
		height: 100%;
	}
	.members-3WRCEx {
		width: 100%;
	}
}