@use '../assets/mono';

#app-mount {
	.wrapper-NhbLHG {
		padding: 2px 0;
		&:hover .content-1gYQeQ {
			background: var(--bg-interactive-high);
			.icon-2W8DHg {
				color: var(--interactive-normal);
			}
		}
		&.modeUnread-3Cxepe::before {
			height: 10px;
			background: var(--pill-unread);
			opacity: 1;
		}
		&.modeSelected-3DmyhH {
			&::before {
				height: var(--pill-height);
				background: rgb(var(--accent));
				opacity: 1;
			}
			.content-1gYQeQ {
				background: var(--bg-interactive-high);
				.icon-2W8DHg {
					color: var(--interactive-active);
				}
			}
			&:hover .content-1gYQeQ {
				background: var(--bg-interactive-high-hover);
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			border-radius: 50px;
			height: 0;
			opacity: 1;
			width: var(--pill-width);
			transform: translateY(-50%);
			transition: var(--pill-transition);
			z-index: 1;
		}
	}
	.content-1gYQeQ {
		border-radius: var(--rounded);
		margin-left: 0;
		margin-right: 0;
		padding: 0 8px 0 16px;
		.iconItem-1EjiK0 {
			&:not(.cursorPointer-B3uwDA) {
				svg {
					background: var(--interactive-normal);
				}
				&:first-child svg {
					mask: url(mono.$user-add) center/cover;
				}
				& + .iconItem-1EjiK0 svg {
					mask: url(mono.$cog) center/cover;
				}
				&.openChatIconItem-2kj5qO {
					svg {
						mask: url(mono.$chat) center/cover;
					}
					& + .iconItem-1EjiK0 svg {
						mask: url(mono.$user-add) center/cover;
					}
				}
			}
		}
		.iconItem-1EjiK0.cursorPointer-B3uwDA {
			svg {
				background: var(--interactive-normal);
			}
			&:first-child svg {
				mask: url(mono.$user-add) center/cover;
			}
			&:last-child svg {
				mask: url(mono.$lock-closed) center/cover;
			}
		}
	}
	.name-28HaxV {
		font-weight: var(--font-weight-normal);
	}
	.mainContent-20q_Hp {
		padding: 0;
		height: 36px;
		cursor: var(--cursor);
	}
	.unread-36eUEm {
		border-radius: 50px;
		left: 0;
		width: 4px;
		height: 10px;
		margin-top: 0;
		transform: translateY(-50%);
		background: var(--pill-unread);
		z-index: 1;
	}
	.wrapper-NhbLHG.modeConnected-NrO4cP .icon-2W8DHg {
		color: var(--text-primary) !important;
	}

	// Threads
	.container-1Bj0eq {
		margin-left: 28px;
		.spine-29OFwR {
			display: none;
		}
	}

	// Icons
	path {
		// Voice
		&[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
			d: path(mono.$speaker_path-primary);
		}
		// Locked voice
		&[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"] {
			d: path(mono.$speaker_path-primary);
		}

		// Text
		&[d="M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z"] {
			d: path(mono.$chat_path);
		}
		// Locked text
		&[d="M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z"] {
			d: path(mono.$chat_path);
			& + path {
				transform: translate(2px, -2px);
			}
		}

		// Announcement
		&[d="M3.9 8.26H2V15.2941H3.9V8.26Z"] {
			display: none;
		}
		&[d="M19.1 4V5.12659L4.85 8.26447V18.1176C4.85 18.5496 5.1464 18.9252 5.5701 19.0315L9.3701 19.9727C9.4461 19.9906 9.524 20 9.6 20C9.89545 20 10.1776 19.8635 10.36 19.6235L12.7065 16.5242L19.1 17.9304V19.0588H21V4H19.1ZM9.2181 17.9944L6.75 17.3826V15.2113L10.6706 16.0753L9.2181 17.9944Z"] {
			d: path(mono.$megaphone_path);
		}

		// Rules
		&[d="M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z"] {
			d: path(mono.$important_path);
			transform: scale(1.667);
		}

		// Threads
		&[d="M15.44 6.99992C15.5725 6.99992 15.68 7.10737 15.68 7.23992V8.75992C15.68 8.89247 15.5725 8.99992 15.44 8.99992H9.41045L8.35045 14.9999H10.56V16.9999H8.00001L7.36325 20.5873C7.32088 20.826 7.11337 20.9999 6.87094 20.9999H5.88657C5.57547 20.9999 5.3399 20.7189 5.39427 20.4125L6.00001 16.9999H2.59511C2.28449 16.9999 2.04905 16.7197 2.10259 16.4137L2.27759 15.4137C2.31946 15.1745 2.52722 14.9999 2.77011 14.9999H6.35001L7.41001 8.99992H4.00511C3.69449 8.99992 3.45905 8.71969 3.51259 8.41373L3.68759 7.41373C3.72946 7.17448 3.93722 6.99992 4.18011 6.99992H7.76001L8.39677 3.41254C8.43914 3.17384 8.64664 2.99992 8.88907 2.99992H9.87344C10.1845 2.99992 10.4201 3.28099 10.3657 3.58731L9.76001 6.99992H15.44Z"] {
			d: path(mono.$chat_path);
		}
		// Active threads
		&[d="M13.44 12.9599C12.9098 12.9599 12.48 13.3897 12.48 13.9199V20.2212C12.48 20.7514 12.9098 21.1812 13.44 21.1812H14.4C14.5326 21.1812 14.64 21.2886 14.64 21.4212V23.4597C14.64 23.6677 14.8866 23.7772 15.0409 23.6377L17.4859 21.4289C17.6623 21.2694 17.8917 21.1812 18.1294 21.1812H22.56C23.0902 21.1812 23.52 20.7514 23.52 20.2212V13.9199C23.52 13.3897 23.0902 12.9599 22.56 12.9599H13.44Z"] {
			stroke: var(--bg-alt);
		}
	}
}