#app-mount {
	.wrapper__2ea32 {
		padding: 2px 0;
		margin-left: 0;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			border-radius: 50px;
			height: var(--pill-height);
			opacity: 1;
			width: var(--pill-width);
			translate: 0 -50%;
			scale: 0;
			transition: var(--pill-transition);
			z-index: 1;
		}

		&.modeMuted__2ea32 {
			.icon__2ea32,
			.iconContainer__2ea32:has(path[d^='M21.025 5V4C21.025'])::before {
				background: var(--interactive-muted);
			}
		}
		&.modeUnreadImportant__2ea32::before {
			background: var(--pill-unread);
			scale: 1 0.65;
			opacity: 1;
		}
		&.modeSelected__2ea32 {
			&::before {
				background: var(--accent);
				scale: 1;
			}
			.link__2ea32 {
				background: var(--bg-interactive-high);
			}
		}
		&:hover .link__2ea32 {
			background: var(--bg-interactive-high-hover);
		}
		&.typeThread__2ea32 {
			padding-left: 32px;
		}
	}
	.unread__2ea32 {
		display: none;
	}
	.link__2ea32 {
		border-radius: var(--rounded);
		margin-left: 0;
		margin-right: 0;
		padding: 8px 8px 8px 16px;
		cursor: var(--cursor);

		.name__2ea32 {
			font-weight: var(--font-weight-normal);
		}

		// Icons
		.actionIcon_c69b6d,
		.icon__2ea32 {
			mask-size: cover;
			mask-position: center;
			background: var(--interactive-normal);
			path {
				display: none;
			}
		}
		.iconBase_c69b6d {
			cursor: var(--cursor);
		}
	}

	// Browser Channels
	.wrapper__2ea32:has(+ .sectionDivider__629e4) {
		margin-top: 8px;
	}
}
