#app-mount {
	.wrapper__612a5 {
		padding: 2px 0;
		margin-left: 0;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			border-radius: 50px;
			height: var(--pill-height);
			opacity: 1;
			width: var(--pill-width);
			translate: 0 -50%;
			scale: 0;
			transition: var(--pill-transition);
			z-index: 1;
		}

		&.modeMuted_f0a72e {
			.icon__67ab4,
			.iconContainer__6a580:has(path[d^='M21.025 5V4C21.025'])::before {
				background: var(--interactive-muted);
			}
		}
		&.modeUnreadImportant__35358::before {
			background: var(--pill-unread);
			scale: 1 0.65;
			opacity: 1;
		}
		&.modeSelected__473f1 {
			&::before {
				background: rgb(var(--accent));
				scale: 1;
			}
			.link_ddbb36 {
				background: var(--bg-interactive-high);
			}
		}
		&:hover .link_ddbb36 {
			background: var(--bg-interactive-high-hover);
		}
		&.typeThread__5fb37 {
			padding-left: 32px;
		}
	}
	.unread__48cf4 {
		display: none;
	}
	.link_ddbb36 {
		border-radius: var(--rounded);
		margin-left: 0;
		margin-right: 0;
		padding: 8px 8px 8px 16px;
		cursor: var(--cursor);

		.name__4eb92 {
			font-weight: var(--font-weight-normal);
		}

		// Icons
		.actionIcon_b149a2,
		.icon__67ab4 {
			mask-size: cover;
			mask-position: center;
			background: var(--interactive-normal);
			path {
				display: none;
			}
		}
		.iconBase_bf11e7 {
			cursor: var(--cursor);
		}
	}

	// Browser Channels
	.wrapper__612a5:has(+ .sectionDivider__9dbcb) {
		margin-top: 8px;
	}
}
