#app-mount {
	.sidebar_ded4b5 {
		width: var(--channels-width);
		background: var(--bg-alt);
		border-right: 1px solid var(--border-mid);
		box-sizing: border-box;
		border-radius: var(--rounded) 0 0 0;
		overflow: visible;
		.scroller_f0f183 {
			padding: 8px !important;
			&::-webkit-scrollbar {
				display: none;
			}
			& > ul > li:first-of-type {
				padding-top: 0;
			}
		}
		&.hidden__3ab58 {
			display: none;
		}
	}
	.content__23cab > li:last-child {
		padding-bottom: 16px;
	}
	.container__590e2 {
		background: var(--bg-alt);
	}
	.sectionDivider__68d2a {
		margin-top: 8px;
	}
}
