#app-mount {
	.sidebar_a4d4d9 {
		width: var(--channels-width) !important;
		background: var(--bg-alt);
		border-right: 1px solid var(--border-mid);
		box-sizing: border-box;
		border-radius: var(--rounded) 0 0 0;
		overflow: visible;
		.scroller_c43953 {
			padding: 8px !important;
			&::-webkit-scrollbar {
				display: none;
			}
			& > ul > li:first-of-type {
				padding-top: 0;
			}
		}
		&.hidden_a4d4d9 {
			display: none;
		}
	}
	.content_eed6a8 > li:last-child {
		padding-bottom: 16px;
	}
	.container_ee69e0 {
		background: var(--bg-alt);
	}
	.sectionDivider_c43953 {
		margin-top: 8px;
	}
}
