@use '../mixins';
@use '../assets/mono';

#app-mount {
	.privateChannels-oVe7HL {
		background: transparent;
	}
	.scroller-WSmht3 {
		background: transparent;
		padding: 8px 2px 8px 8px !important;
		div[style="height: 8px;"] {
			display: none;
		}
	}

	.searchBar-3TnChZ {
		height: var(--toolbar-height);
		box-shadow: none;
		border-bottom: 1px solid var(--border-mid);
		box-sizing: border-box;
		padding: 0 8px;
		button {
			@include mixins.btn;
			@include mixins.btnSecondary;
		}
	}

	.channel-1Shao0 {
		max-width: unset;
		margin: 0 0 4px 0;
		padding: 0;

		.layout-1LjVue {
			height: 48px;
			padding: 0 18px;
			cursor: var(--cursor);
		}

		.interactive-1vLZ_I {
			cursor: var(--cursor);
			&::before {
				content: "";
				border-radius: 50px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: var(--pill-width);
				height: 0;
				left: 0;
				opacity: 0;
				background: rgb(var(--accent));
				transition: var(--pill-transition);
			}
		}

		.content-66wMin {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&:hover .interactive-1vLZ_I {
			background: var(--bg-interactive-high);
		}
		.selected-3veCBZ {
			background: var(--bg-interactive-high);
			&::before {
				height: var(--pill-height);
				opacity: 1;
			}
			&:hover {
				background: var(--bg-interactive-high-hover);
			}
		}
	}

	.link-39sEB3[href="/channels/@me"] .linkButtonIcon-7rsZcu {
		-webkit-mask: url(mono.$people) center/cover;
		background: var(--interactive-normal);
		g {
			display: none;
		}
	}
}