@use '../mixins';

#app-mount {
	.sidebar_ded4b5 .content__23cab > div[style='height: 84px;'],
	.sidebar_ded4b5 .content__23cab > div[style='height: 16px;'] {
		display: none;
	}

	.container__7c79d {
		display: flex;
		flex-direction: column-reverse;
	}

	.header__104ca {
		@include mixins.btn;
		@include mixins.btnSecondary;
		margin: 8px;
		filter: none;
		height: 42px;
		transition: none;

		.headerContent_ee8727 {
			flex: 1;
		}
		.headerChildren__7cd0b { // REVISAR *
			display: flex;
			align-items: center;
    		justify-content: center;
		}

		.guildIconContainer_a995c7 {
			display: none;
		}
		.name_c08dbc {
			font-weight: var(--font-weight-normal);
			max-width: calc(var(--channels-width) - 64px);
		}
		
		.guildIconV2Container-2H8IRS + .name-3Uvkvr {
			font-weight: var(--font-weight-normal);
			max-width: calc(var(--channels-width) - 88px);
		}

		&:hover {
			background: var(--btn-bg-hover);
		}
	}

	// Banner
	.animatedContainer__341f6 {
		background: transparent;
		height: var(--banner-height);
		box-shadow: none;
		width: var(--channels-width);
		position: relative;
		transform: none !important;
		opacity: 1 !important;
		border-bottom: 1px solid var(--border-mid);
	}
	.bannerImage__39c51 {
		overflow: hidden;
		width: 100%;
		transform: none !important;
		height: var(--banner-height);
		img {
			width: 100%;
			height: 100%;
		}

		&::before {
			content: none;
		}
	}

	// Public tag
	.communityInfoContainer__286d6 {
		margin-top: 75px;
		left: 0;
	}
	.communityInfoPill_d3f445 {
		border-radius: var(--rounded);
		background: var(--bg-main);
	}
}
