#app-mount {
	.container_bc43c1 {
		margin: -8px 0 0 0;
	}
	.progressBar_db0972 {
		$color: 'rgb(from var(--accent) r g b / .5)';
		background: linear-gradient(90deg, unquote($color), var(--accent));
	}
}
