@use '../mixins';
@use '../assets/mono';

#app-mount {
	.panels-3wFtMD {
		background: transparent;
		border: none;

		// User area
		& > .container-YkUktl {
			box-sizing: border-box;
			bottom: 11px;
			left: 8px;//12px
			background: var(--bg-main);
			padding: 8px 8px;//8px 14px
			margin-left: 7px;//11px
			margin-bottom: 12px;
			width: calc(var(--channels-width) - 16px);//- 12px
			border-radius: var(--rounded);//var(--rounded) 0 0 var(--rounded);
			border: 1px solid var(--border-high);
			//border-right: none;
			height: var(--bottombar-height);
			z-index: 1;
			& > .flex-2S1XBF {
				//gap: 8px;
				height: 75%;
				width: 100%;
			}
			button {
				@include mixins.btn;
				@include mixins.btnSecondary;
				flex: 1;
				svg {
					width: 18px;
					height: 18px;
				}
			}
			.avatarWrapper-1B9FTW {
				padding: 4px;//6px
				min-width: unset;
				//margin: 0 8px 0 0;

				&:hover {
					background: transparent;
					box-shadow: var(--server-hover-selected);
				}
			}
			.nameTag-sc-gpq {
				display: none;
			}
		}
		&:hover .container-1zzFcN {
			translate: 0 0;
			opacity: 1;
			visibility: visible;
		}
	}

	// Voice connected
	.container-1zzFcN {
		position: absolute;
		left: 7px;//11px
		right: 8px;//12px
		bottom: 0;//calc(var(--bottombar-height) + 9px);
		border-radius: var(--rounded) var(--rounded) 0 0;
		background: var(--bg-main);
		padding: 0;
		border: 1px solid var(--border-high);
		border-bottom: none;
		flex-direction: column-reverse;
		display: flex;
		gap: 8px;
		z-index: 1;
		& > .flex-2S1XBF {
			padding: 11px 0px 11px 15px; //8px 8px 11px 8px;
			position: relative;
			z-index: 2;
			&::before {
				content: '';
				position: absolute;
				inset: 0;
				background: var(--bg-main);
				border-radius: var(--rounded) var(--rounded) 0 0;
			}
			& > .flex-2S1XBF {
				gap: 4px;
				margin-left: 0px;
				margin-right: 8px;
				button {
					@include mixins.btn;
					@include mixins.btnSecondary;
				}
			}
			&:hover + .actionButtons-2vEOUh {
				bottom: calc(100% - 8px);
				opacity: 1;
				visibility: visible;
				transition-delay: 0.45s;
			}
		}
		a[href^='/channel'] {
			display: none;
		}
	}
	.wrapper-3Hk9OB + .container-YkUktl {
		border-radius: 0 0 0 var(--rounded);
	}
	.inner-llGtyq {
		position: relative;
	}
	.rtcConnectionStatus-c5A6Av {
		display: flex;
		align-items: center;
		.button-ejjZWC {
			padding: 0;
			margin-left: 4px;
		}
	}
	.ping-2IpLcU {
		width: 24px;
		height: 24px;
	}
	.actionButtons-2vEOUh {
		position: absolute;
		bottom: 0;
		width: calc(100% - 16px);
		background: var(--bg-main);
		border-radius: var(--rounded) var(--rounded) 0 0;
		border: 1px solid var(--border-high);
		border-bottom: none;
		padding: 8px;
		left: -1px;
		visibility: hidden;
		transition: 0.15s var(--transition) 0s;
		z-index: 0;
		.button-1EGGcP.buttonColor-3bP3fX.colorBrand-I6CyqQ {
			@include mixins.btn;
			@include mixins.btnSecondary;
		}
		&:hover {
			visibility: visible;
			opacity: 1;
			bottom: calc(100% - 2px);
		}
	}
	.panel-2ZFCRb {
		margin-bottom: 56px;
		margin-left: 7px;
		margin-right: 8px;

		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 15px;
		padding-right: 8px;
		
		border-radius: var(--rounded);
		background: var(--bg-main);
		border: 1px solid var(--border-high);
		
		.button-12Fmur {
			@include mixins.btn;
			@include mixins.btnSecondary;
		}
	}
}
