@use '../mixins';
@use '../assets/mono';

#app-mount {
	.panels-3wFtMD {
		background: transparent;
		border-top: 1px solid var(--border-mid);

		// User area
		& > .container-YkUktl {
			padding: 8px;
			height: auto;
			background: transparent;
			& > .flex-2S1XBF {
				gap: 8px;
				width: 100%;
			}
			button {
				@include mixins.btn;
				@include mixins.btnSecondary;
				flex: 1;
				svg {
					width: 18px;
					height: 18px;
				}
			}

			// Move avatar to chat area.
			.avatarWrapper-1B9FTW {
				position: absolute;
				left: calc(var(--server-size) / -1 - 10px);
				min-width: unset;
				margin: 0 0 8px 0;
				padding: 0;
				width: var(--server-size);
				height: var(--server-size);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: var(--rounded);
				transition: box-shadow 0.15s var(--transition);

				.avatar-1EWyVD {
					cursor: default;
				}

				&:hover {
					background: transparent;
					box-shadow: var(--server-hover-selected);
				}
				&[aria-expanded='true'] {
					box-shadow: var(--server-hover-selected);
				}
			}

			.nameTag-sc-gpq {
				display: none;
			}
		}
	}

	// Voice connected
	.container-1zzFcN {
		background: transparent;
		padding-bottom: 0;
		& > .flex-2S1XBF > .flex-2S1XBF {
			gap: 4px;
			button {
				@include mixins.btn;
				@include mixins.btnSecondary;
			}
		}
		&:only-child {
			border: none;
		}
	}
	.actionButtons-2vEOUh .button-1EGGcP.buttonColor-3bP3fX.colorBrand-I6CyqQ {
		@include mixins.btn;
		@include mixins.btnSecondary;
	}
}
