#app-mount {
	.list__02208 {
		padding: 4px 0 0 0;
		.draggable__68384 {
			height: auto;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}
	.voiceUser__629a5 {
		height: auto;
		&::before {
			content: '';
			display: block;
			height: 0;
			width: var(--pill-width);
			background: rgb(var(--accent));
			border-radius: 50px;
			transition: var(--pill-transition);
			opacity: 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}

		&:hover .content__3b07e {
			background: var(--bg-interactive-high);
		}
		&.selected__80fc0 {
			&::before {
				height: var(--pill-height);
				opacity: 1;
			}
			.content__3b07e {
				background: var(--bg-interactive-high);
			}
			&:hover .content__3b07e {
				background: var(--bg-interactive-high-hover);
			}
		}
	}
	.avatarSpeaking_f239de {
		box-shadow:
			inset 0 0 0 2px rgb(var(--accent)),
			inset 0 0 0 4px var(--bg-alt);
	}
	.content__3b07e {
		margin: 0;
		padding: 2px 8px 2px 32px;
	}
}
