#app-mount {
	.list_c3cd7d {
		padding: 4px 0 0 0;
		.draggable__55bab {
			height: auto;
			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}
	.voiceUser__07f91 {
		height: auto;
		&::before {
			content: '';
			display: block;
			height: 0;
			width: var(--pill-width);
			background: var(--accent);
			border-radius: 50px;
			transition: var(--pill-transition);
			opacity: 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}

		&:hover .content__07f91 {
			background: var(--bg-interactive-high);
		}
		&.selected__07f91 {
			&::before {
				height: var(--pill-height);
				opacity: 1;
			}
			.content__07f91 {
				background: var(--bg-interactive-high);
			}
			&:hover .content__07f91 {
				background: var(--bg-interactive-high-hover);
			}
		}
	}
	.avatarSpeaking__07f91 {
		box-shadow:
			inset 0 0 0 2px var(--accent),
			inset 0 0 0 4px var(--bg-alt);
	}
	.content__07f91 {
		margin: 0;
		padding: 2px 8px 2px 32px;
	}
}
