.platform-win #app-mount .typeWindows_a934d8 + div {
	.layer_d4b6c5 {
		top: 0;
		padding-top: 0;
		&.baseLayer_d4b6c5 {
			padding-top: calc(var(--win-btn-height) + 4px) !important;
		}
	}
	.standardSidebarView_c25c6d {
		top: 0;
	}
}

.typeWindows_a934d8 {
	height: var(--win-btn-height);
	z-index: 2;
	background: transparent;
	position: fixed;
	width: calc(100% - 72px - var(--server-size));
	user-select: none;
	pointer-events: none;
	right: 0;
}
.winButton_a934d8 {
	height: calc(var(--win-btn-height) + 4px);
	width: var(--win-btn-width);
	cursor: var(--cursor);
}
.wordmarkWindows_a934d8 {
	display: none;
}
