.platform-win #app-mount /*.typeWindows__5fa63 + div*/ {
	.layer__2efaa {
		top: 0;
		padding-top: 0;
		&.baseLayer__8fda3 {
			//padding-top: calc(var(--win-btn-height) + 4px) !important;
		}
	}
	.standardSidebarView__1129a {
		top: 0;
	}
	
}

.typeWindows__5fa63 {
	//height: var(--win-btn-height);
    $withd-title: calc(82px + var(--channels-width));
	margin-left: #{$withd-title};
	max-width: calc(100% - #{$withd-title});
    margin-top: 0px;
    height: calc(var(--win-btn-height) + 18px);
	z-index: 2;
	background: transparent;
	position: fixed;
	width: calc(100% - 72px - var(--server-size));
	user-select: none;
	pointer-events: none;
	right: 0;
}
.winButton__88672 {
	height: calc(var(--win-btn-height) + 18px); //calc(var(--win-btn-height) + 4px);
	width: var(--win-btn-width);
	cursor: var(--cursor);
}
.wordmarkWindows__05c46 {
	display: none;
}
