:root {

	/* The colour used throughout the app | R,G,B format | Default: 98, 205, 254 */
	/*--accent: 0, 166, 255;*//*strong blue*/
	--accent: 0, 120, 212;/*windows 11 blue*/
	/*--accent: 255, 119, 0;*//*orange*/
	/*--accent: 255, 0, 0;*//*red*/
	/*--accent: 114, 137, 218;/*discord purple*/
	//--accent: red(var(--os-accent-color)), green(var(--os-accent-color)), blue(var(--os-accent-color));
	

	--channels-width: 280px; /* The size of the server channel/dms list | Default: 300px | Fork default: 280px*/
	--members-width: 255px; /* The size of the members list | Default: 280px | Fork default: 255px*/
	--server-size: 48px; /* Size of each server in the server list | Default: 48px */

	--dark-background-hue: 0; /* The hue of the background colour. | Options: 0 to 360 | Default: 0 */
	--dark-background-saturation: 0%; /* How much of the colour should be visible. | Must end in a % | Default: 0% */
}

