@use '../mixins';
@use '../classes' as *;

#{cls('mount')} {
	#{cls('chat.altchat.container')} {
		border-left: 1px solid var(--border-mid);
		border-radius: 0;
		background: transparent;
	}
	#{cls('chat.altchat.chat')}::before {
		content: none;
	}

	#{cls('chat.altchat.followBar.container')} {
		background: var(--bg-alt);
		box-shadow: none;
		border-top: 1px solid var(--border-mid);
		border-bottom: 1px solid var(--border-mid);

		#{cls('chat.altchat.followBar.button')} {
			@include mixins.btn;
			@include mixins.btnSecondary;
			& > div {
				background: transparent;
				border-radius: 0;
				border: none;
			}
		}
	}
	#{cls('chat.altchat.divider')} {
		height: 0;
		background: var(--border-mid);
	}
}
