@use '../mixins';

#app-mount {
	.wrapper_bd2abe {
		background: var(--bg-main);
		border-bottom: 1px solid var(--border-mid);
		&.minimum_ebf000 {
			height: 300px;
		}
	}
	.voiceCallWrapper_a36a80 {
		padding-bottom: 0;
		gap: 12px;
	}
	.participant__43dbf {
		margin: 0;
	}

	.wrapper__3f3a7 {
		gap: 8px;
		.button_afdfd9 {
			@include mixins.btn;
			@include mixins.btnSecondary;
			height: 32px;
			width: 44px;
			svg {
				width: 18px;
				height: 18px;
			}
		}
		button.red_a51ba8 {
			@include mixins.btnDanger;
		}
	}

	div.controlButton_ab2899 {
		margin: 0;
	}
	button.controlButton_ab2899 {
		@include mixins.btnSecondary;
	}

	.contextMenuContainer_fc4df6 {
		display: flex;
		height: 32px;
		width: 70px;
		overflow: hidden;
		& > svg {
			transform: translateX(6px) scale(1.2726);
		}
		foreignObject {
			mask: none;
		}
		button {
			@include mixins.btn;
			@include mixins.btnSecondary;
			border-radius: var(--btn-radius) 0 0 var(--btn-radius) !important;
			height: 32px;
			width: 44px;
		}
	}
	.contextMenuNub__7c02f {
		@include mixins.btn;
		@include mixins.btnSecondary;
		height: 32px;
		padding: 4px;
		width: auto;
		position: static;
		border-radius: 0 var(--btn-radius) var(--btn-radius) 0 !important;
		svg {
			cursor: var(--cursor);
		}
	}

	// Video
	.video__85ac2 .transparent__7f3e0 {
		background: transparent;
		border-bottom: none;
	}
}
