@use '../mixins';

#app-mount {
	.wrapper-1gVUIN {
		background: var(--bg-main);
		border-bottom: 1px solid var(--border-mid);
		&.minimum-fXpVNc {
			height: 300px;
		}
	}
	.voiceCallWrapper-3UtDiC {
		padding-bottom: 0;
		gap: 12px;
	}
	.participant-1l6khj {
		margin: 0;
	}
	.actionButton-2S7dMn{
		margin-left: 2px !important;
		margin-right: 2px !important;
	}
	.flex-2S1XBF {
		gap: 4px;
	}
	.wrapper-3t3Yqv {
		gap: 4px;
		.button-f2h6uQ {
			@include mixins.btn;
			@include mixins.btnSecondary;
			height: 32px;
			width: 44px;
			svg {
				width: 18px;
				height: 18px;
			}
		}
		button.red-3T8maV {
			@include mixins.btnDanger;
		}
	}

	div.controlButton-2PMNom {
		margin: 0;
	}

	.contextMenuContainer-1RO4DQ {
		display: flex;
		height: 32px;
		width: 70px;
		overflow: hidden;
		& > svg {
			transform: translateX(6px) scale(1.2726);
		}
		foreignObject {
			-webkit-mask: none;
		}
		button {
			@include mixins.btn;
			@include mixins.btnSecondary;
			border-radius: var(--btn-radius) 0 0 var(--btn-radius) !important;
			height: 32px;
			width: 44px;
		}
	}
	.contextMenuNub-NuTZ_U {
		@include mixins.btn;
		@include mixins.btnSecondary;
		height: 32px;
		padding: 4px;
		width: auto;
		position: static;
		border-radius: 0 var(--btn-radius) var(--btn-radius) 0 !important;
		svg {
			cursor: var(--cursor);
		}
	}

	// Video
	.video-3n15R6 .transparent-1lUmft {
		background: transparent;
		border-bottom: none;
	}
}