@use '../mixins';

#app-mount {
	.wrapper__6bf2d {
		background: var(--bg-main);
		border-bottom: 1px solid var(--border-mid);
		&.minimum__7f356 {
			height: 300px;
		}
	}
	.voiceCallWrapper__6ca32 {
		padding-bottom: 0;
		gap: 12px;
	}
	.participant_f0e444 {
		margin: 0;
	}

	.wrapper__4d4fe {
		gap: 8px;
		.button__581d0 {
			@include mixins.btn;
			@include mixins.btnSecondary;
			height: 32px;
			width: 44px;
			svg {
				width: 18px;
				height: 18px;
			}
		}
		button.red__45e65 {
			@include mixins.btnDanger;
		}
	}

	div.controlButton__863c7 {
		margin: 0;
	}
	button.controlButton__863c7 {
		@include mixins.btnSecondary;
	}

	.contextMenuContainer__7fb37 {
		display: flex;
		overflow: hidden;
		foreignObject {
			mask: none;
			width: 42px;
		}
		button {
			@include mixins.btn;
			@include mixins.btnSecondary;
			border-radius: var(--btn-radius) 0 0 var(--btn-radius) !important;
			height: 32px;
			width: 44px;
		}
	}
	.contextMenuNub_bea150 {
		@include mixins.btn;
		@include mixins.btnSecondary;
		height: 32px;
		padding: 4px;
		width: auto;
		position: static;
		border-radius: 0 var(--btn-radius) var(--btn-radius) 0 !important;
		svg {
			cursor: var(--cursor);
		}
	}

	// Video
	.video__004a2 .transparent__8d0a5 {
		background: transparent;
		border-bottom: none;
	}
}
