@use '../classes' as *;

#{cls('mount')} {
	#{cls('chat.container')} {
		background: transparent;
	}
	#{cls('chat.content')}::before {
		content: none;
	}
	#{cls('chat.messages.container')} {
		background: var(--bg-alt);
		&:only-child {
			margin-right: 0;
			border-top-right-radius: 0;
		}
	}

	#{cls('chat.messages.scrollerSpacer')} {
		height: 0;
	}

	// Chat icon
	#{cls('chat.messages.icon')} {
		background: var(--bg-content);
		border: 1px solid var(--border-mid);
	}

	//Load Chat Screen
	.wrapper-3HVHpV{
		background: var(--bg-alt);
		.wrapper-15CKyy{
			background: var(--bg-alt);
			.contents-1UYEBX{
				background: var(--bg-alt);
			}
			.attachmentContainer-1zVy8E{
				background: var(--bg-alt);
			}
		}
	}
}
