@use '../classes' as *;

#app-mount {
	.chat_f75fb0 {
		background: transparent;
	}
	.content_f75fb0::before {
		content: none;
	}
	.chatContent_f75fb0 {
		background: var(--bg-alt);
		&:only-child {
			margin-right: 0;
			border-top-right-radius: 0;
		}
	}

	.scrollerSpacer__36d07 {
		height: 24px;
	}

	// Chat icon
	#{cls('chat.messages.icon')} {
		background: var(--bg-content);
		border: 1px solid var(--border-mid);
	}

	.messagesWrapper__36d07::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: calc(100% - 8px);
		height: 24px;
		background: linear-gradient(transparent, var(--bg-alt));
		z-index: 2;
		pointer-events: none;
	}
}
