@use '../classes' as *;

#app-mount {
	.chat_a7d72e {
		background: transparent;
	}
	.content_a7d72e::before {
		content: none;
	}
	.chatContent_a7d72e {
		background: var(--bg-alt);
		&:only-child {
			margin-right: 0;
			border-top-right-radius: 0;
		}
	}

	.scrollerSpacer_e2e187 {
		height: 24px;
	}

	// Chat icon
	#{cls('chat.messages.icon')} {
		background: var(--bg-content);
		border: 1px solid var(--border-mid);
	}

	.messagesWrapper_e2e187::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: calc(100% - 8px);
		height: 24px;
		background: linear-gradient(transparent, var(--bg-alt));
		z-index: 2;
		pointer-events: none;
	}
}
