#app-mount {
    .content-1jQy2l.container-2IKOsH{
        background: var(--bg-content);
    }

    .channelRow-4X_3fi{
        background: var(--bg-content-alt);
    }

    .checked-22NTbO{
        background-color: rgb(var(--accent)) !important;
        border-color: rgb(var(--accent)) !important;
        border-radius: 6px;
    }
}
