@use '../mixins';
@use '../classes' as *;

#{cls('mount')} {
	#{cls('forum.container')} {
		background: transparent;
	}

	#{cls('forum.header.container')} {
		//background: transparent;
		box-shadow: none;
		border: none;
	}
	#{cls('forum.header.titleContainer')} {
		align-items: center;
		//gap: 16px;
		cursor: default;
	}
	#{cls('forum.header.form')} {
		/*padding: 0;
		#{cls('input.container')} {
			margin-top: 0;
		}*/
	}
	#{cls('forum.card.container')} {
		@include mixins.card($fgap: 0);
		cursor: var(--cursor);
		transition: none;
		&:hover {
			box-shadow: none;
			transform: none;
			background: var(--bg-content-alt);
		}
	}
	#{cls('forum.card.tag.container')} {
		border: 1px solid var(--border-high);
		background: transparent;
		height: 28px;
		#{cls('forum.card.emoji')} {
			margin-right: 8px;
			width: 14px;
			height: 14px;
		}
		#{cls('forum.card.tag.text')} {
			font-size: var(--font-size-xs);
		}
		&:hover {
			background: var(--bg-interactive-high);
		}
		&#{cls('forum.card.selected')} {
			border-color: rgb(var(--accent));
		}
	}

	#{cls('forum.sidebar.container')},
	#{cls('forum.sidebar.footer')} {
		@include mixins.card($fdir: column, $aitem: flex-start);
	}

	//SubThreads/SubForums searchbox
	.searchBox-3IjAC1{
		width: 100%;
	}
	//SubThreads/SubForums entries
	.container-2rzKKA{
		background: var(--bg-content);
	}
	//Forum Cards
	.container-1PloNW.card-2JNtco.mainCard-3KBsBI {
		background: var(--bg-content);

		.contentPreview-3fWiuC{
			background: var(--bg-content-alt);
		}

		.textContentFooter-2JnNv8 {
			background: linear-gradient(180deg, rgba(255,0,0,0), var(--bg-alt));
		}
	}

	//Under the Search bar
	.matchingPostsRow-2IiEQ1 {
		background: var(--background-primary);
	}
}
