@use '../mixins';

#app-mount {
	.message_d5deea:has(.channelTextArea_d0696b).cozyMessage_d5deea .contents_f9f2ca {
		display: block;
		width: 100%;
		background: var(--bg-content);
		.textArea_d0696b {
			height: auto;
			min-height: auto;
		}
		.channelTextArea_d5deea {
			margin-top: 0;
		}
		.slateTextArea_e52116 {
			padding-top: 0;
			padding-bottom: 0;
		}
		.inner_d0696b::before {
			content: none;
		}
		.buttons_d0696b {
			height: auto;
		}
	}
	.operations_baf0d6 {
		padding: 8px 16px 16px 16px;
	}
	.mentioned_d5deea {
		background: rgb(from var(--chat-mention-colour) r g b / 5%);
		&::before {
			background: var(--chat-mention-colour);
		}

		&.groupStart_d5deea .contents_f9f2ca {
			background: var(--chat-mention-bubble) !important;
			.messageContent_f9f2ca:not(:empty) {
				background: transparent !important;
			}
		}
		&:not(.groupStart_d5deea) .messageContent_f9f2ca:not(:empty) {
			background: var(--chat-mention-bubble) !important;
		}
	}

	.cozy_f9f2ca {
		.avatar_f9f2ca {
			left: var(--chat-spacing-x);
			margin-top: 0;
		}

		.contents_f9f2ca > .messageContent_f9f2ca:not(:empty) {
			margin-left: 0;
			padding: var(--chat-padding-y) var(--chat-padding-x);
			background: var(--chat-bubble-bg);
			border-radius: var(--rounded);
			display: inline-block;
			max-width: calc(100% - var(--chat-spacing-x));
		}
		.container_d76df7 {
			padding: 0;
		}

		&.groupStart_d5deea .contents_f9f2ca {
			background: var(--chat-bubble-bg);
			display: inline-block;
			border-radius: var(--rounded) var(--rounded);
			max-width: 100%;

			.header_f9f2ca {
				padding-top: var(--chat-padding-y);
				padding-right: var(--chat-padding-x);
				padding-bottom: 2px;
				padding-left: var(--chat-padding-x);
				margin-left: 0;
			}
			.messageContent_f9f2ca {
				&:empty {
					margin-top: 8px;
					display: block;
				}
				&:not(:empty) {
					padding-top: 0;
				}
			}
		}

		&.isSystemMessage_f9f2ca .messageContent_f9f2ca {
			padding: 16px !important;
		}

		&.wrapper_f9f2ca {
			padding-left: calc(var(--chat-spacing-x) + 56px);
			padding-right: calc(var(--chat-spacing-x) - 11px) !important;
		}
	}

	.embedFull_b0068a {
		background: var(--chat-bubble-bg);
	}

	.markup_f8f345 pre {
		margin: 0;
		max-width: 100%;
	}

	// Message/attachment actions
	.wrapper_f7e168 {
		background: var(--bg-content);
		border-radius: var(--btn-radius);
		box-shadow: var(--shadow-flyout);
		height: auto;
		.button_f7e168 {
			@include mixins.btn;
			@include mixins.btnSecondary;
			width: auto;
			height: auto;
			min-width: auto;
			border-radius: 0;
			&.dangerous_f7e168 {
				color: hsl(var(--discord-red));
			}
		}
	}

	// @Mention/Link Channel
	.wrapper_d4fa29 {
		background: rgb(from var(--accent) r g b / 10%);
		color: var(--accent);
		font-weight: var(--font-weight-semibold);
		cursor: default;
		&:hover {
			box-shadow: inset 0 0 0 100vmax var(--btn-bg-hover);
		}
	}

	// Reactions
	.reaction_ec6b19 {
		background: transparent;
		border-color: var(--border-high);
		border-radius: 50px;
		cursor: default;
		transition: none;
		&:hover {
			background: var(--bg-interactive-high);
		}
		&.reactionMe_ec6b19 {
			border-color: var(--accent);
			.reactionCount_ec6b19 {
				color: var(--accent);
			}
		}
	}

	// Codeblocks/file embeds
	.markup_f8f345 code {
		background: var(--bg-alt);
		border-color: var(--border-mid);
	}

	.textContainer_d8e2d0 {
		background: var(--bg-content);
		border-radius: var(--rounded);
		border: 1px solid var(--border-mid);
	}
	.footer_d8e2d0 {
		background: transparent;
		border: none;
		margin-top: 4px;
		padding: 0;
		height: auto;
	}
	.toggleExpandSection_d8e2d0,
	.anchor-1MIwyf.downloadSection_d8e2d0,
	.codeIcon_d8e2d0 {
		@include mixins.btn;
		@include mixins.btnSecondary;
		margin-right: 4px;
		min-height: 34px;
		min-width: 38px;
	}
	.openFullPreviewSection_d8e2d0 {
		@include mixins.btn;
		@include mixins.btnSecondary;
		min-height: 34px;
	}
	.downloadButton_d8e2d0 {
		padding: 0;
		width: 16px;
		height: 16px;
	}
	.anchor-1MIwyf.downloadSection_d8e2d0 {
		margin-left: 8px;
	}
}

// Light theme
.theme-light #app-mount .mentioned_d5deea {
	background: rgb(from var(--accent) r g b / 15%);
}
