@use '../mixins';

#app-mount {
	.message_ccca67:has(.channelTextArea__648e5).cozyMessage__9f4fd .contents_d3ae0d {
		display: block;
		width: 100%;
		background: var(--bg-content);
		.textArea_a86690 {
			height: auto;
			min-height: auto;
		}
		.channelTextArea__626ee {
			margin-top: 0;
		}
		.slateTextArea_b19976 {
			padding-top: 0;
			padding-bottom: 0;
		}
		.inner__9fd0b::before {
			content: none;
		}
		.buttons__7ecff {
			height: auto;
		}
	}
	.operations__62559 {
		padding: 8px 16px 16px 16px;
	}
	.mentioned_fa6fd2 {
		background: rgb(var(--chat-mention-colour), 0.05);
		&::before {
			background: rgb(var(--chat-mention-colour));
		}

		&.groupStart__7b93c .contents_d3ae0d {
			background: var(--chat-mention-bubble) !important;
			.messageContent_abea64:not(:empty) {
				background: transparent !important;
			}
		}
		&:not(.groupStart__7b93c) .messageContent_abea64:not(:empty) {
			background: var(--chat-mention-bubble) !important;
		}
	}

	.cozy_f5c119 {
		.avatar__08316 {
			left: var(--chat-spacing-x);
			margin-top: 0;
		}

		.contents_d3ae0d > .messageContent_abea64:not(:empty) {
			margin-left: 0;
			padding: var(--chat-padding-y) var(--chat-padding-x);
			background: var(--chat-bubble-bg);
			border-radius: var(--rounded);
			display: inline-block;
			max-width: calc(100% - var(--chat-spacing-x));
		}
		.container__2acd5 {
			padding: 0;
		}

		&.groupStart__7b93c .contents_d3ae0d {
			background: var(--chat-bubble-bg);
			display: inline-block;
			border-radius: var(--rounded) var(--rounded);
			max-width: 100%;

			.header__6a14d {
				padding-top: var(--chat-padding-y);
				padding-right: var(--chat-padding-x);
				padding-bottom: 2px;
				padding-left: var(--chat-padding-x);
				margin-left: 0;
			}
			.messageContent_abea64 {
				&:empty {
					margin-top: 8px;
					display: block;
				}
				&:not(:empty) {
					padding-top: 0;
				}
			}
		}

		&.isSystemMessage__0f7c5 .messageContent_abea64 {
			padding: 16px !important;
		}

		&.wrapper_a62503 {
			padding-left: calc(var(--chat-spacing-x) + 56px);
			padding-right: calc(var(--chat-spacing-x) - 11px) !important;
		}
	}

	.embedFull__14919 {
		background: var(--chat-bubble-bg);
	}

	.markup_a7e664 pre {
		margin: 0;
		max-width: 100%;
	}

	// Message/attachment actions
	.wrapper__4e6b6 {
		background: var(--bg-content);
		border-radius: var(--btn-radius);
		box-shadow: var(--shadow-flyout);
		height: auto;
		.button_d4bf9b {
			@include mixins.btn;
			@include mixins.btnSecondary;
			width: auto;
			height: auto;
			min-width: auto;
			border-radius: 0;
			&.dangerous__8fbad {
				color: hsl(var(--discord-red));
			}
		}
	}

	// @Mention/Link Channel
	.wrapper_f5f4c9 {
		background: rgb(var(--accent), 0.1);
		color: rgb(var(--accent));
		font-weight: var(--font-weight-semibold);
		cursor: default;
		&:hover {
			box-shadow: inset 0 0 0 100vmax var(--btn-bg-hover);
		}
	}

	// Reactions
	.reaction__4a43f {
		background: transparent;
		border-color: var(--border-high);
		border-radius: 50px;
		cursor: default;
		transition: none;
		&:hover {
			background: var(--bg-interactive-high);
		}
		&.reactionMe__0fffc {
			border-color: rgb(var(--accent));
			.reactionCount__2c34d {
				color: rgb(var(--accent));
			}
		}
	}

	// Codeblocks/file embeds
	.markup_a7e664 code {
		background: var(--bg-alt);
		border-color: var(--border-mid);
	}

	.textContainer__65f57 {
		background: var(--bg-content);
		border-radius: var(--rounded);
		border: 1px solid var(--border-mid);
	}
	.footer__90194 {
		background: transparent;
		border: none;
		margin-top: 4px;
		padding: 0;
		height: auto;
	}
	.toggleExpandSection__22220,
	.anchor-1MIwyf.downloadSection__849a6,
	.codeIcon_f2e957 {
		@include mixins.btn;
		@include mixins.btnSecondary;
		margin-right: 4px;
		min-height: 34px;
		min-width: 38px;
	}
	.openFullPreviewSection__4a973 {
		@include mixins.btn;
		@include mixins.btnSecondary;
		min-height: 34px;
	}
	.downloadButton__91f0f {
		padding: 0;
		width: 16px;
		height: 16px;
	}
	.anchor-1MIwyf.downloadSection__849a6 {
		margin-left: 8px;
	}
}

// Light theme
.theme-light #app-mount .mentioned_fa6fd2 {
	background: rgb(var(--accent), 0.15);
}
