@use '../assets/mono';

#app-mount {
	.form_a7d72e {
		margin: 0 12px 12px 0;
		padding: 8px 8px 8px 14px;
		background: var(--bg-main);
		min-height: var(--bottombar-height);
		align-items: center;
		display: flex;
		border: 1px solid var(--border-high);
		border-left: none;
		border-radius: 0 var(--rounded) var(--rounded) 0;
		box-sizing: border-box;
		&::before,
		&::after {
			content: none;
		}
	}
	.channelTextAreaContainer_d0696b,
	.channelBottomBarArea_a7d72e {
		width: 100%;
	}
	.channelTextArea_a7d72e {
		margin: 0;
		background: var(--bg-alt);
		position: relative;
		border-radius: var(--rounded);
		&:focus-within {
			background: var(--bg-content-alt);
			.inner_bdf0de::before {
				height: 2px;
				background: var(--accent);
			}
		}
	}
	.inner_bdf0de {
		padding: 0;
		&::before {
			content: '';
			width: 100vw;
			height: 1px;
			background: var(--textbox-underline);
			bottom: 0;
			top: unset;
			position: absolute;
			display: block;
		}
	}
	.sansAttachButton_d0696b:has(.attachWrapper_f298d4) {
		padding-left: 0;
	}
	.attachButton_f298d4 {
		height: 44px !important;
		width: 46px !important;
		svg {
			mask: url(mono.$plus-circle) center/cover;
			background: var(--interactive-normal);
			width: 24px;
			height: 24px;
		}
		path {
			display: none;
		}
		&:hover svg {
			background: var(--interactive-active);
		}
	}
	.floatingBars_bdf0de {
		display: none;
	}
	.channelAppLauncher_df39bd {
		display: var(--fluent-chatbox-app-button, none);
	}
	.scrollableContainer_bdf0de {
		background: transparent;
		padding-right: 8px;
		border-radius: var(--rounded);

		&::-webkit-scrollbar {
			display: none;
		}

		.button_dd4f85 {
			padding: 0 10px;
			margin: 0;
			height: 100%;
			svg {
				background: var(--interactive-normal);
			}
			path {
				display: none;
			}
			&:hover svg {
				background: var(--interactive-active);
			}
		}
		.contents_dd4f85 {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		.buttonWrapper_f9af59 {
			cursor: var(--cursor);
		}
	}

	.typingDots_d7ebeb {
		filter: drop-shadow(0 3px 5px hsl(0 0% 0% / 0.5));
	}

	// Gift
	svg:has(path[d^='M4 6a4 4 0 0 1 4-4h.09c1.8 0 3.39 1.18 3.91 2.9A4.09']) {
		mask: url(mono.$gift) center/cover;
	}
	// Gif Picker
	svg:has(
			path[d^='M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm2.18 13.87a2.9 2.9 0 0 1-1.66-.49 3.18 3.18 0 0 1-1.12-1.35A4.88']
		) {
		mask: url(mono.$gif) center/28px;
	}
	// Sticker
	svg:has(path[d^='M6 2h12a4 4 0 0 1 4 4v7.5a.5.5 0 0 1-.5.5H19a5']) {
		mask: url(mono.$sticker) center/28px;
	}
	// Emoji
	.sprite_d91a75 {
		width: 26px;
		height: 26px;
		mask: url(mono.$emoji) center/cover;
		background: var(--interactive-normal);
		filter: none !important;
		transform: none !important;
		transition: none !important;
		&:hover {
			background: var(--interactive-active);
		}
	}
}

// Remove halloween stuff
.decorativeLayer_efde15.decorativeLayerActive_efde15 {
	display: none;
}
