@use '../assets/mono';

#app-mount {
	.form-3qe0Ni {
		margin: 0 12px 12px 12px;//0 12px 12px 0;
		padding: 8px;//8px 8px 8px 14px;
		background: var(--bg-main);
		min-height: var(--bottombar-height);
		align-items: center;
		display: flex;
		border: 1px solid var(--border-high);
		//border-left: none;
		border-radius: var(--rounded);//0 var(--rounded) var(--rounded) 0;
		box-sizing: border-box;
		&::before {
			content: none;
		}

		.wrapper-2SplAX {
			margin-bottom: 0px;
		}
	}
	.channelTextArea-1deLlK {
		margin: 0;
		background: var(--bg-main);//var(--bg-alt);
		position: relative;
		border-radius: var(--rounded);
		/*&:focus-within {
			background: var(--bg-content-alt);
			.inner-NQg18Y::before {
				height: 2px;
				background: rgb(var(--accent));
			}
		}*/
	}
	.inner-NQg18Y.sansAttachButton-1ERHue{
		.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil {
			margin: 0;
			background: var(--bg-alt);
			position: relative;
			border-radius: var(--rounded);
			&:focus-within {
				background: var(--bg-content-alt);
				&::before {//.inner-NQg18Y::before {
					height: 2px;
					background: rgb(var(--accent));
				}
			}
		}

		.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil > div {
			padding-left: 5px;
			.placeholder-1rCBhr.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
				padding-left: 5px;
			}
		}

		.textArea-2CLwUE.textAreaSlate-9-y-k2.slateContainer-3x9zil::before {//.inner-NQg18Y::before {
			content: "";
			width: calc(100% - 2px);
			height: 1px;
			border-radius: 8px;
			background: var(--textbox-underline);
			bottom: 0;
			left: 1px;
			position: absolute;
		}
	}
	
	.sansAttachButton-1ERHue:has(.attachWrapper-3slhXI) {
		padding-left: 0;
	}
	.attachButton-_ACFSu {
		height: 44px !important;
		width: 46px !important;
		svg {
			mask: url(mono.$plus-circle) center/cover;
			background: var(--interactive-normal);
			width: 24px;
			height: 24px;
		}
		path {
			display: none;
		}
		&:hover svg {
			background: var(--interactive-active);
		}
	}

	.scrollableContainer-15eg7h {
		background: transparent;
		padding-right: 8px;
		border-radius: var(--rounded);

		&::-webkit-scrollbar {
			display: none;
		}

		.button-ejjZWC {
			padding: 0 10px;
			margin: 0;
			height: 100%;
			svg {
				background: var(--interactive-normal);
			}
			path {
				display: none;
			}
			&:hover svg {
				background: var(--interactive-active);
			}
		}
		.contents-3NembX {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		.buttonWrapper-3YFQGJ {
			cursor: var(--cursor);
		}
	}

	.typingDots-1Y8dki {
		filter: drop-shadow(0 3px 5px hsl(0 0% 0% / 0.5));
	}

	// Gift
	svg:has(path[d^='M16.886 7.999H20C21.104']) {
		mask: url(mono.$gift) center/cover;
	}
	// Gif Picker
	svg:has(path[d^='m2 2c-1.1046']) {
		mask: url(mono.$gif) center/28px;
	}
	// Sticker
	svg:has(path[d^='M12.0002 0.662583V5.40204C12.0002']) {
		mask: url(mono.$sticker) center/28px;
	}
	// Emoji
	.sprite-2lxwfc {
		width: 26px;
		height: 24px;//26px;
		mask: url(mono.$emoji) center/cover;
		background: var(--interactive-normal);
		filter: none !important;
		transform: none !important;
		transition: none !important;
		&:hover {
			background: var(--interactive-active);
		}
	}

	//Icon buttoms position (keep icons in the bottom of the text box)
	.inner-NQg18Y.sansAttachButton-1ERHue {
		.buttons-uaqb-5, .attachWrapper-3slhXI{
			margin-top: auto;
			height: 24px !important;
			padding-bottom: 10px;
			* {height: 24px !important;}
		}
	}
}
