@mixin serverBg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: var(--server-size);
	height: var(--server-size);
	display: block;
	opacity: 0;
	border-radius: var(--rounded);
	background: var(--server-bg);
	border: 1px solid var(--btn-border-x);
	border-top-color: var(--btn-border-t);
	border-bottom-color: var(--btn-border-b);
	transform: translate(-50%, -50%);
	z-index: 1;
}