@use '../assets/mono';
@use '../mixins';

#app-mount .layer-86YKbF[aria-label*="SETTINGS"] {
	h1.title-3hptVQ {
		@include mixins.title;
	}
	.divider-_0um2u,
	.divider-ogkn3u {
		display: none;
	}
	.title-2dsDLn {
		cursor: var(--cursor);
	}

	// Cards
	[class^="margin"] > .title-3hptVQ {
		@include mixins.subTitle;
	}
	// Switches
	.container-1zDvAE {
		@include mixins.card;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 0;
		margin-bottom: 4px;
		.title-2dsDLn {
			@include mixins.cardTitle;
		}
		.note-2C4pGr {
			@include mixins.cardDesc;
		}
		& + .title-3hptVQ,
		& + div[class^="margin"]:not(.container-1zDvAE) {
			margin-top: 40px;
		}
	}
	[class^="margin"] + [class^="margin"] {
		margin-top: 40px;
		margin-bottom: 0;
	}
}