@use '../assets/mono';
@use '../mixins';

#app-mount .layer-86YKbF.layer-86YKbF:not(.baseLayer-W6S8cY) {
	h1.title-3hptVQ {
		@include mixins.title;
	}
	.divider-_0um2u,
	.divider-ogkn3u {
		display: none;
	}
	.title-2dsDLn {
		cursor: var(--cursor);
	}

	// Section title
	[class^="margin"] > .title-3hptVQ,
	.marginTop40-Q4o1tS > .sectionTitle-3j2YI1 > .title-3hptVQ,
	.title-3hptVQ.marginBottom8-emkd0_,
	.sectionTitle-3j2YI1 .title-3hptVQ:not(h1) {
		@include mixins.subTitle;
	}

	// Section description/text
	.children-1xdcWE > .description-30xx7u.formText-2ngGjI {
		@include mixins.subText;
	}


	// Form description (use data to make discord work, ect...)
	.title-3hptVQ.marginBottom8-emkd0_,
	.title-3hptVQ.defaultMarginh3-2aILfT {
		& + .description-30xx7u.formText-2ngGjI {
			background: var(--bg-content);
			border-radius: var(--rounded);
			border: 1px solid var(--border);
			padding: 16px;
		}
	}

	// Spacing
	.children-1xdcWE > .divider-_0um2u + div {
		margin-top: 40px;
	}

	// Switches
	.container-1zDvAE {
		@include mixins.card;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 0;
		margin-bottom: 4px;
		.title-2dsDLn {
			@include mixins.cardTitle;
		}
		.note-2C4pGr {
			@include mixins.cardDesc;
		}
		& + .title-3hptVQ,
		& + div[class^="margin"]:not(.container-1zDvAE) {
			margin-top: 40px;
		}
	}

	// Scrollbars
	.contentRegionScroller-2_GT_N {
		margin-top: calc(var(--win-btn-height) + 16px);
	}

	// Spacing resets
	[class^="margin"] + [class^="margin"] {
		margin-top: 40px;
		margin-bottom: 0;
	}
	.children-1xdcWE > [class^="marginBottom"]:not(:only-child):first-child {
		margin-bottom: 0;
	}
	.title-3hptVQ.defaultMarginh3-2aILfT {
		margin-top: 40px;
	}
}