#app-mount {
	.autocomplete-3jLKb0j,
	.outerWrapper__99794,
	.autocomplete__743a5 {
		background: var(--bg-menu);
		border: 1px solid var(--border-high);
		box-shadow: var(--shadow-flyout);
	}

	// Left side
	.wrapper__35c78,
	.wrapper__85934 {
		background: var(--bg-main);
	}

	// Right side
	.wrapper__91b2c {
		background: var(--bg-menu);
	}

	.autocompleteRow__2a1b9 {
		border-radius: var(--rounded);
		padding: 0 4px;
		.base__87e58 {
			padding: 6px 16px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: var(--pill-width);
				height: 0;
				border-radius: 30px;
				background: rgb(var(--accent));
				opacity: 0;
				transition: var(--pill-transition);
			}
		}
		.selected-3H3-RC {
			background: var(--bg-menu-item);
			&::before {
				height: var(--pill-height);
				opacity: 1;
			}
		}
	}
}
