@use '../mixins';

#app-mount {
	.container__20de0 {
		@include mixins.popoutContainer;
	}
	.container__56e52 {
		padding: 0;
		margin: 0;
	}
	.channelHeader__5d30c {
		background: var(--bg-main);
		padding: 0 12px;
	}
	.messageContainer_aa7d14 {
		padding-top: 0;
		margin-left: 0;
		background: transparent;
	}
}
