@use '../mixins';

#app-mount {
	.container_eb737e {
		@include mixins.popoutContainer;
	}
	.container__7c2c1 {
		padding: 0;
		margin: 0;
	}
	.channelHeader_ea0f89 {
		background: var(--bg-main);
		padding: 0 12px;
	}
	.messageContainer_cb3d47 {
		padding-top: 0;
		margin-left: 0;
		background: transparent;
	}
}
