@use '../mixins';

#app-mount {
	.container_f1c3d9 {
		@include mixins.popoutContainer;
	}
	.container_ddb5b4 {
		padding: 0;
		margin: 0;
	}
	.channelHeader_f3978e {
		background: var(--bg-main);
		padding: 0 12px;
	}
	.messageContainer_ddb5b4 {
		padding-top: 0;
		margin-left: 0;
		background: transparent;
	}
}
