@use '../mixins';

#app-mount {
	.messagesPopoutWrap_ac90a2 {
		@include mixins.popoutContainer;

		.messageGroupWrapper_ac90a2 {
			background: transparent;
		}
		.cozy_ec86aa.wrapper_ec86aa {
			padding: 8px 16px 8px 72px;
			img {
				left: 16px;
			}
			.header_ec86aa {
				margin-bottom: 6px;
			}
		}
		.actionButtons_ac90a2 {
			top: 0;
			right: 0;
		}
	}
}
