@use '../mixins';

#app-mount {
	.messagesPopoutWrap__45690 {
		@include mixins.popoutContainer;

		.messageGroupWrapper__45690 {
			background: transparent;
		}
		.cozy_c19a55.wrapper_c19a55 {
			padding: 8px 16px 8px 72px;
			img {
				left: 16px;
			}
			.header_c19a55 {
				margin-bottom: 6px;
			}
		}
		.actionButtons__45690 {
			top: 0;
			right: 0;
		}
	}
}
