@use '../mixins';

#app-mount {
	.container_eedf95 {
		border: 1px solid var(--border);
		background: var(--bg-menu);
		border-radius: var(--rounded);
		overflow: hidden;
		box-shadow: none;
		min-width: 248px;
		&:empty {
			display: none;
		}
	}
	.option_b0286e {
		@include mixins.text;
		height: auto;
		border-radius: var(--rounded);
		padding: 8px 12px;
		cursor: var(--cursor);
		margin: 0;
		&::before,
		&::after {
			content: none;
		}
		&:hover {
			background: var(--bg-menu-item);
		}
	}
	.plusIcon_b0286e {
		display: none;
	}

	.header_b0286e {
		padding: 8px 12px;
	}
	.resultsGroup_b0286e {
		padding: 4px;
		margin: 0;
		&::before {
			content: none;
		}
		& ~ .resultsGroup_b0286e {
			padding-top: 0;
		}
	}
	.filter_b0286e,
	.displayedNick_b0286e {
		color: var(--text-primary);
	}
	.answer_b0286e,
	.displayUsername_b0286e {
		color: var(--text-tertiary);
	}
}
