@use '../mixins';

#app-mount {
	.container__55c99 {
		border: 1px solid var(--border);
		background: var(--bg-menu);
		border-radius: var(--rounded);
		overflow: hidden;
		box-shadow: none;
		min-width: 248px;
		&:empty {
			display: none;
		}
	}
	.option__56fec {
		@include mixins.text;
		height: auto;
		border-radius: var(--rounded);
		padding: 8px 12px;
		cursor: var(--cursor);
		margin: 0;
		&::before,
		&::after {
			content: none;
		}
		&:hover {
			background: var(--bg-menu-item);
		}
	}
	.plusIcon__56fec {
		display: none;
	}

	.header__56fec {
		padding: 8px 12px;
	}
	.resultsGroup__56fec {
		padding: 4px;
		margin: 0;
		&::before {
			content: none;
		}
		& ~ .resultsGroup__56fec {
			padding-top: 0;
		}
	}
	.filter__56fec,
	.displayedNick__56fec {
		color: var(--text-primary);
	}
	.answer__56fec,
	.displayUsername__56fec {
		color: var(--text-tertiary);
	}
}
