@use '../mixins';

#app-mount {
	.container_d6dad3 {
		border: 1px solid var(--border);
		background: var(--bg-menu);
		border-radius: var(--rounded);
		overflow: hidden;
		box-shadow: none;
		min-width: 248px;
		&:empty {
			display: none;
		}
	}
	.option_b5597b {
		@include mixins.text;
		height: auto;
		border-radius: var(--rounded);
		padding: 8px 12px;
		cursor: var(--cursor);
		margin: 0;
		&::before,
		&::after {
			content: none;
		}
		&:hover {
			background: var(--bg-menu-item);
		}
	}
	.plusIcon__36244 {
		display: none;
	}

	.header_b24bd1 {
		padding: 8px 12px;
	}
	.resultsGroup_ea9b64 {
		padding: 4px;
		margin: 0;
		&::before {
			content: none;
		}
		& ~ .resultsGroup_ea9b64 {
			padding-top: 0;
		}
	}
	.filter_bd5fe7,
	.displayedNick_df9a16 {
		color: var(--text-primary);
	}
	.answer__9ff92,
	.displayUsername_aea59a {
		color: var(--text-tertiary);
	}
}
