@use '../mixins';

#app-mount {
	.container_e664f3 {
		@include mixins.popoutContainer;
	}
	.header_e664f3 {
		border-bottom: 1px solid var(--border-high);
		background: var(--bg-alt);
		padding: 0 12px;
		gap: 0 12px;
		& > * {
			margin: 0;
		}
	}
	.divider_e664f3 {
		background: var(--border-high);
		height: 100%;
	}
}
