@use '../mixins';

#app-mount {
	.container__8261a {
		@include mixins.popoutContainer;
	}
	.header__53b07 {
		border-bottom: 1px solid var(--border-high);
		background: var(--bg-alt);
		padding: 0 12px;
		gap: 0 12px;
		& > * {
			margin: 0;
		}
	}
	.divider_dec9ac {
		background: var(--border-high);
		height: 100%;
	}
}
