@use '../mixins';

#app-mount {
	.container-18GwIk {
		@include mixins.popoutContainer;
	}
	.header-3_zmOb {
		border-bottom: 1px solid var(--border-high);
		background: var(--bg-alt);
		padding: 0 12px;
		gap: 0 12px;
		& > * {
			margin: 0;
		}
	}
	.divider-2xk5N2 {
		background: var(--border-high);
		height: 100%;
	}
}
