@use '../mixins';

#app-mount {
	.userPopout-2j1gM4 {
		border-radius: var(--rounded-high);
		box-shadow: 0 0 0 1px var(--border-high), var(--shadow-flyout);
		width: 300px !important;
		box-sizing: border-box;
		.avatarWrapper-eenWra {
			position: absolute;
			top: 24px;
			right: 24px;
			left: unset;
		}
		.avatar-2Vndt_ {
			background: hsl(0 0% 100% / .2);
			border-color: transparent;
			box-shadow: 0 0 0 2px hsl(0 0% 100% / .2);
		}
		.size12-oc4dx4 {
			@include mixins.subText;
			text-transform: none;
		}
		.headerTop-3GPUSF {
			padding: 0;
			position: absolute;
			top: 0;
			padding: 24px;
			box-sizing: border-box;
			height: 160px;
			width: 100%;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
			gap: 8px;
		}
	}
	.headerNormal-3Zn_yu {
		width: 100%;
		border-radius: var(--rounded) var(--rounded) 0 0;
		overflow: hidden;
		height: 160px;
		position: relative;
		.banner-1YaD3N {
			display: none;
		}
		.bannerPremium-kkSkPv{
			-webkit-mask: linear-gradient(hsl(0 0% 0% / .5), transparent 90%);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			display:block !important;
			left: 0;
			max-width: unset;
		}
	}
	.nickname-t08Mck {
		max-width: 180px;
	}
	.profileBadges-2pItdR {
		position: static;
		max-width: unset;
		justify-content: flex-start;
	}

	.body-2wLx-E {
		margin-top: -24px;
		padding: 0 24px 24px !important;
		& > div[aria-hidden="true"] {
			display: none;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.bodyInnerWrapper-2bQs1k {
		background: transparent;
	}
	.note-Go5ZP2 {
		margin: 0;
	}
	.divider-1wtgZ3 {
		display: none;
	}
	.button-f2h6uQ ~ .aboutMeSection-PUghFQ {
		margin-top: 24px;
	}
	.rolesList-3uZoaa {
		gap: 8px;
	}
	.role-2TIOKu {
		@include mixins.subText;
		margin: 0;
		height: auto;
		padding: 6px 8px;
		border-radius: var(--rounded);
		color: var(--text-primary);
		gap: 4px;
		position: relative;
		overflow: hidden;
		&:hover .roleCircle-1EgnFN {
			width: 100%;
			opacity: 1;
		}
	}
	.roleCircle-1EgnFN {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		height: 100%;
		border-radius: 0;
		width: 100%;
		//-webkit-mask: linear-gradient(90deg, hsl(0 0% 0%), transparent);
		filter: none;
		//opacity: .35;
		opacity: .85;
		justify-content: flex-start;
		padding: 8px;
		box-sizing: border-box;
		transition: .15s var(--transition);
		&:not(:empty) ~ .roleName-2ZJJYR {
			margin-left: 22px;
		}
	}
	.roleName-2ZJJYR {
		position: relative;
		margin: 0;
		transition: margin-left .15s var(--transition);
	}
	.roleRemoveIcon-387wKV {
		width: 16px;
		height: 16px;
		display: block;
	}

	.footer-3naVBw {
		padding: 0 24px 24px;
		margin: 0;
	}

	.buttonInner-1RE0NV{
		svg {
			transform: scale(1.7)
		}
	}
	.toolbar-37BrJ5{
		height: 40px;
		top: 0px;
		bottom: 300px !important;
	}
}