@use '../mixins';

#app-mount {
	.userPopoutOuter-3AVBmJ {
		box-shadow: 0 0 0 1px var(--border-high), var(--shadow-flyout);
		padding: 0;
		.userProfileInnerNonPremium-1XjSjn .bannerSVGWrapper-qc0szY {
			min-height: 120px !important;
			foreignObject {
				y: -30;
				mask: none;
			}
		}
		.avatarWrapperNormal-1tQ3Je {
			position: absolute;
			top: 16px;
			right: 16px;
			left: unset;
			background: hsl(0 0% 100% / 0.2);
			border-color: transparent;
			box-shadow: 0 0 0 8px hsl(0 0% 100% / 0.2);
			circle[fill='black'] {
				opacity: 0 !important;
			}
		}
		.overlayBackground-1KgwVi {
			overflow: visible;
			position: static;
			z-index: 2;
			margin-top: 0;
			& > .section-3FmfOT:first-child {
				padding: 0;
				position: absolute;
				top: 16px;
				left: 16px;
			}
			& > .divider-1tWBgZ {
				display: none;
			}
		}
		.profileBadges-31rDHI {
			position: absolute;
			right: unset;
			left: 16px;
			top: 66px;
			z-index: 2;
			background: transparent;
			padding: 0;
		}
	}
	.userProfileInnerWithBanner-3CJ1Og {
		background: transparent;
	}
	.userProfileInner-3F03PX:not(.userProfileInnerNonPremium-1XjSjn) {
		.role-2TIOKu {
			background: var(--bg-transparent);
		}
		.inputDefault-3FGxgL {
			background: var(--bg-transparent);
			border-color: var(--bg-transparent);
			&:hover {
				background: var(--bg-transparent-hover);
			}
			&:focus {
				background: var(--bg-transparent-active) !important;
			}
		}
	}
	.userProfileInnerNonPremium-1XjSjn {
		background: var(--bg-main);
		.overlayBackground-1KgwVi {
			margin: 0;
			background: transparent;
			padding: 0 8px 8px;
		}
	}
	.banner-2boKnS {
		mask: linear-gradient(hsl(0 0% 0% / 0.5), transparent 90%);
		position: absolute;
		width: 100%;
		height: 120px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: unset;
		[role='button'] {
			display: none;
		}
	}
	.userPopoutInner-1hXSeY::before {
		content: none;
	}

	.nameTag-H6kSJ0 {
		line-height: normal;
	}

	.messageInputContainer-2rGDH8 {
		border: none;
		border-radius: unset;
	}

	.roles-3zC7MX {
		gap: 8px;
	}
	.role-2TIOKu {
		color: var(--text-secondary);
		line-height: var(--line-height);
		background: var(--bg-content);
		margin: 0;
		padding: 6px 8px;
		height: unset;
		border-radius: 50px;
		border: none;
	}
	.roleCircle-3K9O3d {
		margin: 0;
	}
	.roleName-2ZJJYR {
		margin: 0 0 0 4px;
	}

	// Bottom left thingy
	.accountProfilePopoutWrapper-3GskID {
		left: 0;
	}
}
