@use '../mixins';
@use '../classes' as *;

#{cls('mount')} {
	#{cls('popout.user.outer')} {
		box-shadow: 0 0 0 1px var(--border-high), var(--shadow-flyout);
		padding: 0;
		#{cls('popout.user.nonPremium popout.user.bannerWrapper')} {
			min-height: 120px !important;
			foreignObject {
				y: -30;
				mask: none;
			}
		}
		#{cls('popout.user.avatarNormal')} {
			position: absolute;
			top: 16px;
			right: 16px;
			left: unset;
			background: hsl(0 0% 100% / 0.2);
			border-color: transparent;
			box-shadow: 0 0 0 8px hsl(0 0% 100% / 0.2);
			circle[fill='black'] {
				opacity: 0 !important;
			}
		}
		#{cls('popout.user.overlay')} {
			overflow: visible;
			position: static;
			z-index: 2;
			margin-top: 0;
			& > #{cls('popout.user.section')}:first-child {
				padding: 0;
				position: absolute;
				top: 16px;
				left: 16px;
			}
			& > #{cls('popout.user.divider')} {
				display: none;
			}
			#{cls('popout.user.section')} {
				padding-right: 0 !important;
			}
		}
		#{cls('popout.user.badges')} {
			position: absolute;
			right: unset;
			left: 16px;
			top: 66px;
			z-index: 2;
			background: transparent;
			padding: 0;
		}
	}
	#{cls('popout.user.innerWithBanner')} {
		background: transparent;
	}
	#{cls('popout.user.inner!popout.user.innerNonPremium')} {
		#{cls('roles.role')} {
			background: var(--bg-transparent);
		}
		#{cls('input.default')} {
			background: var(--bg-transparent);
			border-color: var(--bg-transparent);
			&:hover {
				background: var(--bg-transparent-hover);
			}
			&:focus {
				background: var(--bg-transparent-active) !important;
			}
		}
	}
	#{cls('popout.user.innerNonPremium')} {
		background: var(--bg-main);
		#{cls('popout.user.overlay')} {
			margin: 0;
			background: transparent;
			padding: 0 8px 8px;
		}
	}
	#{cls('popout.user.banner')} {
		mask: linear-gradient(hsl(0 0% 0% / 0.5), transparent 90%);
		position: absolute;
		width: 100%;
		height: 120px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: unset;
		[role='button'] {
			display: none;
		}
	}
	#{cls('popout.user.inner')}::before {
		content: none;
	}

	#{cls('popout.user.nameTag')} {
		line-height: normal;
	}

	#{cls('popout.user.messageContainer')} {
		border: none;
		border-radius: unset;
	}

	#{cls('roles.roles')} {
		gap: 8px;
	}
	#{cls('roles.role')} {
		color: var(--text-secondary);
		line-height: var(--line-height);
		background: var(--bg-content);
		margin: 0;
		padding: 6px 8px;
		height: unset;
		border-radius: 50px;
		border: none;
	}
	#{cls('roles.circle')} {
		margin: 0;
	}
	#{cls('roles.name')} {
		margin: 0 0 0 4px;
	}

	// Bottom left thingy
	#{cls('popout.currentUser.wrapper')} {
		left: 0;
	}
}
