@mixin title {
	color: var(--header-primary);
	font-size: var(--text-size-xl);
	line-height: var(--line-height-2xl);
	margin-bottom: 48px;
}
@mixin subTitle {
	color: var(--text-primary);
	font-size: var(--text-size);
	line-height: var(--line-height-md);
	margin-bottom: 12px;
	text-transform: none;
}

@mixin card {
	background: var(--bg-content);
	border: 1px solid var(--border);
	border-radius: var(--rounded);
	padding: 18px;
	display: flex;
	align-items: center;
	gap: 0 18px;
	position: relative;
	flex-direction: row;
}
@mixin cardIcon {
	width: 22px;
	height: 22px;
	mask-size: cover;
	mask-position: center;
	background: var(--text-primary);
	display: block;
}
@mixin cardTitle {
	color: var(--text-primary);
	font-size: var(--text-size-sm);
	font-weight: var(--font-weight-regular);
	text-transform: none;
	display: block;
}
@mixin cardDesc {
	display: block;
	font-size: var(--text-size-xs);
	color: var(--text-muted);
	margin-top: 4px;
}

@mixin btnReset {
	background: var(--btn-bg);
	font-weight: var(--font-weight-regular);
	color: var(--text-primary);
	box-shadow: none !important;
	&:hover {
		background: var(--btn-bg-hover);
		border-color: var(--btn-border-t) var(--btn-border-x) var(--btn-border-b);
	}
	&:active {
		background: var(--btn-bg-active);
		border-color: var(--btn-border-active);
	}
}