:root {
	--fluent-version: '0.0.7 [BETA]';

	--background-1: #171717;
	--background-2: #202020;
	--background-3: #272727;
	--background-4: #2b2b2b;
	--background-5: #2f2f2f;
	--background-6: #2d2d2d;
	--background-7: #343434;
	--background-8: #3a3a3a;
	--background-9: #484848;

	--accent-text: #000;

	--border: #1d1d1d;
	--border-high: #3b3b3b;

	--pill-unread: #9a9a9a;
	--pill-hovered: #fff;

	--btn-bg: var(--background-4);
	--btn-bg-hover: var(--background-7);
	--btn-radius: 4px;

	--scrollbar-background: hsl(0 0% 50%);

	--elevation-1: 0px 8px 16px hsl(0 0% 0% / .14);
	--elevation-2: 0px 10px 14px 2px hsl(0 0% 0% / .24);

	--textbox-bg: #2f2f2f;
	--textbox-bg-hover: #333333;
	--textbox-border: hsl(0 0% 100% / .045);
	--textbox-underline: #a1a1a1;

	--rounded-high: 8px;
	--rounded: 4px;

	--font-weight-light: 300;
	--font-weight-semilight: 350;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--text-size-caption: 12px;
	--text-size-body: 14px;
	--text-size-body-large: 18px;
	--text-size-subtitle: 20px;
	--text-size-title: 28px;
	--text-size-title-large: 40px;

	--line-height: 16px;
	--line-height-md: 20px;
	--line-height-lg: 24px;
	--line-height-xl: 28px;
	--line-height-2xl: 36px;
	--line-height-3xl: 52px;

	--font-display: 'Segoe UI', sans-serif;
	--font-primary: 'Segoe UI', sans-serif;

	--cursor: default;

	--server-container: 16px;

	--win-btn-height: 32px;
	--win-btn-width: 52px;

	--discord-pink: 302 calc(var(--saturation-factor, 1) * 100%) 72.5%;
	--discord-red: 359 calc(var(--saturation-factor, 1) * 82.6%) 59.4%;
}