:root {
	--fluent-version: '0.1.8 (BETA)';

	--accent-text: #000;
	--accent-solid: rgb(var(--accent));

	--pill-width: 4px;
	--pill-height: 16px;
	--pill-transition: opacity .15s ease, height .15s ease;

	--btn-radius: 6px;
	--rounded-high: 8px;
	--rounded: 4px;

	--toolbar-height: 64px;

	--font-weight-light: 300;
	--font-weight-semilight: 350;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size: 16px;
	--font-size-md: 18px;
	--font-size-lg: 20px;
	--font-size-xl: 28px;
	--font-size-2xl: 40px;

	--line-height: 16px;
	--line-height-md: 20px;
	--line-height-lg: 24px;
	--line-height-xl: 28px;
	--line-height-2xl: 36px;
	--line-height-3xl: 52px;

	--font-display: 'Segoe UI', sans-serif;
	--font-primary: 'Segoe UI', sans-serif;

	--cursor: default;

	--chat-mention-colour: var(--accent);
	--chat-padding-y: 12px;
	--chat-padding-x: 16px;
	--chat-spacing-y: 32px;
	--chat-spacing-x: 32px;

	--server-container: 8px;

	--banner-height: 155px;

	--win-btn-height: 32px;
	--win-btn-width: 52px;

	--discord-pink: 302 calc(var(--saturation-factor, 1) * 100%) 72.5%;
	--discord-red: 359 calc(var(--saturation-factor, 1) * 82.6%) 59.4%;
	--discord-grey: 217 8% 34%;

	--text-normal: var(--text-primary);
	--text-muted: var(--text-tertiary);
	--text-link: rgb(var(--accent));
}