/**
 * @name Fluent
 * @author Gibbu#1211
 * @version 0.0.1
 * @description Brings the look of Windows 11 to Discord.
 * @source https://github.com/DiscordStyles/Fluent
*/

:root {
	--accent: 98, 205, 254;

	--channels-width: 280px;
	--members-width: 280px;
}