@use '../../mixins';

#app-mount .layer__960e4 ~ .layer__960e4 {
	.customColumn__23e6b {
		padding: 0 32px 32px;
		max-width: 1000px;
		& > div {
			animation: settingsIn 0.25s ease forwards;
		}
		div[aria-hidden='true'][style='height: 60px;'] {
			display: none;
		}
	}

	// List
	.container_d8f25b {
		@include mixins.card;
		cursor: var(--cursor);
		.icon_d8f25b {
			width: 22px;
			height: 22px;
			background: transparent;
			svg {
				width: 100%;
				height: 100%;
			}
		}
		.description_d8f25b {
			margin: 0;
		}
		.label_d8f25b {
			@include mixins.cardTitle;
		}
		.size12-oc4dx4 {
			@include mixins.cardDesc;
		}

		&:hover {
			background: var(--bg-content-alt);
		}
	}

	.searchContainer-16qhPt {
		gap: 16px;
	}
	.tableHeader-2h-wc8 {
		margin: 0;
		padding: 16px;
		.tableTitle-3zdrSx {
			@include mixins.subText;
		}
		.dragSpacing-2GB_1h {
			display: none;
		}
		.memberSpacing-1RRW7k {
			margin-left: 28px;
		}
	}
	.roleRow-3LoHQ6 {
		margin: 0;
		position: relative;
		padding: 0 16px;
		cursor: var(--cursor);
		border-radius: 0;
		border-left: 1px solid var(--border);
		border-right: 1px solid var(--border);
		background: var(--bg-content);

		& + .roleRow-3LoHQ6 {
			border-top: 1px solid var(--border);
		}

		&:not(.roleRow-3LoHQ6 + .roleRow-3LoHQ6) {
			border-radius: var(--rounded-high) var(--rounded-high) 0 0;
		}

		&:first-of-type {
			border-top: 1px solid var(--border);
		}
		&:last-of-type {
			border-bottom: 1px solid var(--border);
			border-radius: 0 0 var(--rounded-high) var(--rounded-high);
		}

		&::before,
		&::after {
			content: none;
		}

		.dragIcon-kQZ0Jv {
			position: absolute;
			left: 10px;
			background: var(--bg-content-alt);
			z-index: 1;
		}
		.circleButton-33AIyY {
			@include mixins.btn;
			@include mixins.btnSecondary;
		}

		&:hover {
			background: var(--bg-content-alt);
		}
	}

	// Role
	.sidebar_e29cd7 {
		border: none;
		width: 240px;
		flex: 0 0 240px !important;
	}
	.list_e29cd7 {
		padding: 0 16px 16px;
		.item-3XjbnG {
			margin: 0 0 4px;
			height: auto;
			padding: 8px 16px;
			cursor: var(--cursor);
			border-radius: var(--rounded);
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: var(--accent);
				width: var(--pill-width);
				height: 0;
				opacity: 0;
				border-radius: 30px;
				transition: var(--pill-transition);
			}
			&:hover {
				background: var(--bg-interactive);
			}
			&.selected-g-kMVV {
				background: var(--bg-interactive);
				&::before {
					height: var(--pill-height);
					opacity: 1;
				}
				&:hover {
					background: var(--bg-interactive-hover);
				}
			}
		}
	}
	.titleContainer_e29cd7 {
		padding: 16px;
		margin: 0;
		background: var(--bg-main);
		box-shadow: none;
	}
	.title_e29cd7 {
		cursor: var(--cursor);
		&:hover .left_caab99 {
			background: var(--bg-interactive);
		}
	}
	.titleText_e29cd7 {
		@include mixins.subText;
		margin-left: 4px;
	}
	.left_caab99 {
		width: 32px;
		height: 32px;
		padding: 8px;
		box-sizing: border-box;
		border-radius: var(--btn-radius);
	}

	.contentWidth_c6bf1b {
		width: 100%;
		max-width: 760px;
		padding: 0 32px;
	}
	.header_c6bf1b {
		background: var(--bg-main);
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		.tabBar__81b3e {
			border: none;
			margin: 0;
		}
	}
	.permissionsForm__16663 {
		& > h5 {
			@include mixins.subTitle;
		}
		& + .permissionsForm__16663 {
			margin-top: 40px;
		}
	}
}
